/* CSS Document */
.views-fluid-grid i.zmdi {
  font-size: 1.75rem;
  padding:1.5rem;
  margin: 0 auto;
}

.page-cle-app #page-title {
  display: none;
}

app-root .progress {
  background-color: #833900;
}
app-root .indeterminate {
  background-color: #ffc107;
}
app-root .btn-large {
  background-color: #ffc107;
  color: #833900;
}

app-root .btn-large:hover {
  color: #ffc107;
  background-color: #833900;
}

app-root .btn[type=submit] {
  background-color: #ffc107;
  color: #833900;
}

app-root .btn[type=submit]:hover {
  color: #ffc107;
  background-color: #833900;
}

article app-root nav {
  display: none;
}
article app-root cle-assignment nav,
article app-root app-submission nav {
  display: block;
}

article app-root #nav-mobile li {
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

article app-root #nav-mobile li a,
article app-root #nav-mobile-right li a {
  line-height: 3rem;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 .5rem;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
  border-color: #ffc107;
  color:#833900;
}
article app-root #nav-mobile li a i,
article app-root #nav-mobile-right li a i {
  line-height: 3rem;
}

article app-root #nav-mobile.left li a:hover {
  background-color: #ffecb3;
  color: #000000;
  border-bottom-style: solid;
  border-bottom-width: .2rem;
}

article app-root div {
  font-size: 1rem;
}

article app-root .container .row {
  margin: 0;
}

.project__board {
  padding: 1rem 0 0 0 !important;
}

/* Scroll bar for breadcrumb nav that's really really long */
app-root .projects-container {
  overflow-x: scroll;
}

app-root .projects-container {
  scrollbar-face-color: #833900;
  scrollbar-shadow-color: #ffc107;
  scrollbar-highlight-color:#ffc107;
  scrollbar-3dlight-color: #ffc107;
  scrollbar-darkshadow-color: #ffc107;
  scrollbar-track-color: #ffc107;
  scrollbar-arrow-color: #ffc107;
}
app-root .projects-container::-webkit-scrollbar-track {
  background-color: #833900;
} /* the new scrollbar will have a flat appearance with the set background color */

app-root .projects-container::-webkit-scrollbar-thumb {
  background-color: #ffc107;
} /* this will style the thumb, ignoring the track */

app-root .projects-container::-webkit-scrollbar-button {
  background-color: #833900;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

app-root .projects-container::-webkit-scrollbar-corner {
  background-color: #833900;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner*/

app-root .projects-container::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
} /* this targets the default scrollbar (compulsory) */

/* end scroll bar styling */

.etb-book article app-root app-submission h1 {
  font-size: 2rem;
}

article app-root cle-assignment-list ul li {
  list-style-type: none !important;
}
article app-root ul li a {
  height: 4rem;
  line-height: 4rem;
  padding: 0;
}
article app-root ul li .assignment a {
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0;
  color:#833900;
}

app-projects-list ul {
  margin: 0 !important;
}

app-projects-list .project__title {
  margin: 0;
  padding: .25rem;
  font-size: 1.2rem !important;
  text-align: left;
  color:#833900;
}

cle-assignment .assignment__title {
  margin: 0;
  padding: .5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}

app-root .switch label {
  background:none;
  color: #000000;
  width: unset;
  height: unset;
  text-indent:unset;
}

app-root .switch label:after {
  content: none;
}