// menus

.li-menu-definition {
	li {
		list-style: none;
		&.leaf, &.collapsed {
			list-style: none;
			a {
				// background-color: rgb(95,95,95);
				padding:18px;
				display:block;
				
				&:visited, &:link {
					text-decoration: none;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
ul {
	// &.side-nav {
	// 	ul {
	// 		@extend .li-menu-definition;
	// 	}
	// }
	list-style: none;
	&.menu {
		@extend .li-menu-definition;
	}
	&.links {
		li {
			list-style: none;
		}
	}	
}