<!-- Modal Structure -->
<div id="modal-assignment-dialog" class="modal modal-fixed-footer assignment-dialog">

  <!--Create or Update Assignment-->
  <div *ngIf="action === 'create' || action === 'update'">
    <div class="modal-content">
      <h2 *ngIf="assignment.id">Edit Assignment</h2>
      <h2 *ngIf="!assignment.id">Create Assignment</h2>
      <app-assignment-form [assignment]="assignment" (assignmentSave)="onAssignmentSave($event)"></app-assignment-form>
    </div>
    <div class="modal-footer">
      <a (click)="onSave()" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
      <a (click)="onCancel()" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

  <!--DELETE Assignment-->
  <div *ngIf="action === 'delete'">
    <div class="modal-content">
      <h2>Are you sure you want to delete this assignment?</h2>
      <p>The following assignment will be deleted: {{ assignment.title }}</p>
      <p>Are you sure you want to proceed?</p>
    </div>
    <div class="modal-footer">
      <a (click)="onDelete()" class="modal-action modal-close waves-effect waves-red btn-flat">Delete</a>
      <a (click)="onCancel()" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>
</div>