/* CSS Document */
.node-type-cle-submission .elmsln-content-wrap {
  margin-top: 1rem;
}

.node-cle_critique-form .horizontal-tabs {
  display: none;
}

ol.cle-assignment-listing-multi-submission {
  margin: 0;
  padding: 0;
}

ol.cle-assignment-listing-multi-submission li {
  padding: .25rem;
  margin: 0;
}

.user-picture {
  float:right;
  margin-bottom:10px;
}
.node .rate-widget {
  margin-top:10px;
}

.node .rate-widget-emotion ul {
  margin:20px 0px 10px 0px;
  width:80%;
}

.node .rate-widget-emotion ul li{
  display: inline-block;
  background: #06f;
  margin-right: 15px;
  padding: 1px 3px 1px 2px;
  color: #eee;
  font-size:1.2em;
  border: 2px solid #06f;
}

.node .rate-description {
  font-size: 1.5em;
}

.node ul.links {
  margin: 15px 0px 0px 0px;
  padding:0px;
}

.node ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  font-size:1.4em;
}

@media(min-width: 980px) {
  body.cke_show_borders {
    padding-top: 0px !important;
  }
}
@media (max-width: 767px) {
  body.cke_show_borders {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}

.cle-hide-item {
  display:none;
}

/* CLE submission stuff */
.node-cle-submission .field-name-field-images .field-item,
.node-cle-submission .field-name-field-video .field-item {
  float:left;
}

/* Comment Styling */
.indented {
 margin-left: 1rem;
}

.submission-column {

}
.comment-column {

}

.comment-wrapper {
  overflow-y: scroll;
  max-height: 25rem;
}

.comment {
  border: 2px solid #000000;
  margin-bottom: -2px;
  overflow: visible;
  padding: .5rem;
  position: relative;
}

.comment-number {
  color: #aaa;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -.25rem;
}

.comment-title {
  font-size: .8rem;
  color: #aaa;
  text-align: right;
  float: right;
}

.comment-top-container {
  text-align: left;
  margin-left: 2rem
}

.comment .links a{
  color: #222222;
}

.comment .links a:hover {
  color: #0000FF;
  font-weight: bold;
}

.author {
  font-size: .8rem;
  font-style: italic;
  font-weight: bold;
}

.submitted {
  font-size: .8rem;
  color: #999;
}

.new {
  font-size: .8rem;
  color: #999;
  line-height:.75rem;
}

.comment h3.title {
  margin: 5px 0px 0px 0px;
  text-align: right;
}

.comment ul.links {
  margin: .5rem 0 0 0;
  padding: 0;
  text-align: right;
}

.comment ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 .5rem 0 0;
  font-size: .8rem;
}
.comment ul.links li lrnsys-button {
	display: inline-flex;
}

.comment .picture {
  position: absolute;
  bottom: 0;
  right: 0;
}

.comment .picture img {
  filter: alpha(opacity=25);
  opacity: 0.25;
}

.comment .comment_body_container .field-name-comment-body {
  font-size: .8rem;
}

.comment .rate-widget {
  margin-top:10px;
}

.comment .rate-widget-emotion ul {
  margin:1.5rem 0px 10px 0px;
  width:80%;
}

.comment .rate-widget-emotion ul li{
  display: inline-block;
  background: #06f;
  margin-right: 15px;
  padding: 1px 3px 1px 2px;
  color: #eee;
  font-size:1.2em;
  border: 2px solid #06f;
}

.comment .rate-description {
  font-size: 1.5em;
  width:80%;
}

.comment .rate-info {
  font-size:.9em;
  width:80%;
}

.comment-form div div.control-group.form-type-item.form-item label.control-label {
  display:inline-block;
}
.comment-form div div.control-group.form-type-item.form-item .controls {
  display:inline-block;
}

@media (max-width: 800px) {
  .indented {
    margin-left: 10px;
  }
  .comment_number {
    font-size: 50px;
    top: -10px;
    left:0px;
    letter-spacing: -5px;
  }
  .author {
    font-size: 20px;
  }
  .submitted {
    font-size: 14px;
  }
  .new {
    font-size: 12px;
  }
  .comment h3.title {
    margin: 0px 0px 0px 0px;
    font-size:1.3em;
    text-align: right;
  }
}
