.project {
  margin: 1em;
  padding: 1em;
  background: lightgray;
  width: auto;
  position: relative;
}

.project__header {
  position: relative;
  display: flex;
}

.project__options {
  display: flex;
}
.project__options > a {
}

.project__title-container {
  width: 100%;
}

.project__title {
  margin-top: 0;
  font-size: 1.4em;
}

.project__board {
  padding: 1em;
  min-height: 200px;
  width: 100%;
}

.assignment {
  background: white;
  padding: 1em;
  width: 100%;
}

.assignment__title {
  margin-top: 0;
  font-size: 1.4em;
}