////
// FOUNDATION ACCESS COLOR SETTINGS
////

// General Styles
$bright-color:#fff;
$background-color: #efefef; // body, .l-main, lmsless-bar
$dark-background-color:#333;
$accent-color: #cccccc;
$accent-border-color: #d8d8d8;
$blue-contrast-color:#6dd8ff;
$messages-alerts-color:darken($blue-contrast-color,30%);
$contrast-color:#EC6C20;
$text-on-dark-color:#fff;

// Ecosystem Topbar
$etb-nav-bg-color:#efefef;
$etb-nav-btn-bg-color:darken($etb-nav-bg-color,20%);
$etb-tool-bg-color:#3e3e3e;
$book-bg-color:$etb-nav-bg-color;
$tool-bar-base-color:#fff;
$tool-bar-dark-color:#000;
$menu-icon-color:$contrast-color;
$icon-border-color:#3e3e3e;
$dark-color:#2b2b2b;

// Modal
$modal-headings-color:#575757;

// Footer
$footer-bg-color:$etb-tool-bg-color;
$footer-text-color:#999;

// Off-canvas Menu
$active-menu-bg:#efefef;
$active-menu-link-border:$active-menu-bg;
$active-menu-border: darken($active-menu-bg,35%);
$active-menu-text-color:#333;
$active-menu-link-heading-text-color:lighten($active-menu-text-color,10%);
$active-menu-link-heading-div-color:darken($active-menu-text-color,10%);
$round-icon-bg-color:#fff;
$round-icon-bg-hover-color:#ccc;
$tabbar-section-border-color:#282828;

// Text Content 
$text-color: #313131;
$pullquote-color:#333;
$link-color: #008cba;
$heading-color:$contrast-color;
$mark-color:#9BD9FF;

// Active Outline Navigation
$ao-button-lev1-color: #54a901;
$ao-button-lev1-hover-color: #54a901;
$ao-button-lev1-border-bottom-color: #007295;
$ao-button-lev2-color: #54a901;
$ao-button-lev2-hover-color: #54a901;
$ao-button-lev3-color: #54a901;
$ao-button-lev3-hover-color: #54a901;
$ao-border-main-color:#ccc;
$ao-border-sec-color:#efefef;

// Administraion
// $admin-color: #54a901;
$admin-color:#5CB61F;
$admin-bg-color:$admin-color;


// Buttons
// $admin-button-color: #54a901;
// $admin-button-hover-color: #333;
// $admin-button-link-color: #fff;
// $admin-button-link-active-color: #ccc;
// $admin-button-link-hover-color: #fff;

// Top Nav Bar
$topbar-color: $bright-color;
$topbar-hover-color: #f4f4f4;
$topbar-link-color: #54a901;