// To Do: Add backup font classes al la Jason Pamental's technique (one day...)

//Droid Serif Google Font
%droid-serif-normal {
	font-family: "Droid Serif", "Georgia", serif;
	 font-style: normal;
	 font-weight: 400;
}
%droid-serif-bold {
	font-family: "Droid Serif", "Georgia", serif;
	 font-style: normal;
	 font-weight: 700;
}
%droid-serif-italic {
	font-family: "Droid Serif", "Georgia", serif;
	 font-style: normal;
	 font-weight: 400;
	 font-style: italic;
}
%droid-serif-bold-italic {
	font-family: "Droid Serif", "Georgia", serif;
	 font-style: normal;
	 font-weight: 700;
	 font-style: italic;
}
//Open Sans Google Font

%opensans-light {
	 font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
	 font-style: normal;
	 font-weight: 300;
}
%opensans-normal {
	 font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
	 font-style: normal;
	 font-weight: 600;
}
%opensans-bold {
	 font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
	 font-style: normal;
	 font-weight: 700;
}

// Applied fonts

body {
	 @extend %droid-serif-normal;
}

h1 {
	 @extend %opensans-bold;
	 
	 &.title {
	 	text-transform: uppercase;
	 }
}

h2 {
	 @extend %opensans-normal;
}
h3 {
	@extend %opensans-light;
}
h4 {
	@extend %opensans-light;
}
h5 {
	@extend %droid-serif-bold;
}
h6 {
	@extend %droid-serif-bold-italic;
}
a {
	@extend %opensans-normal;
}
p {
	@extend %droid-serif-normal;
	a {
		@extend %droid-serif-normal;
	}
	strong {
		@extend %droid-serif-bold;

		i {
			@extend %droid-serif-bold-italic;
		}
	}
	i {
		@extend %droid-serif-italic;

		strong {
			@extend %droid-serif-bold-italic
		}
	}
	&.txtbk-intro {
		 @extend %opensans-normal;
		 a{
		 	@extend %opensans-normal;
		 }
	}

	&.txtbk-pullquote {
		 @extend %droid-serif-italic;
		 
		 @media #{$small-only} {
			font-family: "Georgia", sans-serif;
		 }
	}
}

span.dropcap {
	 @extend %droid-serif-bold-italic;
}

.image-media {
	h3 {
		 @extend %opensans-bold;
	}
}

h4.testimonial-name {
	 @extend %opensans-bold;
}

p.testimonial-title {
	 @extend %droid-serif-italic;
}
#etb-course-nav span.course-title {
	@extend %opensans-light;
	text-transform:uppercase;
}
#etb-course-nav span.course-abrv {
	@extend %opensans-bold;
	text-transform:uppercase;
}
.alert-box, #etb-tool-nav .tab-bar span {
	@extend %opensans-light;
}
.etb-nav_item_search input {
	@extend %droid-serif-italic;
		 
	 @media #{$small-only} {
		font-family: "Georgia", sans-serif;
	 }
}
ul.off-canvas-list li a {
	@extend %opensans-light;
}
.etb-nav-modal ul li a,
a.etb-nav_item_service_btn span,
a.etb-modal-icon span,
a.modal-img-link span {
	@extend %opensans-light;
}
.etb-nav-modal h1 {
	@extend %opensans-bold;
}
.etb-nav-modal h2 {
	@extend %opensans-light;
	text-transform:uppercase;
}
.section-id {
	@extend %opensans-normal;
	text-transform:none;
}
#admin-menu .dropdown li li a {
	@extend %opensans-light;
}
.accordion .accordion-navigation>a,
.accordion dd>a {
	@extend %opensans-normal;
}
.sub-tier-1 {
	    
	h2 {
	  @extend %opensans-normal;
	  text-transform:normal;
	}
	h3 {
	  @extend %opensans-normal;
	  text-transform:normal;
	}
}
footer p {
	@extend %opensans-normal;
}
.admin-status-bar span {
	&.course-section, &.user-role, &.current-user-id {
		@extend %opensans-normal;
	
		a {
			@extend %droid-serif-italic;
		}
	}
	&.course-section-label, &.user-role-label, &.current-user-id-label {
		@extend %opensans-light;
	}
}