.vagrant
.DS_Store
node_modules
_sites
_published
_archived
/_config
!build/es5-amd/node_modules
!build/es5-amd/node_modules/**
!build/es6-amd/node_modules
!build/es6-amd/node_modules/**
!build/es6/node_modules
!build/es6/node_modules/**
yarn.lock
build/es6/node_modules/@polymer/.DS_Store
arth111
ubuntu-bionic-18.04-cloudimg-console.log
