; elmsmedia make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org-core.make"
includes[] = "drupal-org.make"

projects[textbook][version] = "4.2"
projects[textbook][subdir] = "contrib"
projects[accessibility][version] = "1.x-dev"
projects[accessibility][subdir] = "contrib"
projects[accessibility][patch][] = "https://www.drupal.org/files/issues/accessibility-2221601-2-features-fix.patch"
; +++++ Libraries +++++

; ckeditor 4.4.6 + codemirror and table resize
libraries[ckeditor][download][type] = "get"
libraries[ckeditor][download][url] = "https://github.com/psudug/ckeditor4textbook/archive/4.x.zip"
libraries[ckeditor][directory_name] = "ckeditor"
libraries[ckeditor][destination] = "libraries"

; +++++ Libraries +++++

; elmsmedia
libraries[elmsmedia][type] = "profile"
libraries[elmsmedia][destination] = "../../profiles"
libraries[elmsmedia][download][type] = "git"
libraries[elmsmedia][download][branch] = "7.x-1.x"
libraries[elmsmedia][directory_name] = "elmsmedia"
libraries[elmsmedia][download][url] = "https://github.com/drupalprojects/elmsmedia.git"
