; elmsmedia make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"


projects[accessibility][version] = "1.x-dev"
projects[accessibility][subdir] = "contrib"

; +++++ Libraries +++++

; mediaelement
libraries[mediaelement][directory_name] = "mediaelement"
libraries[mediaelement][type] = "library"
libraries[mediaelement][destination] = "libraries"
libraries[mediaelement][download][type] = "get"
libraries[mediaelement][download][url] = "http://github.com/johndyer/mediaelement/zipball/master"

; elmsmedia
libraries[elmsmedia][type] = "profile"
libraries[elmsmedia][destination] = "../../profiles"
libraries[elmsmedia][download][type] = "git"
libraries[elmsmedia][download][branch] = "7.x-1.x"
libraries[elmsmedia][directory_name] = "elmsmedia"
libraries[elmsmedia][download][url] = "https://github.com/drupalprojects/elmsmedia.git"
