
body {
  background: #edf5fa;
  color: #494949;
  font: 12px/170% Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

input {
  color: #494949;
  font: 12px/100% Verdana, sans-serif;
}

textarea,
select {
  color: #494949;
  font: 12px/160% Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 160%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

ul,
quote,
code,
fieldset {
  margin: .5em 0;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

a:link,
a:visited {
  color: #027ac6;
  text-decoration: none;
}

a:hover {
  color: #0062a0;
  text-decoration: underline;
}

a:active,
a.active {
  color: #5895be;
}

hr {
  background: #5294c1;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

ol li,
ul li {
  margin: 0.4em 0 0.4em .5em; /* LTR */
}

#content {
  margin: .5em 1em 1em 1em;
}

#content #page-title {
  padding-bottom: .5em;
}

div#breadcrumb {
  background-color: white;
  border-bottom: 1px solid #ccc;
  height: 2em;
  padding-left: 1em;
}

div#breadcrumb .breadcrumb {
  margin: 0;
  padding: 0;
}

pre {
  background: #f1f1f1;
  border: 1px solid #ccc;
  display: block;
  margin: 1em;
  padding: .2em;
}
