
/* `Animation
----------------------------------------------------------------------------------------------------
.animate {
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
	}
	
.animate-delay {
	-webkit-transition: all 0.5s ease-in-out 0.75s;
    -moz-transition: all 0.5s ease-in-out 0.75s;
    -o-transition: all 0.5s ease-in-out 0.75s;
    -ms-transition: all 0.5s ease-in-out 0.75s;
	}
	
	*/