.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}
/* `ELMS Classes
----------------------------------------------------------------------------------------------------*/

div p {
	padding:10px 0px 0 10px;
	}
h2.title {
	font-size:80px;
	text-align:center;
	}
h2 {
	text-align:center;	
}
.nav_link{
	font-size:24px;
}
.nav_link p {
	margin-left:10px;
	margin-right:10px;
}
.text_block {
	font-size:24px;
	line-height:1.15;
}
.visibility_460 {
	display:none;	
}
.visibility_720 {
	display:inline;	
}
div.logo {
	text-align:center;
}