/* clean up to the story seeds form */
.form-item-title {
  display:none;
}

#field-seed-values {
  width: 100%;
  margin-bottom: 4rem;
}

.entity-iframe-theme #edit-field-seed-und-add-more {
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 0;
  z-index: 101;
  margin: 0.25rem;
}
