/* used on CIS quick form */
.hide_form_field {
  display:none;
}
/* editableviews fix for annoying double value */
.views-row-edit-static {
  display:none;
}
/* course table list of checkboxes scaled */
table.cis_course_table_list {
  width:100%;
}
table.cis_course_table_list td {
  padding:2px;
  vertical-align:middle;
}
table.cis_course_table_list td input {
  margin-top:10px;
}

body.page-cis-quick-setup div.form-item-course {
 display:none;
}