/* CSS Document */
/* Correct weirdness in Rubik theme */
.vertical-tabs fieldset.default-fallback, div.field-group-tabs-wrapper div.field-type-image fieldset, div.field-group-tabs-wrapper div.field-type-file fieldset {
 padding: 0px 0 0 !important;
}
/* increase opacy for accessibility purposes */ 
.flex-caption {
 background: rgba(0, 0, 0, .9);
 color: #EEE;
 text-shadow:none;
 font-size: 1.3em;
}
/* used on CIS quick form */
.hide_form_field {
  display:none;
}
/* editableviews fix for annoying double value */
.views-row-edit-static {
  display:none;
}
/* course table list of checkboxes scaled */
table.cis_course_table_list {
  width:100%;
}
table.cis_course_table_list td {
  padding:2px;
  vertical-align:middle;
}
table.cis_course_table_list td input {
  margin-top:10px;
}