/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Global tags */
body {
  font:15px/1.5em Arial, Verdana, Helvetica, sans-serif;
  line-height:1.5em;
  color:#333;
  overflow-y: scroll;
  overflow-x: hidden;
}

img{
  max-width:100%;
  height:auto;
}
/* zone/region configuration, traditional "theme" css */
/* spacing prior to the image */
#region-user-first {
}
#region-user-second {
  text-align:right;
  padding:5px 0px;
}
#region-user-second h1.site-name, #region-user-second h2.site-name {
  margin-top:0px;
}
/* menu */
#zone-menu {
  height:40px;
  background-image: url('../images/border.png'), url('../images/border.png'), url('../images/header.jpg');
  background-position:left, right;
  background-repeat: repeat-y, repeat-y, no-repeat;
}
#zone-menu .block-title {
	display:none !important;
}
#region-header-first{
 display:none;
}
#region-header-first .region-header-first-inner {
 display:none;
}
#zone-menu .region-menu {
  background-position:left bottom;
  background-repeat:no-repeat;
  height:196px;
}
#zone-menu .block-inner {
  height:196px;
}
#zone-menu .block-inner .content{
  height:196px;
}
#zone-menu .block-inner .content div{
  height:196px;
}
#zone-menu .region-menu ul {
  background-image: url('../images/dark-40.png');
  text-align: center;
  float:left;
  height:40px;
  padding:0px;
  margin:147px 0px 0px 0px;
}
#zone-menu .region-menu .tinynav {
  text-align: center;
  height: 40px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  float:left;
}
#zone-menu .region-menu ul a {
  text-decoration:none;
  float:left;
  padding:10px 15px 0px;
  margin:0px;
  height:40px;
  font-size:1.2em;
  display: block;
  text-transform: uppercase;
  letter-spacing:.09em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#zone-menu .region-menu ul li {
  list-style-type:none;
  list-style-image:none;
  display:inline;
  float:left;
  height:40px;
  float:left;
  padding:0px;
  margin:0px;
}
/* content */
#zone-content {
  background-image:url('../images/contentbg.jpg');
	background-color:#ffffff;
  padding:15px 0px 20px;
}
#region-sidebar-first .block-inner{
  padding:20px;
}
#region-sidebar-first section {
  background:rgba(225, 225, 225, 0.5);
  margin:0;
  border-right:#fafafa solid 2px;
  width:100%;
  float:left;
}
#region-sidebar-first section .block-inner a {
  text-decoration: none;
}
#region-sidebar-first section .block-inner a:hover, #region-sidebar-first section .block-inner a.active, #region-sidebar-first section .block-inner a.active-trail {
  text-decoration: underline;
}
#region-sidebar-first section div.block-inner{
  padding:10px;
}
#region-sidebar-first section h2.block-title {
  font-size:1.3em;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  display: block;
  height: 30px;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  line-height: 33px;
  font-size: 19px;
  background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}
#region-sidebar-first section .content {
  padding:5px 0px 15px;
}
#region-sidebar-first section .content p{
  padding:0px;
  margin:0px;
}
#region-sidebar-first section div.block-inner ul.menu{
  margin-left:10px;
}
#region-sidebar-first section div.block-inner ul.menu li ul.menu{
  margin-left:5px;
}
.book-navigation {
  float:left;
  width:100%;
}
.book-navigation div.page-links {
  bottom:0px;
  left:0px;
  position:fixed;
  width:100%;
  background-color:#fafafa;
  height:30px;
  z-index:501;
  padding:0px 0px 5px;
  border-bottom:none;
  border-top: #e7e7e7 1px solid;
  box-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}

/* optional postscript zone */
#zone-postscript {
  background-color:#fafafa;
}
.book-navigation div.page-links a{
  padding:5px;
}
/* footer */
#zone-footer {
  height:100px;
  background-image:url('../images/top-left-crop.png');
  background-repeat:no-repeat;
  background-position:left top;
}
#zone-footer p {
  padding:0px;
  margin:0px;
}
#region-footer-first{
  text-align:right;
  margin:0px 0px 0px 10px;
  padding:10px 0px;
  font-size:.75em;
  line-height:1.2em;
}
#region-footer-first a {
}
/* Resets for content */
/* Paragraph */
article.node p{margin:0 0 10px 0;line-height:1.5em;}
article.node em{font-style:italic;}
article.node strong{font-weight:bold;}
article.node sup, article.node sub {line-height:0;font-size:.5em;padding:1px;}
/* Table elements */
article.node table{vertical-align:middle;width:98%;margin-bottom:1.4em;border-collapse:separate;border-spacing:0;}
article.node tr{border-left:1px solid #333;border-right:1px solid #333;}
article.node th{padding:4px 10px 4px 5px;vertical-align:middle;text-align:left;font-weight:bold;float:none !important;}
article.node thead th{background:#CCC;vertical-align:middle;text-align:left;font-weight:normal;float:none !important;padding:5px; border-bottom:1px solid #555;border-top:1px solid #555;}
article.node tbody th{background:#CCC;vertical-align:middle;text-align:left;font-weight:normal;float:none !important;padding:5px; border-bottom:1px solid #555;border-top:1px solid #555;}
article.node td{vertical-align:middle; border-bottom:1px solid #555;text-align:left;font-weight:normal;float:none !important;padding:4px 10px 4px 5px;}
article.node tbody tr:nth-child(even) {background:#EEE;}
article.node tbody tr:nth-child(odd) {background:#DDD;}
article.node tbody tr:hover th{background:#CCE !important;}
article.node tbody tr:hover{background:#CCE !important;}
article.node caption {margin:0px;clear:both;padding:4px 10px 4px 5px;font-size:1.2em;font-weight:normal;width:auto;background:#eee;}
/* List elements */
article.node ul, article.node ol{margin:0 1.5em 1.0em 0;padding-left:4.0em;font-size:1em;}
article.node ul{list-style-type:disc;}
article.node ul ul{list-style-type:circle;}
article.node ul ul ul{list-style-type:square;}
article.node ul ul ul ul{list-style-type:circle;}
article.node ol{list-style-type:decimal;}
article.node ol ol{list-style-type:lower-alpha;}
article.node ol ol ol{list-style-type:decimal;}
article.node ol li, article.node ul li{margin:0.25em 0}
article.node .book-navigation ol li, article.node .book-navigation  ul li{margin:0px;}
article.node iframe{margin:1em}
/* Blockquotes */
article.node blockquote{quotes:"" "";margin:1.5em;font-style:italic;}
article.node blockquote:before, blockquote:after{content:'';}

/* Headings */
#region-content h1 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  letter-spacing:.03em;
  display: block;
  height: 30px;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  line-height: 1.0em;
  font-size:2.25em;
  background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
  box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}
#region-content h1 {
  font-size:2.25em;
}
#region-content h2 {
  font-size:1.75em;
  line-height: 1.2em;
  margin-bottom:10px;
}
#region-content h3 {
  font-size:1.5em;
}
#region-content h4 {
  font-size:1.25em;
}
#region-content h5 {
  font-size:1em;
}
#region-content h6 {
  font-size:.75em;
}
#block-delta-blocks-page-title {
  margin-bottom:1em;
}
/* delta doesn't need options for these blocks */
#block-delta-blocks-page-title .contextual-links-wrapper {
  display:none;
}
#block-delta-blocks-tabs .contextual-links-wrapper {
  display:none;
}

/**
 * Tabs - based on Rubik theme tabs
 */
#tabs {
  margin:0em 0em 0em 0em;
  }

.tabs.primary {
  float:left;
  border:none;
  height:28px;
  border-bottom:solid #ddd 1px;
}

div.pager {
  margin:10px 0px 0px;
  height:30px;
  }

.pager li,
.tabs.primary li {
  height:30px;
  position:relative;
  background:#eee url('../images/bleeds.png') 50% 0px no-repeat;
  }

.pager a,
.pager span,
.tabs.primary a {
  float:left;
  text-align:center;
  min-width:70px;
  padding:5px 10px;
  color:#333;
  text-shadow:#fff 0px 1px 0px;
  margin-right:0px;
  }

.pager a,
.pager span {
  min-width:10px;
  padding:5px 15px;
  }

.pager li:hover,
.tabs.primary li:hover { background-color:#f8f8f8; }

.pager li:first-child,
.tabs.primary li:first-child {
  border-radius:5px 0px 0px 5px;
  -moz-border-radius:5px 0px 0px 5px;
  -webkit-border-radius:5px 0px 0px 5px;
  background-position:0% 0px;
  }

.pager li:last-child,
.tabs.primary li:last-child {
  border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  background-position:100% 0px;
  }

.pager li.pager-current,
.tabs.primary li.active { background-color:#7bc; }

.pager li.pager-current span,
.tabs.primary li.active a {
  color:#fff;
  font-weight:bold;
  }

/* Secondary tabs, nested */
.secondary-tabs {
  min-width:100px;
  float:left;
  position:relative;
  margin:5px 5px 5px 0px;
  font-size:11px;
  background:#59a url(images/buttons.png) -800px 50% no-repeat;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  z-index: 1;
  }

.secondary-tabs:hover {
  background:#59a;
  opacity:.9;
  }

ul.secondary-tabs li,
ul.secondary-tabs li a {
  background:transparent;
  float:none;
  height:auto;
  text-align:left;
  }

.secondary-tabs a {
  color:#fff;
  text-shadow:#38a 0px 1px 0px;
  display:none;
  padding:0px 10px 0px 25px;
  }

  .secondary-tabs:hover a,
  .secondary-tabs .active a { display:block; }

  .secondary-tabs li:hover,
  .secondary-tabs li.active { background:transparent; }
  .secondary-tabs a:hover { background:#389 url(images/buttons.png) -800px 50% no-repeat; }

  .secondary-tabs li:last-child a:hover {
    border-radius:0px 0px 3px 3px;
    -moz-border-radius:0px 0px 3px 3px;
    -webkit-border-radius:0px 0px 3px 3px;
    }

  .secondary-tabs li:first-child a:hover {
    border-radius:3px 3px 0px 0px;
    -moz-border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;
    }

/* remove mobile items */
#breadcrumb {
  display:none;
}
.node-links {
  display:none;
}
/* support for responsive html5 video */
video { max-width: 100%; height: auto; }
/* hide footer area completely when mobile */
#section-footer {
  display:none;
}

@media only screen and (max-width: 740px) {
  body {
		background-image:url('../images/contentbg.jpg');
		background-color:#fff;
  }
}

/* Cody and Palmer's Design eye */
article.node .field-name-body {
  padding-bottom: 3em;
}
.signature-media {
  display:inline-block;
}
p {
  font-size: 16px;
}