/* CSS Document */
.rp-wrapper {
	width:100%;
	position:relative;
}
.rp-nav {
	display:block;
}
.image-compare {
	width:640px;
	height:316px;
	background:#ccc;
	position:relative;
	float:left;
	border:5px solid #333;
	margin: 10px;
}

.image-1 {
	width: 50%;
	height: 100%;
	overflow:hidden;
	position:absolute;
	float:left;
	background:transparent;
	top:0;
	left:0;
	border:0;
}

.image-1 img {
	width:640px;
	height:100%;
}

.image-2 {
	width:100%;
	height:100%;
	padding: 0px;
	position:relative;
	float:left;
	border:0;
}

.ui-resizable-handle {
	opacity:.6;
}

.ui-resizable-handle:hover {
	opacity:.8;
}
.ui-resizable-handle:active {
	opacity:.4;
	background-color:#00C;
}