a {
  color: #2196F3;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

table th.active {
  background: #607D8B;
  color: #fff;
}

table tr.selected td.active,
table tr.selected td {
  background: #ECEFF1;
}

table th {
  background: #E0E0E0;
}

tr.even:hover, tr.odd:hover {
  background: #FFF9C4;
}

.marker,
.form-required {
  color: #FF9800;
}

td .marker {
  position: relative;
  top: 0.5em;
  vertical-align: top;
}

table.tableheader-processed {
  border: 1px solid #E0E0E0;
}

tr.even,
tr.odd {
    background: #FFF;
}

.messages ul {
  list-style-type: none;
}

div.messages ul li {
  font-size: 14px;
  padding-bottom: 0.5em;
}

div.messages ul li:last-of-type {
  padding-bottom: 0;
}

#help p {
  font-size: 13px;
}

div.messages ul.krumo-node {
  margin : 0;
}

div.messages ul.krumo-node li.krumo-child {
  font-size: 12px;
  padding-bottom: 0;
}

div.warning {
  background-color: #fff3e0;
  border: none;
  border-radius: 3px;
  background-position: 14px 50%;
}

 div.status {
  background-color: #E8F5E9;
  border: none;
  border-radius: 3px;
  background-position: 14px 50%;
}


.header-menu-options ul li.active a,
.header-menu-options ul li.active a.active,
.header-menu-options ul li.active a:active,
.header-menu-options ul li.active a:visited {
  margin-top: 0px;
  border-top: none;
}

.header-menu-options ul li {
  text-transform: uppercase;
}

div.breadcrumb a {
  color: #A3A3A3;
}

div.breadcrumb a:hover {
  color: #fff;
}


.header-menu-options ul li.active a,
.header-menu-options ul li.active a.active,
.header-menu-options ul li.active a:active,
.header-menu-options ul li.active a:visited {
  box-shadow: none;
  background-color: transparent;
  color: #000;
}

.header-menu-options ul {
  background-color: #EEEEEE;
}

ul.action-links a,
ul.post-links a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  background: #2196f3;
  color: #FFFFFF;
  padding: 3px 20px 2px;
  border-radius: 3px;
  display: inline-block;
}

ul.action-links a:hover,
ul.post-links a:hover {
  background: #29B6F6;
  text-decoration: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
}


#page .operations a {
  text-transform: uppercase;
}

fieldset {
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
  border-radius: 3px;
  padding-top: 42px;
  position: relative;
  margin-bottom: 20px;
}

.fieldset-description {
  padding-top: 28px;
  padding-bottom: 20px;
  color: #909090;
}

.text-format-wrapper fieldset.filter-wrapper {
  box-shadow: none;
  border: 1px solid #DDD;
  border-radius: 0;
}

.horizontal-tabs-panes fieldset.horizontal-tabs-pane {
  box-shadow: none;
}

fieldset legend {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 14px;
}

.features-export-parent fieldset legend {
  top: 0;
}

/* Custom Checkbox styling */

/* Chrome + Safari + Opera */
@supports (-webkit-appearance:none) {
input[type=checkbox],
input[type=radio] {
-webkit-appearance:none; /* Safari and Chrome */
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 0.25em;
  padding: 0;
  background: #fff;
  border: 2px solid #757575;
  border-radius: 2px;
  width: 18px !important;
  height: 18px !important;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: background 0.5s ease;
  outline: none;
}

input[type=radio] {
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 0px #fff;
  transition: box-shadow .1s cubic-bezier(0.28,0.63,0.77,0.17);
}

input[type=checkbox]:hover,
input[type=checkbox]:focus,
input[type=radio]:hover,
input[type=radio]:focus {
  border-color: #757575;
  cursor: pointer;
}

input[type=checkbox]:checked,
input[type=checkbox]:disabled:checked,
input[type=radio]:checked,
input[type=radio]:disabled:checked{
  border-color: #0E9C57;
}

input[type=checkbox]:checked,
input[type=checkbox]:disabled:checked {
  background: url('images/check.svg') scroll no-repeat 0 0 #0E9C57;
}

input[type=radio]:checked,
input[type=radio]:disabled:checked {
  background: #0E9C57;
  box-shadow: inset 0px 0px 0px 3px #fff;
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
  opacity: .5;
  background: #E2E2E2;
}

input[type=checkbox]:disabled:hover,
input[type=radio]:disabled:hover {
  border-color: #0E9C57;
  cursor: default;
  /*cursor: not-allowed;*/
  }
}

/* Waves plugin (Ripple effect) */
/*!
 * Waves v0.6.6
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}
.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}
.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}
.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, #ffffff 100%, #000000 100%);
}
.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  z-index: 1;
}
.waves-button {
  border-radius: 0.2em;
}
.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: middle;
  z-index: 999;
  margin-right: 1em;
}
.waves-input-wrapper.waves-button {
  padding: 0;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}
.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}
.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
}
.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}
.waves-block {
  display: block;
}
/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1;
}

.header-menu-options ul {
  overflow: hidden;
}


table th {
  font-size: 16px;
  font-weight: 400;
}

table tr.add-new,
table tr.add-new:hover {
  background-color: #E8F5E9;
}

table tbody td a {
  padding: .5em .75em;
  border-radius: 3px;
  vertical-align: middle;
}

table tbody td a:hover {
  text-decoration: underline;
}

/* Buttons */

/* Gray Button */
button[type="submit"],
button.form-submit,
a.button,
div.exposed-filters button#edit-submit {
  cursor: pointer;
  background: #BBBBBB;
  border: none;
  padding: 6px 18px;
  color: #fff;
  text-align: center;
  font-size: 1.077em;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: all, 0.3s;
}

button[type="submit"]:hover,
button.form-submit:hover,
a.button:hover,
div.exposed-filters button#edit-submit:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

button[type="submit"]:active,
button.form-submit:active,
a.button:active,
div.exposed-filters button#edit-submit:active {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

button[type="submit"]:focus,
button.form-submit:focus,
a.button:focus,
div.exposed-filters button#edit-submit:focus {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}


/* Green Button */
i.zmdi-save {
 color: #0E9C57;
}
button[type="submit"][id^="edit-submit"],
button#edit-actions-submit,
button[id^="save-continue"],
button[type="submit"][id^="edit-save"],
button#edit-save,
button#edit-submit,
button#edit-addanother,
button#edit-actions-save {
  cursor: pointer;
  border: none;
  padding: 6px 18px;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  background: #0E9C57;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
}

button[type="submit"][id^="edit-submit"]:hover,
button#edit-actions-submit:hover,
button[id^="save-continue"]:hover,
button[type="submit"][id^="edit-save"]:hover,
button#edit-save:hover,
button#edit-submit:hover,
button#edit-addanother:hover,
button#edit-actions-save:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

button[type="submit"][id^="edit-submit"]:active,
button#edit-actions-submit:active,
button[id^="save-continue"]:active,
button[type="submit"][id^="edit-save"]:active,
button#edit-save:active,
button#edit-submit:active,
button#edit-addanother:active,
button#edit-actions-save:active {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

button[type="submit"][id^="edit-submit"]:focus,
button#edit-actions-submit:focus,
button[id^="save-continue"]:focus,
button[type="submit"][id^="edit-save"]:focus,
button#edit-save:focus,
button#edit-submit:focus,
button#edit-addanother:focus,
button#edit-actions-save:focus {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

/* Red Button */
button#edit-delete,
button#remove-button,
button#edit-remove,
button#edit-clear,
a.button.remove,
button[id*="remove-button"],
.page-node-delete button#edit-submit {
  cursor: pointer;
  padding: 6px 18px;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  background: #D32F2F;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: all, 0.3s;
}

button#edit-delete:hover,
button#remove-button:hover,
button#edit-remove:hover,
button#edit-clear:hover,
a.button.remove:hover,
button[id*="remove-button"]:hover,
.page-node-delete button#edit-submit:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

button#edit-delete:active,
button#remove-button:active,
button#edit-remove:active,
button#edit-clear:active,
button[id*="remove-button"]:active,
.page-node-delete button#edit-submit:active {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

button#edit-delete:focus,
button#remove-button:focus,
button#edit-remove:focus,
button#edit-clear:focus,
button[id*="remove-button"]:focus,
.page-node-delete button#edit-submit:focus {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

/* Blue Button */
button#edit-preview-changes,
button#edit-next,
button#preview-submit,
button[type="submit"][id^="edit-return"] {
  cursor: pointer;
  border: none;
  padding: 6px 18px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  background: #0074BD;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: all, 0.3s;
}

button#edit-preview-changes:hover,
button#edit-next:hover,
button#preview-submit:hover,
button[type="submit"][id^="edit-return"]:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

button#edit-preview-changes:active,
button#edit-next:active,
button#preview-submit:active,
button[type="submit"][id^="edit-return"]:active {
  border: none;
  color: #fff;
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

button#edit-preview-changes:focus,
button#edit-next:focus,
button#preview-submit:focus,
button[type="submit"][id^="edit-return"]:focus {
  border: none;
  color: #fff;
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

.waves-input-wrapper input,
.waves-input-wrapper button {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.waves-input-wrapper:hover input {
  box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.18);
}

div.horizontal-tabs ul li.horizontal-tab-button strong {
  font-size: 13px;
}

.form-actions input {
  height: 24px;
  margin-right: 1rem;
}