/* accessibility */
.outline-nav-icon {
  opacity: .8;
}

.image__cite, .image--lightboxed__cite {
  color:#4c4c4c;
}

.reveal-modal .close-reveal-modal {
  color:#4c4c4c;
}

/* form usability */
@media screen and (min-width: 95rem) {
  form.node-form div.field-group-htabs-wrapper.group-settings {
    position: absolute !important;
    left: 100%;
    width: calc(50vw - 51%);
    top: 0;
    max-width: 30em;
    display: block;
    height: 100%;
    overflow-y: scroll;
  }
  form.node-form div.field-group-htabs-wrapper.group-settings .image-widget-data div {
    clear:both;
  }
}

/* improve shortcode modal usability */
#block-cis-shortcodes-cis-shortcodes-block-nav-modal {
  bottom:10%;
}
#page-accessibility-menu {
  bottom:10%;
}

/* Scroll bar for breadcrumb nav that's really really long */
.elmsln-scroll-bar {
  overflow-y: scroll;
}

.elmsln-scroll-bar {
  scrollbar-face-color: #DDDDDD;
  scrollbar-shadow-color: #BBBBBB;
  scrollbar-highlight-color:#AAAAAA;
  scrollbar-3dlight-color: #AAAAAA;
  scrollbar-darkshadow-color: #BBBBBB;
  scrollbar-track-color: #AAAAAA;
  scrollbar-arrow-color: #BBBBBB;
}
.elmsln-scroll-bar::-webkit-scrollbar-track {
      background-color: #DDDDDD;
} /* the new scrollbar will have a flat appearance with the set background color */

.elmsln-scroll-bar::-webkit-scrollbar-thumb {
      background-color: #AAAAAA;
} /* this will style the thumb, ignoring the track */

.elmsln-scroll-bar::-webkit-scrollbar-button {
      background-color: #DDDDDD;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

.elmsln-scroll-bar::-webkit-scrollbar-corner {
      background-color: #DDDDDD;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner*/

.elmsln-scroll-bar::-webkit-scrollbar {
      width: 1rem;
      height: 1rem;
} /* this targets the default scrollbar (compulsory) */

/* end scroll bar styling */

.parallax-container {
  height: 150px;
}

#edit-body .cke_chrome {
  border-top: 0;
  border-bottom: 0;
}

.cke_bottom {
  z-index: 1;
}

/* ELMSLN bullets */
article.node div.body ul li {
  list-style-type: initial;
}

/* helps clean up form defaults */
div.image-widget-data {
  float: none;
}

/* Materialize select lists */
ul.dropdown-content.select-dropdown {
  margin: 0;
  z-index: 9999;
}
input:not([type])[disabled], input:not([type])[readonly], fieldset[disabled] input:not([type]), input[type="text"][disabled], input[type="text"][readonly], fieldset[disabled] input[type="text"], input[type="password"][disabled], input[type="password"][readonly], fieldset[disabled] input[type="password"], input[type="date"][disabled], input[type="date"][readonly], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], input[type="datetime"][readonly], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], input[type="datetime-local"][readonly], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], input[type="month"][readonly], fieldset[disabled] input[type="month"], input[type="week"][disabled], input[type="week"][readonly], fieldset[disabled] input[type="week"], input[type="email"][disabled], input[type="email"][readonly], fieldset[disabled] input[type="email"], input[type="number"][disabled], input[type="number"][readonly], fieldset[disabled] input[type="number"], input[type="search"][disabled], input[type="search"][readonly], fieldset[disabled] input[type="search"], input[type="tel"][disabled], input[type="tel"][readonly], fieldset[disabled] input[type="tel"], input[type="time"][disabled], input[type="time"][readonly], fieldset[disabled] input[type="time"], input[type="url"][disabled], input[type="url"][readonly], fieldset[disabled] input[type="url"], input[type="color"][disabled], input[type="color"][readonly], fieldset[disabled] input[type="color"], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
  background-color: initial;
}

/* Materialize scrollspy */

#scrollspy-nav {
  display: none;
}
#scrollspy-nav li.scrollspy-depth-1 {
}
#scrollspy-nav li.scrollspy-depth-2 {
  padding-left:.75rem;
}
#scrollspy-nav li.scrollspy-depth-3 {
  padding-left:1.5rem;
}
#scrollspy-nav li.scrollspy-depth-4 {
  padding-left:2.25rem;
}
@media screen and (min-width: 80rem) {
  #scrollspy-nav {
    position: absolute !important;
    left: 100%;
    width: calc(50vw - 52%);
    max-width: 30em;
    display: block;
  }
}

#etb-course-nav nav {
  box-shadow:none;
}

.imagelightbox {
  background-color: #FFFFFF;
}

.jwerty-key-outline i {
  opacity: .4 !important;
}

/* fix for Drupal checkboxes that don't have a label in material */
div.form-type-checkbox :last-child {
  position: relative;
  opacity:1;
  left:auto;
}
#od_popup table input[type="radio"]:not(:checked), #od_popup table input[type="radio"]:checked {
  position: relative;
  opacity:1;
  left:auto;
}

.a11y-contrast [type="checkbox"]:checked {
  position: fixed;
}

.alert-box.success {
  background-color:#65c689;
  color:#282828;
}

.alert-box.success a {
  color:#282828;
}

.confirm-parent, .password-parent {
  width: inherit;
}
.password-strength {
  width: inherit;
}

.a11y-invert .etb-modal-icons,
.a11y-invert .etb-icons {
  background-color: #FFFF00 !important;
}
.a11y-invert .f-dropdown--classic li a {
  color: #FFFFFF !important;
}

a.add-menu-drop {
  float: left;
  margin-right: 2rem !important;
}

.filter-guidelines,
.filter-help {
  display:none;
}

.horizontal-tabs ul.horizontal-tabs-list a {
  font-size: .75rem;
}
.horizontal-tabs ul.horizontal-tabs-list .summary {
  display:none;
}

#etb-course-nav {
  margin: 0;
}
#etb-course-nav span.course-title,
#etb-course-nav span.course-abrv {
  justify-content: flex-end;
}

.ferpa-privacy-blur {
  filter: blur(6px);
  /* Webkit */
  -webkit-filter: blur(6px);
  /* Opera */
  -o-filter: blur(6px);
  opacity: .4;
}

.ferpa-privacy-blur:hover {
  border: 1px solid #FF0000;
}

.cke_contents {
  border: 1px solid #ccc !important;
  padding: .5rem !important;
}

.r-header__icon i {
  opacity: 0.5;
}
.r-header__icon i:hover {
  opacity: 0.8;
}
.r-header__icon-secondary {
  opacity: 0.2;
}
.r-header__icon-secondary:hover {
  opacity: 0.8;
}
.r-header__icon.fa-action-disabled {
  opacity: 0.1;
}

#block-mooc-nav-block-mooc-nav-nav {
  border:1px solid #cccccc;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#block-mooc-nav-block-mooc-nav-nav ul{
  margin: 0;
  list-style: none;
}

#block-mooc-nav-block-mooc-nav-nav li {
  clear: both;
  padding: .25rem;
}

#block-mooc-nav-block-mooc-nav-nav li.active-trail {
  background-color: #eeeeee;
}

#block-mooc-nav-block-mooc-nav-nav li a.active {
  text-decoration: underline;
}

.mooc-nav-block-left {
  float: left;
  margin-right: 1rem;
}
.mooc-nav-block-right {
  float: right;
  margin-left: 1rem;
}

#backtotop {
  background: url(../img/backtotop.png) no-repeat center center;
  right:0px;
  bottom: 0px;
  z-index: 1000;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  #backtotop {
    background: url(../img/backtotop2x.png) no-repeat center center;
    background-size: 70px 70px;
  }
}

.elmsln-home-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.elmsln-home-button-link {
  padding: 0;
  margin: 0 1rem 0;
  font-size: 1rem;
  line-height: 2.5rem;
}
@media all and (max-width: 720px) {
  .elmsln-home-button-link span {
    position: absolute;
    left:-9999999;
    opacity: 0;
  }
}

.cis-lmsless-avatar {
  width: 2.5rem;
  height: 2.5rem;
}
ul.header-menu-options {
  padding: 0;
  max-width: 100%;
  margin: 0;
  font-size: 1rem;
}
ul.header-menu-options li a {
  padding: .5rem .5rem;
  margin: 0;
}
ul.header-menu-options li {
  float:left;
  margin: 0;
  list-style: none;
  display: inline-flex;
}
ul.header-menu-options li {
  border-bottom: 1px solid #333333;
}
ul.header-menu-options li.active-trail {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-top: 1px solid #333333;
  border-bottom: transparent;
}

.r-header ul.header-menu-options li.active-trail {
  background-color: #eeeeee;
}
.r-header ul.header-menu-options li:hover {
  background-color: #eeeeee;
}

.r-local-header ul.header-menu-options{
  font-size: .9rem;
}
.r-local-header ul.header-menu-options li.active-trail {
  background-color: #eeeeff;
}
.r-local-header ul.header-menu-options li:hover {
  background-color: #eeeeff;
}

.r-local-subheader ul.header-menu-options{
  font-size: .8rem;
}
.r-local-subheader ul.header-menu-options li.active-trail {
  background-color: #ddddff;
}
.r-local-subheader ul.header-menu-options li:hover {
  background-color: #ddddff;
}

.cis-admin-area {
  background-color: #5CB61F;
}
.user-nav-masquerade {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.user-nav-masquerade span {
  color: #333333;
  font-weight: bold;
}
.user-nav-masquerade div {
  padding: .25rem;
}
.user-nav-user-roles {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

#block-speedreader-speedreader-block-nav-modal {
  top:25% !important;
  left: 25%;
  width: 50%;
  height: 50%;
}

#block-speedreader-speedreader-block-nav-modal .words {
  margin: 1rem auto;
}

a[data-reveal-id="block-speedreader-speedreader-block-nav-modal"] {
  font-size: 1.5rem;
}

.spritz-word {
  font-size: 5rem;
  line-height: 9.5rem;
  height: 50%;
}

.entity_iframe_tool_icor {
  border: 2px solid #eeeeee;
 }

.view-foundation-access-header {
  width: 100%;
}

.region-header {
  background-position: center;
  background-size: 100rem;
  z-index: 1;
  width: 100%;
  background-attachment: fixed;
}
.region-header img {
  width: 100%;
  background-attachment: fixed;
}

h1#page-title {
  font-size: 2.75rem;
  line-height: 2.75rem;
  padding: 0rem 0 .5rem;
}

.etb-book h2 {
  font-size: 2.25rem;
  font-weight: bold;
  padding: 0;
}

.etb-book h3 {
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0;
}

.etb-book h4 {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0;
}

/* inline flex support in browsers that don't support it currently */
.toolbar-menu-icon,
.content-outline-navigation h2,
.content-outline-navigation h3,
ul.off-canvas-list .left-submenu li.back {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media all and (min-width: 720px) {
  .form-actions.form-wrapper {
    position: fixed;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #CCCCCC;
    width: 100%;
    left: 0;
    padding: 1rem 1rem 0px;
    margin: 0;
    z-index: 999;
  }
}
/* MaterializeCSS overrides to make Drupal / Zurb markup happy*/
a {
  color: #0052c1;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

footer p {
  color: #eeeeee;
}

table th.active {
  background: #607D8B;
  color: #fff;
}

table tr.selected td.active,
table tr.selected td {
  background: #ECEFF1;
}

table th {
  background: #E0E0E0;
}

tr.even:hover, tr.odd:hover {
  background: #FFF9C4;
}

.marker,
.form-required {
  color: #FF9800;
}

td .marker {
  position: relative;
  top: 0.5em;
  vertical-align: top;
}

table.tableheader-processed {
  border: 1px solid #E0E0E0;
}

tr.even,
tr.odd {
    background: #FFF;
}

.messages ul {
  list-style-type: none;
}

div.messages ul li {
  font-size: 14px;
  padding-bottom: 0.5em;
}

div.messages ul li:last-of-type {
  padding-bottom: 0;
}

#help p {
  font-size: 13px;
}

div.messages ul.krumo-node {
  margin : 0;
}

div.messages ul.krumo-node li.krumo-child {
  font-size: 12px;
  padding-bottom: 0;
}

div.warning {
  background-color: #fff3e0;
  border: none;
  border-radius: 3px;
  background-position: 14px 50%;
}

 div.status {
  background-color: #E8F5E9;
  border: none;
  border-radius: 3px;
  background-position: 14px 50%;
}


.header-menu-options ul li.active a,
.header-menu-options ul li.active a.active,
.header-menu-options ul li.active a:active,
.header-menu-options ul li.active a:visited {
  margin-top: 0px;
  border-top: none;
}

.header-menu-options ul li {
  text-transform: uppercase;
}

div.breadcrumb a {
  color: #A3A3A3;
}

div.breadcrumb a:hover {
  color: #fff;
}


.header-menu-options ul li.active a,
.header-menu-options ul li.active a.active,
.header-menu-options ul li.active a:active,
.header-menu-options ul li.active a:visited {
  box-shadow: none;
  background-color: transparent;
  color: #000;
}

.header-menu-options ul {
  background-color: #EEEEEE;
}

ul.action-links a,
ul.post-links a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  background: #2196f3;
  color: #FFFFFF;
  padding: 3px 20px 2px;
  border-radius: 3px;
  display: inline-block;
}

ul.action-links a:hover,
ul.post-links a:hover {
  background: #29B6F6;
  text-decoration: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
}


#page .operations a {
  text-transform: uppercase;
}

fieldset {
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
  background: #fff;
  border-radius: 3px;
  padding: 2rem;
  position: relative;
}

.fieldset-description {
  padding-top: 28px;
  padding-bottom: 20px;
  color: #222222;
}

.text-format-wrapper fieldset.filter-wrapper {
  box-shadow: none;
  border: 1px solid #DDD;
  border-top: 0;
  border-radius: 0;
  margin: -1.6rem 0 0 0;
  padding: .25rem;
}

.horizontal-tabs-panes fieldset.horizontal-tabs-pane {
  box-shadow: none;
}

fieldset legend {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 14px;
}

.features-export-parent fieldset legend {
  top: 0;
}

.header-menu-options ul {
  overflow: hidden;
}


table th {
  font-size: 16px;
  font-weight: 400;
}

table tr.add-new,
table tr.add-new:hover {
  background-color: #E8F5E9;
}

table tbody td a {
  padding: .5em .75em;
  border-radius: 3px;
  vertical-align: middle;
}

table tbody td a:hover {
  text-decoration: underline;
}

/* Buttons */

/* Gray Button */
button[type="submit"],
button.form-submit,
a.button,
div.exposed-filters button#edit-submit {
  cursor: pointer;
  background: #BBBBBB;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.077em;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: all, 0.3s;
}

button[type="submit"]:hover,
button.form-submit:hover,
a.button:hover,
div.exposed-filters button#edit-submit:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

button[type="submit"]:active,
button.form-submit:active,
a.button:active,
div.exposed-filters button#edit-submit:active {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

button[type="submit"]:focus,
button.form-submit:focus,
a.button:focus,
div.exposed-filters button#edit-submit:focus {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}


/* Green Button */
i.zmdi-save {
 color: #0E9C57;
}
button[type="submit"][id^="edit-submit"],
button#edit-actions-submit,
button[id^="save-continue"],
button[type="submit"][id^="edit-save"],
button#edit-save,
button#edit-submit,
button#edit-addanother,
button#edit-actions-save {
  cursor: pointer;
  border: none;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  background: #0E9C57;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
}

button[type="submit"][id^="edit-submit"]:hover,
button#edit-actions-submit:hover,
button[id^="save-continue"]:hover,
button[type="submit"][id^="edit-save"]:hover,
button#edit-save:hover,
button#edit-submit:hover,
button#edit-addanother:hover,
button#edit-actions-save:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

button[type="submit"][id^="edit-submit"]:active,
button#edit-actions-submit:active,
button[id^="save-continue"]:active,
button[type="submit"][id^="edit-save"]:active,
button#edit-save:active,
button#edit-submit:active,
button#edit-addanother:active,
button#edit-actions-save:active {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

button[type="submit"][id^="edit-submit"]:focus,
button#edit-actions-submit:focus,
button[id^="save-continue"]:focus,
button[type="submit"][id^="edit-save"]:focus,
button#edit-save:focus,
button#edit-submit:focus,
button#edit-addanother:focus,
button#edit-actions-save:focus {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

/* Red Button */
button#edit-delete,
button#remove-button,
button#edit-remove,
button#edit-clear,
a.button.remove,
button[id*="remove-button"],
.page-node-delete button#edit-submit {
  cursor: pointer;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  background: #D32F2F;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: all, 0.3s;
}

button#edit-delete:hover,
button#remove-button:hover,
button#edit-remove:hover,
button#edit-clear:hover,
a.button.remove:hover,
button[id*="remove-button"]:hover,
.page-node-delete button#edit-submit:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

button#edit-delete:active,
button#remove-button:active,
button#edit-remove:active,
button#edit-clear:active,
button[id*="remove-button"]:active,
.page-node-delete button#edit-submit:active {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

button#edit-delete:focus,
button#remove-button:focus,
button#edit-remove:focus,
button#edit-clear:focus,
button[id*="remove-button"]:focus,
.page-node-delete button#edit-submit:focus {
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

/* Blue Button */
button#edit-preview-changes,
button#edit-next,
button#preview-submit,
button[type="submit"][id^="edit-return"] {
  cursor: pointer;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  background: #0074BD;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: all, 0.3s;
}

button#edit-preview-changes:hover,
button#edit-next:hover,
button#preview-submit:hover,
button[type="submit"][id^="edit-return"]:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

button#edit-preview-changes:active,
button#edit-next:active,
button#preview-submit:active,
button[type="submit"][id^="edit-return"]:active {
  border: none;
  color: #fff;
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

button#edit-preview-changes:focus,
button#edit-next:focus,
button#preview-submit:focus,
button[type="submit"][id^="edit-return"]:focus {
  border: none;
  color: #fff;
  outline: none;
  box-shadow: inset 0 0px 8px rgba(0,0,0,0.4);
}

div.horizontal-tabs ul li.horizontal-tab-button strong {
  font-size: 13px;
}

.form-actions input,
.form-actions button {
  margin-right: 1rem;
}

.figurelabel {
  display: flex;
  .figurelabel__title {
    white-space: nowrap;
  }
}

span.textbook-san-serif {
 font-family: "Open Sans","Helvetica Neue","Helvetica",sans-serif;
}

h1 span.textbook-san-serif,
h2 span.textbook-san-serif,
h3 span.textbook-san-serif,
h4 span.textbook-san-serif,
h5 span.textbook-san-serif,
h6 span.textbook-san-serif {
 font-weight:300 !important;
}