.r-header__icon {
  opacity: 0.5;
}
.r-header__icon:hover {
  opacity: 0.8;
}
.r-header__icon-secondary {
  opacity: 0.2;
}
.r-header__icon-secondary:hover {
  opacity: 0.8;
}

#backtotop {
  background: url(../img/backtotop.png) no-repeat center center;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  #backtotop {
    background: url(../img/backtotop2x.png) no-repeat center center;
    background-size: 70px 70px;
  }
}

.elmsln-home-icon {
  width: 2.5rem;
  height: 2.5rem;
}
.elmsln-home-button-link {
  padding: 0;
  margin: 0 1rem 0;
  font-size: 1rem;
  line-height: 2.5rem
}
.cis-lmsless-avatar {
  width: 2.5rem;
  height: 2.5rem;
}
ul.header-menu-options {
  padding: 0;
  max-width: 100%;
  margin: 0;
  font-size: 1rem;
}
ul.header-menu-options li {
  float:left;
  margin: 0;
  list-style: none;
  display: inline-flex;
  border-bottom: 1px solid #333333;
}
ul.header-menu-options li a {
  padding: .75rem 1rem;
  margin: 0;
}
ul.header-menu-options li.active-trail {
  background-color: #eeeeee;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-top: 1px solid #333333;
  border-bottom: transparent;
}
ul.header-menu-options li:hover {
  background-color: #eeeeee;
}

.cis-admin-area {
  background-color: #5CB61F;
}
.user-nav-masquerade {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.user-nav-masquerade span {
  color: #333333;
  font-weight: bold;
}
.user-nav-masquerade div {
  padding: .25rem;
}
.user-nav-user-roles {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

#block-speedreader-speedreader-block-nav-modal {
  top:25% !important;
  left: 25%;
  width: 50%;
  height: 50%;
}

#block-speedreader-speedreader-block-nav-modal .words {
  margin: 1rem auto;
}

a[data-reveal-id="block-speedreader-speedreader-block-nav-modal"] {
  font-size: 1.5rem;
}

.spritz-word {
  font-size: 5rem;
  line-height: 9.5rem;
  height: 50%;
}

.entity_iframe_tool_icor {
  border: 2px solid #eeeeee;
 }

.view-foundation-access-header {
  width: 100%;
}

.region-header {
  background-position: center;
  background-size: 100rem;
  z-index: 1;
  width: 100%;
  background-attachment: fixed;
}
.region-header img {
  width: 100%;
  background-attachment: fixed;
}

h1#page-title {
  font-size: 2.75rem;
  line-height: 2.75rem;
  padding: 0rem 0 2rem;
}

.etb-book h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

.etb-book h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

.etb-book h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

/* inline flex support in browsers that don't support it currently */
.toolbar-menu-icon,
.content-outline-navigation h2,
.content-outline-navigation h3,
ul.off-canvas-list .left-submenu li.back {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
