.view-foundation-access-header {
  width: 100%;
}

.region-header {
  background-position: center;
  background-size: 100rem;
  z-index: 1;
  width: 100%;
  background-attachment: fixed;
}
.region-header img {
  width: 100%;
  background-attachment: fixed;
}

.region-logo {
  background-position: center;
  background-size: 100rem;
  z-index: 1;
  width: 100%;
  background-attachment: fixed;
}
.region-logo img {
  width: 100%;
  background-attachment: fixed;
}

h1#page-title {
  font-size: 4.5em;
  line-height: 0.9em;
  padding: 0rem 0 2rem;
}

.toolbar-menu-icon {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
