#panels-dnd-main .region {margin-bottom: 5px}
#panels-dnd-main .region-three-25-50-25-first {float: left; width: 24.5%}
#panels-dnd-main .region-three-25-50-25-second {float: left; width: 50%; margin-left: 0.5%}
#panels-dnd-main .region-three-25-50-25-third {float: right; width: 24.5%}
#panels-dnd-main .region-three-25-50-25-bottom {clear: both}
