/* hide these items when on a phone */
@media screen and (max-width: 739px) {
  #block-mooc-helper-active-outline {
    display:none;
  }
  #section-header {
    display:none;
  }
  .book-navigation {
    display:none;
  }
  #page {
    margin-bottom:50px;
    margin-top:30px;
  }
}
#thumbnav_modal select.tinynav {
  display:block !important;
}