.summary-content {
  border: 0.0625em solid #CCCCCC;
  background-color: #F5F5F5;
  padding: 0.625em;
}
.summary-content ul {
  margin: 0;
  padding: 0;
  display: block;
}
.summary-container {
  font-size: 0.875em;
  font-family: Arial, "Liberation Sans", sans-serif;
}
.summary-options {
  padding: 0.3125em;
  height: auto;
  background-color: white;
  border: 0.0625em solid #cdcdcd;
  padding-bottom: 0;
  -moz-border-radius: 0.375em;
  -webkit-border-radius: 0.375em;
  border-radius: 0.375em;
}
.summary-options ul {
  display: none;
}
.summary-evaluation {
  padding: 0.3125em 0.3125em 0.125em 0.3125em;
}
.summary-content li {
  -moz-box-shadow: inset 0 0.0625em 0 0 #fff;
  -webkit-box-shadow: inset 0 0.0625em 0 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #fff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 0.375em;
  -webkit-border-radius: 0.375em;
  border-radius: 0.375em;
  border: 1px solid #dcdcdc;
  color: #777;
  font-family: arial;
  font-size: 0.9375em;
  font-weight: bold;
  padding: 0.375em 0.875em;
  text-decoration: none;
  text-shadow: 0.0625em 0.0625em 0 #fff;
  margin: 0;
  margin-bottom: 0.3125em;
  padding-right: 1.875em;
}
.summary-container li {
  display: none;
  z-index: 5;
  background-repeat: no-repeat;
  background-image: url(img/tick.png);
  background-position: 98% 50%;
  background-size: 1.143em 1.143em;
}
.summary-claim-unclicked:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
  color: #444;
  cursor: pointer;
}
li.summary-failed {
  background-repeat: no-repeat;
  background-image: url(img/cross.png);
  background-position: 98% 50%;
  background-size: 1.143em 1.143em;
}
.summary-evaluation div {
  font-weight: bold;
}
.summary-options div {
  font-size: 0.875em;
  display: none;
  padding: 0 0.357em;
  background-repeat: no-repeat;
  background-position: top right;
}
.summary-options h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.score-over-100 {
	background-image: url(img/response-100.png);
  background-size: 2.429em 2.286em;
}
.score-over-70 {
	background-image: url(img/response-70.png);
  background-size: 2.643em 2.143em;
}
.score-over-40 {
	background-image: url(img/response-40.png);
  background-size: 2.714em 2.214em;
}
.score-over-0 {
	background-image: url(img/response-0.png);
  background-size: 2.429em 2.429em;
}
