# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore stupid mac files
*.DS_Store

# Ignore stupid dreamweaver files
*dwsync.xml
.DS_Store
