
/**
 * Built for Seven.
 */

/**
 * Entity form page.
 */

.emb-hide-reference {
	visibility: hidden;
	position: absolute;
	z-index: -1;
}

.emb-modal {
  position: fixed;
}
.emb-modal > .ui-dialog-content {
  overflow: visible;
  padding: 10px;
}
.emb-modal .ui-button-text-only .ui-button-text {
  padding: 0;
}
