
.diff th {
  width: 50%;
}
.diff pre {
  margin: 0;
  padding: 0;
  background: none;
}
.diff .changed {
  background: #ffff99;
}
.diff .deleted {
  background: #ff9999;
}
.diff .added {
  background: #99ff99;
}
