.jwerty-key-outline {
  border: 2px solid #33FF33 !important;
}
.jwerty-key {
  font-weight: bold !important;
  font-size: 2rem !important;
  color: #333333;
}

.keyboard-short__key {
  min-width: 18px;
  height: 18px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  font-size: 1rem;
  color: #777;
  background: #EFF0F2;
  border-top: 1px solid #F5F5F5;
  text-shadow: 0px 1px 0px #F5F5F5;
  box-shadow: inset 0 0 25px #eee, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  display: inline-block;
  border-radius: 1px;
  width: 32px;
  height: 30px;
  font: 12px/30px sans-serif;
  border-radius: 5px;
}