// Default Menu
.book-outline ul {
	
	&.nav-list {
		border-right: 1px solid #efefef;
		padding: 10px;
		li {
			list-style: none;
			
			a {
				display: block;
				padding: 5px 10px;
				margin: 2px;
				background: transparent;

				&.active {
					background: #e7e7e7;
				}
				&:hover {
					text-decoration: underline;
					background: #e7e7e7;
					
				}
			}
			ul {
				li{
					a {
						display: block;
						background: transparent;
						padding: 12px 25px;
						margin: 0px;
						border-left:1px solid #e7e7e7;
						border-right:1px solid #e7e7e7;
						border-bottom:1px solid #e7e7e7;

						&:hover {
							text-decoration: underline;
							background:transparent;
						}
					}
				}
			}


		}
	}
}
.book-outline.sticky-book-outline {
	width: 30%;
	left: 0px;

	a.button {
		display: block;
		height:48px;
	}

	ul#book-sticky-nav {
		width: 100%;
		max-width: 100%;

		@include p-column(3);
		@media #{$small-only} {
			@include p-column(1);
		 }
		 @media #{$medium-only} {
			@include p-column(2);
		 }
		 @media #{$large-up} {
			@include p-column(3);
		 }
	
		li {
			a {
				&.active {
				}
				&:hover {	
				}
			}

			ul {
				display: none;
			}
		}
	}
}

// Accordion Outline Menu
// .accordion {
// 	dd>a {
// 		padding:0;
// 	}
// }
.accordion-btn {
	margin-bottom:0;
}
ul.menu.book-oultine.slide-panels {
	li {
		//margin-bottom:5px;
		a {//Unit Link
			display: block;
			text-align:center;
			padding:10px;
			border-bottom:2px solid $ao-button-lev1-border-bottom-color;
			

		}
		dl {
			padding: 0px 0px 5px;
			margin-top: 0px;
			// @include border-radius(6px);
			// border: 1px solid #ccc;
			// background: #efefef;

			dd {
				float: left;
				width: 100%;
				margin: 5px 0;
				border:1px solid $ao-border-main-color;
				padding:4px 6px;
				background:#fff;
				
				h3 {
					text-align: center;
					font-size: 1em;
					font-weight:600;
					padding: 10px;
					color:#444;
				}
				li {
				}
				&.active {
					// border:1px solid $link-color;
					a {
						&.outline-sub-link, &.full, &.expand {
							// background-color:#efefef;
						}
					}
				}
				a {//Lessons Link
					text-align:left;
					padding:10px;
					background:transparent;
					color:$link-color;
					font-size:0.8em;
					
				
					&.outline-sub-link {
						display: block;
						float: left;
						margin-bottom: 2px;
						border: 1px solid $ao-border-sec-color;
						background-color: $bright-color;
						width:100%;

						&:before {
							padding-right:0.5em;
							font-size:1.5em;
						}
					}
					&.expand {
					}
					&.half {
						width: 50%;
					}
					&.full {
						width:100%;
					}
					&:first-child {
						
					}

					&:last-child {
						
					}
				}
				
				

				div {
					padding: 1em 0.8em;
					float: left;
					width: 100%;
					background:#efefef;
					margin-bottom:2px;

					li {
						a {//Content Link
							display: block;
							padding: 12px 25px;
							margin: 0px;
							border:none;
							text-align: left;
							padding: 0.3em 0 0;
							font-size: 0.9em;
						}

						&:last-child {
							
						}				
					}
				}
				
				&:last-child {
					// margin-bottom: 5px !important;
					// a {//Last Lesson Link Remove Border
					// 	border-bottom: none;
					// }
					
				}
			}
		}
		&:last-child {//Last top level li
			a {
				border:none;
			}
			dl {
				dd:last-child {
					a {//Last Unit and Lesson Link Add Border
						
					}
					div {
						li {
							a {
								
							}
						}
						&:last-child {
							
						}
					}
				}
			}
		}
	}
}
//ul.menu.book-oultine.slide-panels li dl dd a
// ul.menu.book-oultine.slide-panels li dl dd:last-child div li:last-child {
// border-bottom: none;
// }
