.h5p-interactive-video {
  position: relative;
  background: #000;
  overflow: hidden;
  line-height: 1.25em;
  width: 640px;
  font-size: 16px;
}
.h5p-interactive-video .h5p-video-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 200px;
}
.h5p-interactive-video .h5p-video {
  display: block;
  width: 100%;
  height: auto;
}
.h5p-interactive-video object {
  display: block;
}
.h5p-interactive-video .h5p-video-wrapper .h5p-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.h5p-interactive-video .h5p-ie-transparent-background {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUODw0yPG414gAAAA1JREFUCNdj+P//PwMACPwC/lyfz9oAAAAASUVORK5CYII=);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUODw0yPG414gAAAA1JREFUCNdj+P//PwMACPwC/lyfz9oAAAAASUVORK5CYII=', sizingMethod='scale');
}
.h5p-interactive-video .h5p-splash {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 22.5%;
  padding: 1em 1em 1.25em;
  text-align: center;
  font-size: 0.875em;
  background: rgba(0,0,0,0.8);
  border-radius: 1em;
  color: #fff;
}
.h5p-interactive-video .h5p-splash > h2 {
  font-size: 1.6em;
  font-weight: bold;
}
.h5p-interactive-video .h5p-splash > h2:before {
  font-family: 'H5PFontAwesome';
  content: "\f0a6";
  margin-right: 0.4em;
}
.h5p-interactive-video .h5p-splash > p {
  margin: 0.5em 0 1em;
}
.h5p-interactive-video .h5p-splash > .h5p-interaction {
  position: relative;
  display: inline-block;
  width: auto;
  margin: 0 1.25em;
  font-size: 1.125em;
}
.h5p-interactive-video .h5p-splash > .h5p-interaction .h5p-interaction-label {
  position: relative;
}

.h5p-interactive-video .h5p-splash-wrapper {
  width: 100%;
  height: 100%;
}

.h5p-interactive-video .h5p-interaction {
  position: absolute;
  width: 1.75em;
  height: 1.75em;
}
.h5p-interactive-video .h5p-interaction-label, .h5p-interactive-video .h5p-interaction-button {
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}
.h5p-interactive-video .h5p-interaction-label {
  position: absolute;
  top: 0.34em;
  left: 1.75em;
  font-size: 0.75em;
  padding: 0.1em 0.5em 0.1em 1em;
  background: rgba(44,44,44,0.8);
  border-radius: 0.25em;
  color: #fff;
  z-index: 1;
  width: auto;
  white-space: nowrap;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
}
.h5p-interactive-video .h5p-interaction-label.h5p-left-label {
  left: auto;
  right: 1.75em;
  padding: 0.1em 1em 0.1em 0.5em;
}
.h5p-interactive-video .h5p-interaction-button {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1.75em;
  height: 1.75em;
  background: #00f;
  color: #fff;
  font-family: 'H5PFontAwesome';
  font-size: 1em;
  border-radius: 50%;
  line-height: 1.875em;
  box-shadow: 0.15em 0.25em 0.25em 0 #191919;
  text-shadow: 0 0 0.3em #191919;
  text-align: center;
  border: 0;
  background: #666666;
  background-image: -webkit-linear-gradient(bottom, #666666 50%, #aaaaaa 50%, #666666 100%);
  background: -moz-linear-gradient(bottom, #666666 50%, #aaaaaa 50%, #666666 100%);
  background: -ms-linear-gradient(bottom, #666666 50%, #aaaaaa 50%, #666666 100%);
  background: linear-gradient(to top, #666666 50%, #aaaaaa 50%, #666666 100%);

  *margin-right: .3em;
}
.h5p-interactive-video .h5p-interaction-button:before {
  content: "\f128";
}
.h5p-interactive-video .h5p-interaction-button:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}
.h5p-interactive-video .h5p-hidden > .h5p-interaction-button {
  -webkit-transform: rotate(90deg) scale(0,0);
  -moz-transform: rotate(90deg) scale(0,0);
  -ms-transform: rotate(90deg) scale(0,0);
  -o-transform: rotate(90deg) scale(0,0);
  transform: rotate(90deg) scale(0,0);
}
.h5p-interactive-video .h5p-hidden > .h5p-interaction-label {
  -webkit-transform: scale(0,0) translateX(-100%);
  -moz-transform: scale(0,0) translateX(-100%);
  -ms-transform: scale(0,0) translateX(-100%);
  transform: scale(0,0) translateX(-100%);
}

.h5p-interactive-video .h5p-text-interaction > .h5p-interaction-button, .h5p-interactive-video .h5p-table-interaction > .h5p-interaction-button, .h5p-interactive-video .h5p-image-interaction > .h5p-interaction-button {
  background: #1d5cff;
  background-image: -webkit-linear-gradient(bottom, #1d5cff 50%, #5ba7ff 50%, #1d5cff 100%);
  background: -moz-linear-gradient(bottom, #1d5cff 50%, #5ba7ff 50%, #1d5cff 100%);
  background: -ms-linear-gradient(bottom, #1d5cff 50%, #5ba7ff 50%, #1d5cff 100%);
  background: linear-gradient(to top, #1d5cff 50%, #5ba7ff 50%, #1d5cff 100%);
}
.h5p-interactive-video .h5p-text-interaction > .h5p-interaction-button:before {
  content: "\f05a";
}
.h5p-interactive-video .h5p-table-interaction > .h5p-interaction-button:before {
  content: "\f0ce";
}
.h5p-interactive-video .h5p-image-interaction > .h5p-interaction-button:before {
  content: "\f03e";
}
.h5p-interactive-video .h5p-summary-interaction > .h5p-interaction-button, .h5p-interactive-video .h5p-multichoice-interaction > .h5p-interaction-button, .h5p-interactive-video .h5p-blanks-interaction > .h5p-interaction-button, .h5p-interactive-video .h5p-dragquestion-interaction > .h5p-interaction-button {
  background: #981d99;
  background-image: -webkit-linear-gradient(bottom, #981d99 50%, #ce6cd8 50%, #981d99 100%);
  background: -moz-linear-gradient(bottom, #981d99 50%, #ce6cd8 50%, #981d99 100%);
  background: -ms-linear-gradient(bottom, #981d99 50% ,#ce6cd8 50%, #981d99 100%);
  background: linear-gradient(to top, #981d99 50%, #ce6cd8 50%, #981d99 100%);
}
.h5p-interactive-video .h5p-summary-interaction > .h5p-interaction-button:before {
  content: "\f0ca";
}
.h5p-interactive-video .h5p-multichoice-interaction > .h5p-interaction-button:before {
  content: "\f046";
}
.h5p-interactive-video .h5p-blanks-interaction > .h5p-interaction-button:before {
  content: "\f0ae";
}
.h5p-interactive-video .h5p-dragquestion-interaction > .h5p-interaction-button:before {
  content: "\f126";
}

@keyframes blinking
{
  0%, 80%, 100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  40% {
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  60% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@-webkit-keyframes blinking
{
  0%, 80%, 100% {
    -webkit-transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-25deg);
  }
  40% {
    -webkit-transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-15deg);
  }
}

.h5p-interactive-video .h5p-end-summary > .h5p-interaction-button {
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation: blinking 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.h5p-interactive-video .h5p-end-summary > .h5p-interaction-button:hover {
  -webkit-animation: none;
}

.h5p-interactive-video .h5p-controls {
  font-size: 16px;
  height: 36px;
  background: #2c2c2c;
}
.h5p-interactive-video.h5p-fullscreen .h5p-controls, .h5p-interactive-video.h5p-semi-fullscreen .h5p-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.h5p-interactive-video .h5p-control {
  display: block;
  height: 36px;
  color: #fefefe;
}
.h5p-interactive-video .h5p-control:hover {
  text-decoration: none;
}
.h5p-interactive-video .h5p-controls-left {
  float: left;
  overflow: hidden;
}
.h5p-interactive-video .h5p-controls-left .h5p-control {
  float: left;
  border-right: 2px solid #333333;
}
.h5p-interactive-video .h5p-controls-right {
  float: right;
  overflow: hidden;
}
.h5p-interactive-video .h5p-controls-right .h5p-control {
  float: right;
  border-left: 2px solid #333333;
}

.h5p-interactive-video .h5p-control {
  width: 60px;
  background-size: 60px 36px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.h5p-interactive-video .h5p-play {
  background-image: url('../images/pause.png');
}
.h5p-interactive-video .h5p-pause {
  background-image: url(../images/play.png);
}
.h5p-interactive-video .h5p-fullscreen {
  background-image: url(../images/fullscreen.png);
}
.h5p-interactive-video .h5p-exit {
  background-image: url(../images/exit-fullscreen.png);
}
.h5p-interactive-video .h5p-volume {
  background-image: url(../images/volume.png);
}
.h5p-interactive-video .h5p-muted {
  background-image: url(../images/muted.png);
}
.h5p-interactive-video .h5p-copyright {
  background-image: url(../images/copyright.png);
}

.h5p-interactive-video .h5p-time {
  width: auto;
  height: auto;
  font-size: 0.875em;
  color: #808080;
  padding: 0.57em 1.14em;
}
.h5p-interactive-video .h5p-controls-right .h5p-time {
  line-height: 1.25em;
  border: 0;
}
.h5p-interactive-video .h5p-time > .h5p-current {
  color: #fff;
}
.h5p-interactive-video .h5p-slider {
  width: auto;
  padding: 13px 0 13px 19px;
  margin: 0;
}
.h5p-interactive-video .h5p-slider .ui-slider {
  background: #0b0d0c;
  border: 0;
  height: 8px;
  border-bottom: 2px solid #4e4e4e;
  border-radius: 4px;
  cursor: pointer;
}
.h5p-interactive-video .h5p-slider .ui-slider-range {
  color: #ccc;
  height: 9px;
}
.h5p-interactive-video .h5p-slider .ui-slider-handle {
  cursor: pointer;
  top: -4px;
  width: 18px;
  height: 18px;
  border: 0;
  background: transparent url(../images/slider.png) no-repeat 50% 50%;
  background-size: 18px 18px;
  border-radius: 0;
  outline: none;
}

.h5p-interactive-video .h5p-buffered {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.h5p-interactive-video .h5p-dialog-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 51;
  background: rgba(0,0,0,0.4);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
}
.h5p-interactive-video .h5p-dialog-wrapper.h5p-hidden {
  background: rgba(0,0,0,0);
}
.h5p-interactive-video .h5p-dialog-wrapper.h5p-hidden .h5p-dialog {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.h5p-interactive-video .h5p-dialog {
  position: absolute;
  width: 24.5em;
  max-height: 81.5%;
  margin: 1.33em;
  padding: 0.67em;
  background: #fff;
  overflow: auto;
  box-shadow: 0 0 2.67em 0 #191919;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}
.h5p-interactive-video .h5p-dialog.h5p-big {
  width: 91.2%;
  height: 81.5%;
}
.h5p-interactive-video .h5p-dialog-inner {
  width: 22.9em;
  height: 100%;
  overflow: auto;
}
.h5p-interactive-video .h5p-big > .h5p-dialog-inner {
  width: 96%;
}
.h5p-interactive-video .h5p-dialog-inner::-webkit-scrollbar {
  width: 0.5em;
  background: #fff;
}
.h5p-interactive-video .h5p-dialog-inner::-webkit-scrollbar-thumb {
  border-radius: 0.25em;
  background: #191919;
}

.h5p-interactive-video .h5p-dialog-hide {
  color: #191919;
  font-size: 2em;
  line-height: 0.75em;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  height: 1em;
  z-index: 52;
  text-shadow: 0 0 0.5em #ffffff;
  font-family: 'H5PFontAwesome';
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}
.h5p-interactive-video .h5p-dialog-hide:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}
.h5p-interactive-video .h5p-image {
  display: block;
  height: auto;
}

.h5p-interactive-video .h5p-copyinfo {
  line-height: 1.25em;
  margin: 1em 0;
}
.h5p-interactive-video .h5p-copyinfo > dt {
  float: left;
  margin: 0 0.75em 0 0;
}
.h5p-interactive-video .h5p-copyinfo > dt:after {
  content: ":";
}
.h5p-interactive-video .h5p-copyinfo > dd {
  margin: 0;
}

.h5p-interactive-video .h5p-interactions-copyright {
  font-size: 1.25em;
  font-weight: bold;
  margin: 1.5em 0 0;
}

.h5p-interactive-video .h5p-video-error {
  padding: 1em;
  color: #fff;
}

.h5p-interactive-video .h5p-table {
  font-size: 0.875em;
  border-collapse: collapse;
}
.h5p-interactive-video .h5p-table th {
  border-bottom: 2px solid #191919;
}
.h5p-interactive-video .h5p-table td {
  border-bottom: 1px solid #595959;
}
.h5p-interactive-video .h5p-table tr:last-child td {
  border-bottom: 0;
}
