#email that the site uses to send mail
site_email=admin@example.com
#administrator e-mail or alias
admin=admin@example.com
#.course .studio file loaction
fileloc=/var/wwwjobs
webdir=/var/www/
#sets the hostname for each college
hostfile=$fileloc/hosts

#database superuser credentials
dbsu=dbadmin
dbsupw=password
