/* line 1, ../scss/_utils.scss */
ul.list-unstyled {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* line 4, ../scss/_form-field.scss */
.field {
  margin: 20px 0;
  font-size: 16px;
  padding: 0;
}
/* line 10, ../scss/_mixins.scss */
.field:first-child {
  margin-top: 0;
}
/* line 14, ../scss/_mixins.scss */
.field:last-child {
  margin-bottom: 0;
}
/* line 11, ../scss/_form-field.scss */
.tree > .field.group:last-child {
  margin-bottom: 0;
}
/* line 15, ../scss/_form-field.scss */
.fields > .field.group {
  margin: 10px 0;
}
/* line 10, ../scss/_mixins.scss */
.fields > .field.group:first-child {
  margin-top: 0;
}
/* line 14, ../scss/_mixins.scss */
.fields > .field.group:last-child {
  margin-bottom: 0;
}
/* line 19, ../scss/_form-field.scss */
.field.boolean .h5peditor-label {
  display: inline;
}
/* line 23, ../scss/_form-field.scss */
.field.video, .field.image, .field.file, .field.audio {
  position: relative;
}
/* line 27, ../scss/_form-field.scss */
.field .h5p-editor-image-buttons {
  float: left;
  clear: both;
}
/* line 32, ../scss/_form-field.scss */
.field .library {
  border: 0;
}
/* line 36, ../scss/_form-field.scss */
.field.importance-high > .h5peditor-label-wrapper > .h5peditor-label {
  font-size: 18px;
  color: #356593;
}

/* line 4, ../scss/_form-groups.scss */
.group > .title, .h5p-li > .list-item-title-bar, .common > .h5peditor-label {
  visibility: inherit;
  cursor: pointer;
}

/* line 8, ../scss/_form-groups.scss */
.group.importance-high > .title, .h5p-li > .list-item-title-bar.importance-high {
  background: #2579C6;
  border: 1px solid #1f67a8;
  height: 42px;
}

/* line 13, ../scss/_form-groups.scss */
.group.importance-high > .title, .h5p-li > .list-item-title-bar.importance-high > .h5peditor-label, .h5p-li > .list-item-title-bar.importance-high > .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 42px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 21, ../scss/_form-groups.scss */
.group > .title, .h5p-li > .list-item-title-bar {
  background: #747275;
  border: 1px solid #636164;
  height: 38px;
}

/* line 26, ../scss/_form-groups.scss */
.group > .title, .h5p-li > .list-item-title-bar > .h5peditor-label, .h5p-li > .list-item-title-bar.importance-medium > .h5peditor-label {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 38px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 36, ../scss/_form-groups.scss */
.group.importance-low > .title, .h5p-li > .list-item-title-bar.importance-low, .common > .h5peditor-label {
  background: #f5f5f5;
  height: 38px;
  border: 1px solid #d0d0d1;
}

/* line 41, ../scss/_form-groups.scss */
.group.importance-low > .title, .h5p-li > .list-item-title-bar.importance-low > .h5peditor-label, .h5p-li > .list-item-title-bar.importance-low > .title, .common > .h5peditor-label {
  font-size: 16px;
  font-weight: 400;
  color: #212121;
  line-height: 38px;
}

/* line 48, ../scss/_form-groups.scss */
.group {
  border: none;
}
/* line 51, ../scss/_form-groups.scss */
.group > .title {
  padding: 0 10px;
  outline: none;
}
/* line 59, ../scss/_form-groups.scss */
.group > .content {
  display: none;
  margin: 0;
  padding: 20px;
  border: 1px solid #d0d0d1;
  border-top: none;
  background: #FFFFFF;
}
/* line 68, ../scss/_form-groups.scss */
.group.importance-high > .title {
  color: #FFFFFF;
}
/* line 74, ../scss/_form-groups.scss */
.group.importance-low > .title {
  color: #212121;
}
/* line 79, ../scss/_form-groups.scss */
.group.importance-low > .title:focus:before {
  outline: 1px dashed;
}

/* line 87, ../scss/_form-groups.scss */
.common .content, .content .content {
  background-color: #fcfcfc;
}
/* line 90, ../scss/_form-groups.scss */
.common .content .content, .content .content .content {
  background-color: #FFFFFF;
}
/* line 93, ../scss/_form-groups.scss */
.common .content .content .content, .content .content .content .content {
  background-color: #fcfcfc;
}
/* line 96, ../scss/_form-groups.scss */
.common .content .content .content .content, .content .content .content .content .content {
  background-color: #FFFFFF;
}
/* line 99, ../scss/_form-groups.scss */
.common .content .content .content .content .content, .content .content .content .content .content .content {
  background-color: #fcfcfc;
}
/* line 102, ../scss/_form-groups.scss */
.common .content .content .content .content .content .content, .content .content .content .content .content .content .content {
  background-color: #FFFFFF;
}

/* line 112, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar {
  color: #FFFFFF;
}
/* line 117, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar > .h5peditor-label {
  overflow: hidden;
  margin: 0 54px 0 0;
  padding: 0 10px;
  white-space: nowrap;
  line-height: 38px;
  outline: none;
  text-overflow: ellipsis;
}
/* line 141, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar > .list-actions {
  height: 100%;
  float: right;
  position: relative;
}
/* line 147, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .remove {
  cursor: pointer;
  width: 1.25em;
  height: 38px;
  font-size: 1.75em;
  display: inline-block;
}
/* line 154, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .remove:hover {
  opacity: 1;
  text-decoration: none;
}
/* line 160, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .remove:after {
  font-family: "H5P";
  content: "\e890";
  opacity: 0.7;
  display: inline-block;
  line-height: 38px;
}
/* line 168, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .remove:hover:after {
  opacity: 1;
}
/* line 172, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-group {
  text-align: center;
  float: right;
  background: #636164;
  font-size: 16px;
  cursor: pointer;
}
/* line 180, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-up, .h5p-li > .list-item-title-bar .order-down {
  width: 19px;
  height: 19px;
  line-height: 19px;
}
/* line 185, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-up:hover, .h5p-li > .list-item-title-bar .order-down:hover {
  background: #636164;
}
/* line 189, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-up:after, .h5p-li > .list-item-title-bar .order-down:after {
  font-family: "H5P";
  content: "\e58e";
  display: inline-block;
}
/* line 196, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar .order-down:after {
  content: "\e58f";
}
/* line 203, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high > .title {
  border: none;
  margin: 0 74px 0 0;
}
/* line 209, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .remove {
  height: 42px;
  line-height: 42px;
  font-size: 40px;
}
/* line 214, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .remove:after {
  line-height: 42px;
  opacity: 0.7;
}
/* line 218, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .remove:hover:after {
  opacity: 1;
}
/* line 223, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .order-group {
  background: #1f67a8;
  font-size: 18px;
}
/* line 228, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .order-up, .h5p-li > .list-item-title-bar.importance-high .order-down {
  width: 21px;
  height: 21px;
  line-height: 21px;
}
/* line 233, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-high .order-up:hover, .h5p-li > .list-item-title-bar.importance-high .order-down:hover {
  background: #1f67a8;
}
/* line 242, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low > .title {
  border: none;
  margin: 0 54px 0 0;
}
/* line 247, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low > .title:before {
  color: #212121;
}
/* line 250, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low > .title:focus:before {
  outline: 1px dashed #212121;
}
/* line 255, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .remove {
  height: 38px;
  line-height: 38px;
  font-size: 30px;
}
/* line 260, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .remove:after {
  line-height: 38px;
}
/* line 264, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .remove:after {
  color: #212121;
  opacity: 0.7;
}
/* line 268, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .remove:hover:after {
  opacity: 1;
}
/* line 272, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .order-up, .h5p-li > .list-item-title-bar.importance-low .order-down {
  width: 19px;
  height: 19px;
  background: #d0d0d1;
  font-size: 16px;
  line-height: 19px;
}
/* line 279, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .order-up:hover, .h5p-li > .list-item-title-bar.importance-low .order-down:hover {
  background: #deddde;
}
/* line 283, ../scss/_form-groups.scss */
.h5p-li > .list-item-title-bar.importance-low .order-up:after, .h5p-li > .list-item-title-bar.importance-low .order-down:after {
  color: #212121;
}

/* line 291, ../scss/_form-groups.scss */
.group.expanded > .content,
.listgroup.expanded > .content {
  display: block;
}

/* line 296, ../scss/_form-groups.scss */
.listgroup > .list-item-title-bar > .h5peditor-label {
  cursor: pointer;
}

/* line 301, ../scss/_form-groups.scss */
.list-item-title-bar > .title:before,
.group > .title:before {
  content: "\e566";
  font-family: "H5P";
  margin-right: 5px;
}
/* line 307, ../scss/_form-groups.scss */
.list-item-title-bar > .title:focus:before,
.group > .title:focus:before {
  outline: 1px dashed #FFFFFF;
}

/* line 311, ../scss/_form-groups.scss */
.listgroup.expanded > .list-item-title-bar > .h5peditor-label:before,
.expanded > .title:before {
  content: "\e565";
}

/* line 315, ../scss/_form-groups.scss */
.listgroup > .group.field {
  margin: 0;
  padding: 0;
  min-width: 0;
}

@-moz-document url-prefix() {
  /* line 321, ../scss/_form-groups.scss */
  .listgroup > .group.field {
    display: table-column;
  }
}
/* line 325, ../scss/_form-groups.scss */
.content {
  display: block;
  margin: 0;
  padding: 20px;
  border: 1px solid #d0d0d1;
  border-top: none;
  background: #FFFFFF;
}

/* line 334, ../scss/_form-groups.scss */
.common {
  margin-top: 20px;
}
/* line 337, ../scss/_form-groups.scss */
.common > .h5peditor-label {
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  font-size: 1em;
}
/* line 346, ../scss/_form-groups.scss */
.common > .h5peditor-label > .icon:before {
  content: "\e565";
  font-family: "H5P";
  margin-right: 5px;
}
/* line 351, ../scss/_form-groups.scss */
.common > .h5peditor-label:hover > .icon {
  opacity: 1;
}
/* line 355, ../scss/_form-groups.scss */
.common > .h5peditor-label:focus {
  outline: none;
}
/* line 359, ../scss/_form-groups.scss */
.common > .h5peditor-label:focus > .icon:before {
  outline: 1px dashed;
}
/* line 363, ../scss/_form-groups.scss */
.common > .fields {
  min-height: 2em;
  padding: 20px;
  border: 1px solid #d0d0d1;
  border-top: none;
  background: #FFFFFF;
}
/* line 370, ../scss/_form-groups.scss */
.common > .fields > .desc {
  margin: 0;
  font-size: 0.875em;
  color: #666;
}
/* line 376, ../scss/_form-groups.scss */
.common > .fields p:first-child {
  margin-bottom: 20px;
}
/* line 382, ../scss/_form-groups.scss */
.common.collapsed > .h5peditor-label > .icon:before {
  content: "\e566";
}
/* line 385, ../scss/_form-groups.scss */
.common.collapsed > .fields {
  display: none;
}
/* line 390, ../scss/_form-groups.scss */
.common.hidden {
  display: none;
}

/* line 397, ../scss/_form-groups.scss */
.h5peditor-button[aria-label]:before {
  content: attr(aria-label);
  visibility: hidden;
  position: absolute;
  top: 115%;
  right: -10%;
  z-index: 2;
  padding: 0.25em 0.75em;
  background: #212121;
  color: #FFFFFF;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 0 0.5em #858585;
}
/* line 415, ../scss/_form-groups.scss */
.h5peditor-button[aria-label]:hover:before {
  visibility: visible;
}
/* line 419, ../scss/_form-groups.scss */
.h5peditor-button[aria-label][aria-disabled="true"]:before {
  display: none;
}

/* line 4, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button {
  background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
  font-size: 14px;
  color: #212121;
  line-height: 28px;
  padding-right: 20px;
  margin-right: 0.5em;
  height: 30px;
  padding-left: 0;
  font-weight: normal;
}
/* line 15, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button:hover:not([disabled]) {
  background: linear-gradient(to bottom, #fff 0, #d0d0d1 100%);
  border-color: #999;
}
/* line 21, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button:before {
  font-family: "H5P";
  content: "\e900";
  color: #666;
  padding-right: 0.3em;
  padding-left: 0.45em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 0.9;
}
/* line 32, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button.loading:before {
  content: "\e901";
}
/* line 36, ../scss/_h5peditor-image-edit.scss */
.h5peditor .h5p-editing-image-button.hidden,
.h5peditor .h5p-copyright-button.hidden {
  display: none !important;
}
/* line 41, ../scss/_h5peditor-image-edit.scss */
.h5peditor .ui-dialog .h5p-editing-image-button,
.h5peditor .ui-dialog .h5p-copyright-button {
  padding-left: 0.5em;
}

/* line 1, ../scss/_h5peditor-image-edit-popup.scss */
body.h5p-editor-image-popup {
  position: relative;
}

/* line 5, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 3em 1em;
  box-sizing: border-box;
  z-index: 101;
}

/* line 19, ../scss/_h5peditor-image-edit-popup.scss */
#darkroom-icons {
  top: 0;
  left: 0;
}

/* line 24, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup-background.hidden {
  display: none;
}

/* line 28, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup {
  display: inline-block;
  position: relative;
  top: 0;
  left: 50%;
  height: auto;
  width: 100%;
  max-height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header {
  padding: 1em 0.75em;
}

/* line 49, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image {
  max-height: 100%;
  max-width: 100%;
}

/* line 54, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image.hidden {
  display: none;
}

/* line 59, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup .darkroom-toolbar {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 0;
}
/* line 67, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup .darkroom-toolbar:before {
  content: initial;
}
/* line 71, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup .darkroom-image-container {
  padding: 32px 2em;
}
/* line 75, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-popup .darkroom-image-container .canvas-container {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.6);
  margin: auto;
}

/* line 81, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-title {
  display: inline-block;
  font-size: 1.25em;
}

/* line 86, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons {
  display: inline-block;
  float: right;
}

/* line 90, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-loading {
  padding: 1em;
}

/* line 94, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-loading.hidden {
  display: none;
}

/* line 98, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-editing-container {
  background: #666;
}

/* line 103, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons button {
  padding: 0.5em 1.75em;
  margin: 0 0 0 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  color: #333;
  cursor: pointer;
  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #fff 0, #f2f2f2 100%);
}
/* line 117, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons button:hover {
  background: #ededed;
}
/* line 121, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons .h5p-done {
  color: #fff;
  border-color: #20588F;
  background: #3673B5;
  background: -webkit-linear-gradient(top, #5A94D3 0, #3673B5 100%);
  background: -ms-linear-gradient(top, #5A94D3 0, #3673B5 100%);
}
/* line 130, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons .h5p-done:hover {
  background: #3275bc;
  background: -webkit-linear-gradient(top, #3275bc 0, #285585 100%);
  background: -ms-linear-gradient(top, #3275bc 0, #285585 100%);
}
/* line 136, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons .h5p-remove {
  background: none;
  border: none;
  color: #a00;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}
/* line 145, ../scss/_h5peditor-image-edit-popup.scss */
.h5p-editing-image-header-buttons .h5p-remove:hover {
  background: none;
  color: #e40000;
}

/*
 START HFP-409
 @deprecated (can be removed after May 2017)
 Styling that lets old vtabs styling work with the editor upgrade, in Dec 2016 release
*/
/* line 10, ../scss/_deprecated.scss */
.h5p-vtab-wrapper > .h5p-vtab-forms .h5p-remove:after {
  color: #d0d0d1;
}

/* END HFP-409 */
/* line 17, ../scss/application.scss */
html, body {
  margin: 0;
  padding: 0;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  max-width: 960px;
  position: relative;
}

/* line 25, ../scss/application.scss */
a {
  text-decoration: none;
}

/* line 29, ../scss/application.scss */
.h5peditor {
  font-size: 16px;
  /* Placeholders - need to be on separate lines. If not,
     the browsers will invalidate them */
  /* Copyright button for video & audio */
}
/* line 32, ../scss/application.scss */
.h5peditor .h5p-more-libraries {
  font-size: 0.875em;
  margin-top: 0.4em;
}
/* line 36, ../scss/application.scss */
.h5peditor .h5peditor-single > .field.library {
  border: 0;
  padding: 0;
}
/* line 41, ../scss/application.scss */
.h5peditor .errors p,
.h5peditor .h5p-errors {
  color: #da0001;
}
/* line 45, ../scss/application.scss */
.h5peditor textarea {
  resize: vertical;
}
/* line 50, ../scss/application.scss */
.h5peditor .has-important-description .h5peditor-field-description {
  display: none;
}
/* line 53, ../scss/application.scss */
.h5peditor .has-important-description textarea {
  width: calc(100% - 70px);
}
/* line 56, ../scss/application.scss */
.h5peditor .has-important-description .ckeditor {
  margin-right: 70px;
}
/* line 61, ../scss/application.scss */
.h5peditor textarea,
.h5peditor .h5peditor-text,
.h5peditor .ckeditor {
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  min-height: 40px;
  border: 1px solid #d0d0d1;
  background: #FFFFFF;
  outline: none;
  font-size: 16px;
  word-wrap: break-word;
}
/* line 75, ../scss/application.scss */
.h5peditor textarea.error,
.h5peditor .h5peditor-text.error,
.h5peditor .ckeditor.error {
  border-color: red;
}
/* line 79, ../scss/application.scss */
.h5peditor .h5peditor-text, .h5peditor textarea {
  width: 100%;
  box-sizing: border-box;
}
/* line 83, ../scss/application.scss */
.h5peditor .h5peditor-text.error, .h5peditor textarea.error {
  border-color: red;
}
/* line 89, ../scss/application.scss */
.h5peditor ::-webkit-input-placeholder {
  color: #858585;
}
/* line 92, ../scss/application.scss */
.h5peditor :-moz-placeholder {
  color: #858585;
}
/* line 95, ../scss/application.scss */
.h5peditor ::-moz-placeholder {
  color: #858585;
}
/* line 98, ../scss/application.scss */
.h5peditor :-ms-input-placeholder {
  color: #858585;
}
/* line 101, ../scss/application.scss */
.h5peditor .h5peditor-ckeditor-placeholder {
  color: #858585;
}
/* line 104, ../scss/application.scss */
.h5peditor select {
  padding: 10px 30px 10px 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: 1px solid #d0d0d1;
  background: #FFFFFF url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVQY053RsQ2EMAyF4d/XwCgpkUiXXZgja6S8haigRYyRDR4NQnCXIIElN7Y/y5JNEk/jA8BinTcfbcYVp2Zz3ny0hQ4AiXYcWAERUmaSk8SREy4FMiCGcUVq/xtnWKmXN4aU+VYWXdAvbFDt5Cu6O/UW7bCnjyUgCXvzpw2xjbiHyolgTgAAAABJRU5ErkJggg==') no-repeat;
  background-position: calc(100% - 10px);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.12);
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 115, ../scss/application.scss */
.h5peditor > select {
  margin-bottom: 13px;
  margin-right: 20px;
}
/* line 119, ../scss/application.scss */
.h5peditor select::-ms-expand {
  display: none;
}
/* line 122, ../scss/application.scss */
.h5peditor a:focus {
  outline: none;
}
/* line 125, ../scss/application.scss */
.h5peditor textarea:focus,
.h5peditor .h5peditor-text:focus {
  outline: none;
  background-color: #FFFFFF;
  border-color: #53a0ff;
}
/* line 131, ../scss/application.scss */
.h5peditor .h5p-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 136, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
/* line 10, ../scss/_mixins.scss */
.h5peditor .h5p-ul .h5p-li:first-child {
  margin-top: 0;
}
/* line 14, ../scss/_mixins.scss */
.h5peditor .h5p-ul .h5p-li:last-child {
  margin-bottom: 0;
}
/* line 141, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li.placeholder {
  box-sizing: border-box;
  background: #e8f2fa;
  border: dashed 2px #2782d1;
}
/* line 147, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li:hover {
  text-decoration: none;
}
/* line 151, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li:nth-child(2).moving {
  margin-top: 0;
}
/* line 155, ../scss/application.scss */
.h5peditor .h5p-ul .h5p-li:nth-last-child(2).placeholder {
  margin-bottom: 0;
}
/* line 160, ../scss/application.scss */
.h5peditor .dimensions input, .h5peditor .coordinates input, .h5peditor .number input {
  width: 75px;
}
/* line 163, ../scss/application.scss */
.h5peditor .number input[type="range"] {
  width: 300px;
  float: left;
  margin: 7px 8px 0 0;
}
/* line 168, ../scss/application.scss */
.h5peditor .h5p-errors {
  clear: both;
}
/* line 171, ../scss/application.scss */
.h5peditor .h5p-add-file {
  float: left;
  position: relative;
  background: transparent;
  border: 2px dashed #dddddd;
  color: #dddddd;
  margin: 0.5em;
  width: 6em;
  height: 4.5em;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 185, ../scss/application.scss */
.h5peditor .h5p-add-file:focus, .h5peditor .h5p-add-file:hover {
  color: #999;
  border-color: #999;
}
/* line 191, ../scss/application.scss */
.h5peditor .h5p-add-file.hidden {
  visibility: hidden;
}
/* line 196, ../scss/application.scss */
.h5peditor .h5p-add-file:after {
  position: absolute;
  content: "+";
  font-size: 2em;
  line-height: 2.2em;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 205, ../scss/application.scss */
.h5peditor .h5p-add-dialog {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  left: 1em;
  right: 1em;
  top: 1em;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-shadow: 0 0 8px #666;
  -webkit-box-shadow: 0 0 8px #666;
  box-shadow: 0 0 8px #666;
  -moz-transition: visibility 0s 0.2s, opacity 0.2s;
  -o-transition: visibility 0s 0.2s, opacity 0.2s;
  -webkit-transition: visibility 0s, opacity 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition: visibility 0s 0.2s, opacity 0.2s;
}
/* line 220, ../scss/application.scss */
.h5peditor .h5p-add-dialog.h5p-open {
  visibility: visible;
  opacity: 1;
  -moz-transition: visibility 0s 0s, opacity 0.2s;
  -o-transition: visibility 0s 0s, opacity 0.2s;
  -webkit-transition: visibility 0s, opacity 0.2s;
  -webkit-transition-delay: 0s, 0s;
  transition: visibility 0s 0s, opacity 0.2s;
}
/* line 226, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table {
  overflow: hidden;
}
/* line 229, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box {
  float: left;
  padding: 0;
  width: 60%;
  margin-right: 5%;
  margin-left: 4%;
  text-align: left;
  margin-top: 30px;
}
/* line 238, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box:first-child {
  width: 22%;
  margin-left: 3%;
  margin-right: 1%;
}
/* line 243, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box:first-child h3 {
  text-align: center;
}
/* line 248, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box h3 {
  color: #666;
  font-size: 1em;
  margin: 1.2em 0;
  line-height: 1.1em;
}
/* line 255, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box .h5peditor-field-description {
  color: #bbb;
}
/* line 259, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box .h5p-file-url-wrapper {
  background-color: #f5f5f5;
  border: 1px solid #bbb;
  padding: 15px 15px 15px 60px;
  position: relative;
}
/* line 265, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box .h5p-file-url-wrapper:before {
  font-family: 'H5P';
  content: "\e904";
  position: absolute;
  color: #dd0505;
  left: 0;
  top: 0.075em;
  font-size: 3.8em;
}
/* line 275, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box .h5p-file-url-wrapper input {
  border-color: #bbb;
  text-align: left;
  padding-left: 20px;
}
/* line 282, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box .h5p-file-drop-upload {
  position: relative;
  width: 70%;
  height: 90px;
  margin: 0 15%;
  float: left;
  background-color: #f5f5f5;
  text-align: center;
  cursor: pointer;
  border: 1px solid #bbb;
}
/* line 293, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box .h5p-file-drop-upload .h5p-file-drop-upload-inner {
  border: 2px dashed #bbb;
  background-color: white;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}
/* line 302, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box .h5p-file-drop-upload .h5p-file-drop-upload-inner:after {
  font-family: "H5P";
  content: "\e903";
  line-height: 1.4em;
  font-size: 3.5em;
  color: #bbb;
}
/* line 313, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box .h5p-file-drop-upload:hover .h5p-file-drop-upload-inner:after, .h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-dialog-box .h5p-file-drop-upload.over .h5p-file-drop-upload-inner:after {
  color: #999;
}
/* line 320, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-add-dialog-table .h5p-or-vertical {
  float: left;
  position: relative;
  width: 5%;
  height: 250px;
}
/* line 328, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-dialog-box {
  text-align: center;
  padding: 1em 0.5em;
}
/* line 333, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-buttons {
  padding: 0.5em;
  border-top: 1px solid #cdcdcd;
  background: #ddd;
  text-align: right;
}
/* line 339, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-cancel {
  margin-left: 0.5em;
  color: #b83c3c;
  background: transparent;
  border: 0;
  cursor: pointer;
}
/* line 346, ../scss/application.scss */
.h5peditor .h5p-add-dialog .h5p-cancel:focus,
.h5peditor .h5p-add-dialog .h5p-cancel:hover {
  color: #e20d0d;
  background: transparent;
}
/* line 352, ../scss/application.scss */
.h5peditor .h5p-or {
  border-bottom: 1px solid #cdcdcd;
  padding: 0;
  margin: 0 1em;
  text-align: center;
  height: 0.5em;
  line-height: 1em;
}
/* line 359, ../scss/application.scss */
.h5peditor .h5p-or > span {
  background: #fff;
  padding: 0 0.5em;
}
/* line 365, ../scss/application.scss */
.h5peditor .h5p-or-vertical {
  float: left;
  position: relative;
  width: 50px;
  height: 80px;
}
/* line 371, ../scss/application.scss */
.h5peditor .h5p-or-vertical .h5p-or-vertical-line {
  position: absolute;
  margin: 10px 0;
  left: 49%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #ccc;
  z-index: 1;
}
/* line 381, ../scss/application.scss */
.h5peditor .h5p-or-vertical .h5p-or-vertical-word-wrapper {
  text-align: center;
  height: 18px;
  position: absolute;
  left: 0;
  right: 0;
  top: 22%;
  margin-top: -12px;
  z-index: 2;
}
/* line 391, ../scss/application.scss */
.h5peditor .h5p-or-vertical .h5p-or-vertical-word-wrapper .h5p-or-vertical-word {
  color: #999;
  font-weight: bold;
  font-size: 18px;
  padding: 3px;
  background: #fff;
}
/* line 401, ../scss/application.scss */
.h5peditor .h5p-file-url {
  text-align: center;
}
/* line 404, ../scss/application.scss */
.h5peditor .h5p-thumbnail {
  margin: 0.5em;
  width: 6em;
  height: 4.5em;
  display: block;
  float: left;
  position: relative;
  -moz-box-shadow: 0 0 10px 0 #666666;
  -webkit-box-shadow: 0 0 10px 0 #666666;
  box-shadow: 0 0 10px 0 #666666;
  border: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 416, ../scss/application.scss */
.h5peditor .h5p-thumbnail .h5p-remove {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  outline: none;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  overflow: hidden;
  text-indent: -0.4em;
  padding: 0.065em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 430, ../scss/application.scss */
.h5peditor .h5p-thumbnail .h5p-remove:hover,
.h5peditor .h5p-thumbnail .h5p-remove:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 434, ../scss/application.scss */
.h5peditor .h5p-thumbnail .h5p-remove:after {
  font-family: "H5P";
  font-size: 2em;
  color: #fff;
  content: "\e890";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 442, ../scss/application.scss */
.h5peditor .h5p-type {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
  line-height: 4em;
  display: block;
  text-align: center;
  background: #000;
  color: #fff;
  cursor: pointer;
}
/* line 454, ../scss/application.scss */
.h5peditor .file {
  position: relative;
  float: left;
  margin-bottom: 0;
}
/* line 459, ../scss/application.scss */
.h5peditor .file.field {
  float: none;
}
/* line 462, ../scss/application.scss */
.h5peditor .file .thumbnail {
  display: inline-block;
  margin: 10px 10px 10px 0;
  -moz-box-shadow: 0 0 10px 0 #666666;
  -webkit-box-shadow: 0 0 10px 0 #666666;
  box-shadow: 0 0 10px 0 #666666;
  border: 1px solid #fff;
  cursor: pointer;
}
/* line 469, ../scss/application.scss */
.h5peditor .file .thumbnail:focus {
  -moz-box-shadow: 0 0 10px 0 #222;
  -webkit-box-shadow: 0 0 10px 0 #222;
  box-shadow: 0 0 10px 0 #222;
}
/* line 472, ../scss/application.scss */
.h5peditor .file .add {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 1.5em 0.5em 3em;
  background: linear-gradient(to bottom, #fbfbfb 0, #f2f2f2 100%);
  border: 1px solid #d0d0d1;
  border-radius: 0.25em;
  color: #222222;
  font-weight: bold;
}
/* line 482, ../scss/application.scss */
.h5peditor .file .add:hover {
  background: #ededed;
}
/* line 486, ../scss/application.scss */
.h5peditor .file .add:focus {
  box-shadow: 0 0 16px 0 rgba(133, 188, 255, 0.84);
}
/* line 490, ../scss/application.scss */
.h5peditor .file .add .h5peditor-field-file-upload-text:before {
  font-family: "H5P";
  content: "\e902";
  color: #39c943;
  font-size: 2em;
  position: absolute;
  left: .3em;
  top: .08em;
}
/* line 500, ../scss/application.scss */
.h5peditor .file .remove {
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
/* line 507, ../scss/application.scss */
.h5peditor .file .remove:focus:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 510, ../scss/application.scss */
.h5peditor .file .remove:before {
  font-family: "H5P";
  font-size: 1.4em;
  color: #fff;
  content: "\e890";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px;
}
/* line 518, ../scss/application.scss */
.h5peditor .file .remove:hover {
  text-decoration: none;
}
/* line 521, ../scss/application.scss */
.h5peditor .file .remove:hover:before {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px, rgba(0, 0, 0, 0.4) 0 0 4px;
}
/* line 526, ../scss/application.scss */
.h5peditor .file img {
  max-width: 100%;
  vertical-align: bottom;
}
/* line 531, ../scss/application.scss */
.h5peditor .file .h5p-av-row {
  overflow: auto;
  margin-bottom: 0.5em;
}
/* line 535, ../scss/application.scss */
.h5peditor .file .h5p-av-row .h5p-thumbnail {
  display: table-cell;
}
/* line 539, ../scss/application.scss */
.h5peditor .file .h5p-av-row .h5p-video-quality {
  display: table-cell;
  overflow: hidden;
  width: 10000px;
  padding-left: 1em;
}
/* line 545, ../scss/application.scss */
.h5peditor .file .h5p-av-row .h5p-video-quality input.h5peditor-text {
  width: 100%;
}
/* line 551, ../scss/application.scss */
.h5peditor .file .h5p-av-cell {
  overflow: auto;
  float: left;
}
/* line 556, ../scss/application.scss */
.h5peditor .video .file, .h5peditor .audio .file {
  position: static;
  overflow: visible;
}
/* line 560, ../scss/application.scss */
.h5peditor .video .file .thumbnail, .h5peditor .video .file .add, .h5peditor .audio .file .thumbnail, .h5peditor .audio .file .add {
  float: left;
}
/* line 563, ../scss/application.scss */
.h5peditor .video .file .add, .h5peditor .audio .file .add {
  margin-top: 8px;
}
/* line 566, ../scss/application.scss */
.h5peditor .video .file .thumbnail, .h5peditor .audio .file .thumbnail {
  overflow: visible;
  position: relative;
  cursor: auto;
}
/* line 571, ../scss/application.scss */
.h5peditor .video .file .remove, .h5peditor .audio .file .remove {
  top: -3px;
  right: -5px;
}
/* line 575, ../scss/application.scss */
.h5peditor .video .file .type, .h5peditor .audio .file .type {
  padding: 16px 8px 4px;
  background: #000;
  color: #fff;
  font-size: 10px;
}
/* line 581, ../scss/application.scss */
.h5peditor .video .file .h5peditor-uploading, .h5peditor .audio .file .h5peditor-uploading {
  float: left;
  margin: 0.5em;
}
/* line 586, ../scss/application.scss */
.h5peditor .libwrap {
  margin-top: 20px;
}
/* line 589, ../scss/application.scss */
.h5peditor .libwrap:empty {
  margin-top: 0;
}
/* line 593, ../scss/application.scss */
.h5peditor input[type="checkbox"] {
  margin: 4px 4px 4px 0;
  vertical-align: bottom;
}
/* line 597, ../scss/application.scss */
.h5peditor .moving {
  position: absolute;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-transform: translateZ(0);
}
/* line 603, ../scss/application.scss */
.h5peditor .moving .h5peditor-label {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
/* line 610, ../scss/application.scss */
.h5peditor .h5peditor-uploading, .h5peditor .h5peditor-loading {
  padding-top: 10px;
  padding-bottom: 6px;
  font-size: 14px;
}
/* line 615, ../scss/application.scss */
.h5peditor .h5peditor-loading {
  padding: 0.875em 0 1em 3.25em;
  font-style: italic;
}
/* line 620, ../scss/application.scss */
.h5peditor .h5p-copyright-button {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  height: 30px;
  background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
  border: 1px solid #d0d0d1;
  color: #212121;
  font-size: 14px;
  line-height: 28px;
  padding-right: 20px;
  padding-left: 0;
  clear: both;
  font-weight: normal;
}
/* line 633, ../scss/application.scss */
.h5peditor .h5p-copyright-button:before {
  font-family: "H5P";
  content: "\e88f";
  color: #666;
  padding: 0 0.25em 0 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 0.9;
}
/* line 643, ../scss/application.scss */
.h5peditor .h5p-copyright-button:hover:not([disabled]) {
  background: linear-gradient(to bottom, #fff 0, #d0d0d1 100%);
  text-decoration: none;
  border-color: #999;
}
/* line 650, ../scss/application.scss */
.h5peditor .h5p-copyright-button:focus {
  box-shadow: 0 0 16px 0 rgba(133, 188, 255, 0.84);
}
/* line 655, ../scss/application.scss */
.h5peditor .field.file > .h5p-copyright-button,
.h5peditor .field.video > .h5p-copyright-button,
.h5peditor .field.audio > .h5p-copyright-button {
  float: left;
}
/* line 661, ../scss/application.scss */
.h5peditor .h5p-editor-dialog {
  position: absolute;
  z-index: 1;
  margin: 5.5em 0 1em;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  background: #fff;
  -moz-box-shadow: 0 0 8px #666;
  -webkit-box-shadow: 0 0 8px #666;
  box-shadow: 0 0 8px #666;
  -moz-transition: visibility 0s 0.2s, height 0s 0.2s, opacity 0.2s, margin-top 0.2s;
  -o-transition: visibility 0s 0.2s, height 0s 0.2s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition: visibility 0s, height 0s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition-delay: 0.2s, 0.2s, 0s, 0s;
  transition: visibility 0s 0.2s, height 0s 0.2s, opacity 0.2s, margin-top 0.2s;
}
/* line 673, ../scss/application.scss */
.h5peditor .h5p-editor-dialog.h5p-open {
  margin-top: 3.5em;
  visibility: visible;
  opacity: 1;
  height: auto;
  -moz-transition: visibility 0s 0s, height 0s 0s, opacity 0.2s, margin-top 0.2s;
  -o-transition: visibility 0s 0s, height 0s 0s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition: visibility 0s, height 0s, opacity 0.2s, margin-top 0.2s;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;
  transition: visibility 0s 0s, height 0s 0s, opacity 0.2s, margin-top 0.2s;
}
/* line 681, ../scss/application.scss */
.h5peditor .h5p-editor-dialog > .field {
  margin: 0;
  border: 0;
  box-shadow: none;
}
/* line 687, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .content {
  border: none;
  background: #FFFFFF;
}
/* line 691, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .content .h5peditor-label {
  font-size: 18px;
  font-weight: 600;
}
/* line 697, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .h5p-close {
  color: #494949;
}
/* line 700, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .h5p-close:before {
  font-size: 2em;
  right: -0.125em;
  top: 0;
  position: absolute;
  font-family: "H5P";
  content: "\e894";
  line-height: 1em;
  -moz-transition: scale 0.2s;
  -o-transition: scale 0.2s;
  -webkit-transition: scale 0.2s;
  transition: scale 0.2s;
}
/* line 711, ../scss/application.scss */
.h5peditor .h5p-editor-dialog .h5p-close:hover:before {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 717, ../scss/application.scss */
.h5peditor .h5p-li > .content > .library {
  border: 0;
  padding: 0;
}

/* Placed this outside of .h5peditor context above. Don't want it to be more
   specific than neccessary (because of overriding) */
/* line 724, ../scss/application.scss */
.h5peditor-button-textual {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background: #747275;
  background-image: linear-gradient(#7b797c 50%, transparent 50%, transparent);
  display: inline-block;
  width: auto;
  margin: 10px 0 0 0;
  padding: 0 20px;
  box-sizing: border-box;
  height: 38px;
  border: 1px solid #d0d0d1;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 38px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 745, ../scss/application.scss */
.h5peditor-button-textual:focus {
  box-shadow: 0 0 16px 0 rgba(133, 188, 255, 0.84);
}
/* line 749, ../scss/application.scss */
.h5peditor-button-textual:before, .h5peditor-button-textual:after {
  color: #FFFFFF;
}
/* line 754, ../scss/application.scss */
.h5peditor-button-textual .h5p-editing-image-button:before {
  font-family: "H5P";
  content: "\e900";
  color: #666;
  padding-right: 0.25em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 0.9;
}
/* line 764, ../scss/application.scss */
.h5peditor-button-textual:hover {
  background: #636164;
  background-image: linear-gradient(#6b696c 50%, transparent 50%, transparent);
  text-decoration: none;
}
/* line 771, ../scss/application.scss */
.h5peditor-button-textual.importance-high {
  background: #2579C6;
  background-image: linear-gradient(#3080c9 50%, transparent 50%, transparent);
  border-color: #1f67a8;
  text-transform: uppercase;
  height: 42px;
  line-height: 42px;
}
/* line 780, ../scss/application.scss */
.h5peditor-button-textual.importance-high:hover:not([disabled]) {
  background: #1f67a8;
  background-image: linear-gradient(#2a6fac 50%, transparent 50%, transparent);
  border-color: #1f67a8;
}
/* line 788, ../scss/application.scss */
.h5peditor-button-textual.importance-low {
  background: #f5f5f5;
  background-image: linear-gradient(#eeeeef 50%, transparent 50%, transparent);
  border-color: #d0d0d1;
  color: #212121;
}
/* line 795, ../scss/application.scss */
.h5peditor-button-textual.importance-low:before, .h5peditor-button-textual.importance-low:after {
  color: #212121;
}
/* line 800, ../scss/application.scss */
.h5peditor-button-textual.importance-low:hover:not([disabled]) {
  background: #deddde;
  background-image: linear-gradient(#deddde 50%, transparent 50%, transparent);
  border-color: #deddde;
}

/* line 808, ../scss/application.scss */
.h5peditor-field-description,
.h5p-help-text {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #434446;
  line-height: 15px;
  letter-spacing: 0.5px;
}

/* line 819, ../scss/application.scss */
.h5peditor-field-important-description {
  position: relative;
  padding: 1.5em 2.2em 2em 2.2em;
  font-size: 0.9em;
  margin: 0 0 20px 0;
  border: 1px solid #ffde78;
  background-color: #f9f9d8;
  color: #000;
  display: none;
}
/* line 829, ../scss/application.scss */
.h5peditor-field-important-description.show {
  display: block;
}
/* line 833, ../scss/application.scss */
.h5peditor-field-important-description:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  right: 20px;
  width: 14px;
  height: 14px;
  background: #f9f9d8;
  border-right: 1px solid #ffde78;
  border-bottom: 1px solid #ffde78;
  -webkit-transform: rotate(45deg);
}
/* line 847, ../scss/application.scss */
.h5peditor-field-important-description .important-description-close {
  position: absolute;
  font-size: 0.9em;
  line-height: 2em;
  right: 1.5em;
  top: 1em;
  user-select: none;
  cursor: pointer;
}
/* line 856, ../scss/application.scss */
.h5peditor-field-important-description .important-description-close:before {
  font-family: "H5P";
  content: "\e894";
  vertical-align: top;
  font-size: 1.6em;
}
/* line 864, ../scss/application.scss */
.h5peditor-field-important-description .h5p-info-icon {
  font-size: 0.75em;
}
/* line 867, ../scss/application.scss */
.h5peditor-field-important-description .h5p-info-icon:before {
  font-family: "H5P";
  content: "\e909";
  font-size: 2.3em;
  line-height: 0.94em;
  margin-left: -0.3em;
  vertical-align: middle;
}
/* line 877, ../scss/application.scss */
.h5peditor-field-important-description .important-description-title {
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: bottom;
}
/* line 884, ../scss/application.scss */
.h5peditor-field-important-description .important-description-content ul {
  list-style: none;
  padding: 0;
  line-height: 2em;
  margin-top: 20px;
}
/* line 890, ../scss/application.scss */
.h5peditor-field-important-description .important-description-content ul li {
  line-height: 1.8em;
  margin-left: 20px;
}
/* line 894, ../scss/application.scss */
.h5peditor-field-important-description .important-description-content ul li:before {
  content: "\2022 ";
  color: #adacac;
  font-size: 1.5em;
  vertical-align: middle;
  margin-left: -19px;
  margin-right: 5px;
}
/* line 906, ../scss/application.scss */
.h5peditor-field-important-description .important-description-example {
  border: 1px solid #bbde98;
  background-color: #d9fac3;
  display: flex;
  margin-top: 20px;
}
/* line 912, ../scss/application.scss */
.h5peditor-field-important-description .important-description-example .important-description-example-title {
  padding: 15px;
  font-weight: bold;
}
/* line 917, ../scss/application.scss */
.h5peditor-field-important-description .important-description-example .important-description-example-text {
  padding: 15px;
  width: 100%;
  background-color: #f6fef1;
}

/* line 925, ../scss/application.scss */
.h5peditor-form {
  position: relative;
  padding: 20px;
  background: #fcfcfc;
  border: 1px solid #d0d0d1;
}

/* line 932, ../scss/application.scss */
.h5peditor-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #454347;
}

/* line 940, ../scss/application.scss */
#h5peditor-uploader {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
  border: 0;
  overflow: hidden;
}

/* line 949, ../scss/application.scss */
.h5p-tutorial-url,
.h5p-example-url {
  font-size: 1em;
  color: #2284cd;
  display: inline-block;
  line-height: 1;
  height: 2em;
  margin-right: 20px;
  margin-bottom: 11px;
}

/* line 963, ../scss/application.scss */
.h5p-tutorial-url:before {
  font-family: "H5P";
  content: "\e907";
  font-size: 1.5em;
  position: relative;
  top: .2em;
  left: .2em;
  margin-right: 10px;
}

/* line 973, ../scss/application.scss */
.h5p-example-url:before {
  font-family: "H5P";
  content: "\e906";
  font-size: 1.5em;
  position: relative;
  top: .2em;
  left: .2em;
  margin-right: 10px;
}

/* line 983, ../scss/application.scss */
.h5peditor-widget-select {
  overflow: hidden;
  margin: 0 0 -1px;
  padding: 0;
  list-style: none;
}

/* line 989, ../scss/application.scss */
.h5peditor-widget-option {
  float: right;
  border: 1px solid #ccc;
  border-bottom: 0;
  margin-left: 0.5em;
  padding: 0.6em 1em;
  color: #0E1A25;
  font-size: 0.875em;
  background: #f5f5f5;
  line-height: 1.285714286em;
  cursor: pointer;
  outline: none;
}

/* line 1002, ../scss/application.scss */
.h5peditor-widget-option:hover {
  color: #000;
}

/* line 1005, ../scss/application.scss */
.h5peditor-widget-option:active {
  color: #8e636a;
  /* Pink chocolate */
}

/* line 1008, ../scss/application.scss */
.h5peditor-widget-active {
  background: #fff;
  line-height: 1.357142857em;
}

/* line 1012, ../scss/application.scss */
.h5peditor-widgets > .h5peditor-widget-wrapper {
  border: 1px solid #ccc;
  margin: 0 0 0.25em;
  padding: 0.5em;
}

/* line 1017, ../scss/application.scss */
.h5peditor-widgets > .h5peditor-label {
  float: left;
  margin-top: 5px;
}

/* line 1021, ../scss/application.scss */
.h5p-editor-iframe {
  margin-bottom: 1em;
}

/* line 1024, ../scss/application.scss */
.h5peditor-required:after {
  content: "*";
  color: #da0001;
  margin-left: 0.25em;
}

/* Help CKEditor blend into the H5PEditor */
/* line 1031, ../scss/application.scss */
.h5peditor .cke_bottom,
.h5peditor .cke_top {
  background: #d0d0d1;
}

/* line 1035, ../scss/application.scss */
.h5peditor .cke_chrome {
  border: 1px solid #f5f5f5;
  background: #d0d0d1;
}

/* line 1039, ../scss/application.scss */
.h5peditor .cke_contents,
.h5peditor .cke_toolgroup,
.h5peditor .cke_combo_button {
  border: 1px solid #f5f5f5;
}

/* line 1045, ../scss/application.scss */
.icon-important-desc {
  font-family: "H5P";
  font-size: 2em;
  float: right;
  width: 70px;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
}
/* line 1054, ../scss/application.scss */
.icon-important-desc .path1:before {
  content: "\e908";
  color: #f3d55a;
  vertical-align: middle;
  font-size: 1.6em;
}
/* line 1060, ../scss/application.scss */
.icon-important-desc .path2 {
  position: relative;
  top: -1px;
}
/* line 1064, ../scss/application.scss */
.icon-important-desc .path2:before {
  content: "\e909";
  margin-left: -1.44em;
  font-size: 0.85em;
  vertical-align: middle;
}
