/**
 * CSS
 */

.cis-lmsless-margin {
  margin-top:28px !important;
}


.cis-lmsless-bar {
  color:#eee;
  background-color: #222222;
  width: 100%;
  top: 0;
  padding: 0;
  height: 28px;
  line-height: 28px;
  font-size: 18px;
  left:0;
  position: fixed;
  z-index: 101;
  font-family: Tahoma, Geneva, sans-serif;
}

.cis-lmsless-bar a,
.cis-lmsless-bar a:link,
.cis-lmsless-bar a:visited,
.cis-lmsless-bar a:active {
  color:#eee;
}

.cis-lmsless-bar .active{
  color:#eee;
}
.cis-lmsless-item {
  margin:4px 16px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
}

.cis-lmsless-home {
  float:left;
}
.cis-lmsless-site-name {
  float:left;
}
.cis-lmsless-active-section {
  float:left;
}
.cis-lmsless-bar-services {
  float:left;
  width: auto;
  background-color: #222222;
  color:#eeeeee;
  height: 22px;
  font-size: 16px;
  margin: 2px;
}

/* hide the bar when on a phone */
@media screen and (max-width: 739px) {
  .cis-lmsless-bar {
    display:none;
  }
  .cis-lmsless-margin {
    margin-top:none;
  }
}

/**
 * Optional margin tweak when used with admin menu.
 */
.cis-lmsless-admin-margin {
  margin-top:57px !important;
}

.cis-lmsless-admin-margin #admin-menu{
  height:29px;
}

.cis-lmsless-admin-margin .cis-lmsless-bar {
  top: 29px
}

/**
 * Support for Bootstrap
 */
.cis-lmsless-admin-margin .navbar-fixed-top,
.cis-lmsless-margin .navbar-fixed-top{
  top: auto;
  position: relative;
  z-index: auto;
}
