.quote,
%quote {
	 @include p-column(1);

	 border-style: solid;
	 border-width: 0 0 0 3px;
	 color: rgba(51, 51, 51, 1.00);
	 font-size: 1.3em;
	 margin: 2em 4.364em 2em 2.182em;
	 padding: 0.455em 0em 0.455em 0.455em;
	 font-style: italic;
	
	 @media #{$small-only} {
  	 	font-size: 0.889em;
		line-height: 1.438em;
		margin: 0px 1.44em 1.688em 1.44em;
		padding: 0.313em 0px 0.313em 0.625em;
	 }
	 
	 @media #{$medium-up} { 
		font-size: 1em;
		line-height: 1.4em;
 			// margin: 0em 1em 1.421em 1em;
 			margin: 0 7% 1.5em 7%;
 			padding: 0.313em 0px 0.313em 0.625em;
 			font-family: "Vollkorn", "Georgia", serif;
	 }

	 @media #{$large-up} { 
		margin: 0px 3.072em 2em 1.229em;
		line-height: 1.424em;
		font-size: 1.278em;
	 }
	 @media #{$xlarge-up} {
		margin: 2.035em 4.44em 2.035em 2.22em;
		line-height: 1.424em;
		font-size: 1.278em;
	 }
}

.quote--left {
	@media #{$medium-up} { 
		width: 25%;
		margin-left: 0;
		margin-right: 1em;
		float: left;
	}
}

.quote--right {
	@media #{$medium-up} { 
		width: 25%;
		margin-right: 0;
		margin-left: 1em;
		float: right;
	}
}

/**
 * Extends
 */

 // Extend to similar predefined elements
.txtbk-pullquote,
blockquote {
	@extend %quote;
}

// If the quote is a wrapper around p tags then we have to
// override their predefined styles
.quote {
	p {
		@extend %quote;
		border: none;
		margin: 0;
		padding: 0;
		font-size: inherit;	
	}

	p + p {
		margin-top: 1em;
	}
}




/*doc
---
title: Quote
name: quote
category:
  - Components - Quote
---

This is a pullquote that can be used in the body of any rich textarea. The base element class is `quote`. It can be attached to a
`<p>` tag or a `<div>`.

`blockquote` tags and `.txtbk-pullquote` elements will inherit these styles.

```html_example
<p class="quote">In open source, we feel strongly that to really do something well, you have to get a lot of people involved.</p>

<div class="quote">
	<p>In open source, we feel strongly that to really do something well, you have to get a lot of people involved.</p>
	<p>For me, open source is a moral thing.</p>
</div>
```
*/

/*doc
---
title: Quote Left
name: quote-left
category:
  - Components - Quote
---

```html_example
<p class="quote quote--left">In open source, we feel strongly that to really do something well, you have to get a lot of people involved.</p>
```
*/

/*doc
---
title: Quote Right
name: quote-right
category:
  - Components - Quote
---

```html_example
<p class="quote quote--right">In open source, we feel strongly that to really do something well, you have to get a lot of people involved.</p>
```
*/

/*doc
---
title: Quote Examples
name: x-quote-example
category:
  - Components - Quote
---

```html_example
<p>Lorem ipsum Duis Ut non nulla amet laborum commodo aute dolor in consequat aliquip culpa non ut laboris in consequat tempor et veniam do ullamco est fugiat incididunt incididunt et cupidatat Excepteur proident mollit minim labore mollit velit exercitation laboris nulla ullamco aliquip exercitation cupidatat ad dolore nisi cillum commodo pariatur mollit dolore in eu tempor aliquip aute sunt nulla esse amet in dolor ad laboris aute non occaecat voluptate quis irure sit nisi consectetur tempor veniam aute fugiat culpa occaecat nostrud velit dolore minim dolor quis dolor ea esse aliqua ullamco do esse sint anim elit cupidatat laborum veniam ut anim labore minim aliqua proident et aute in laboris do laborum ea occaecat elit.</p>

<p class="quote">In open source, we feel strongly that to really do something well, you have to get a lot of people involved.</p>

<p>Lorem ipsum Dolor commodo irure ut sed ea dolore mollit aute ullamco in in cupidatat ut mollit quis dolor reprehenderit nulla officia occaecat veniam proident laboris cillum reprehenderit dolore adipisicing nulla commodo aute elit minim sit enim enim anim deserunt aliqua cillum aute Ut nostrud adipisicing Excepteur ex incididunt deserunt dolore est Duis qui eu sint amet nulla voluptate aliqua deserunt in enim deserunt et dolore velit aliqua do elit commodo laborum id cillum cupidatat esse quis cillum Duis culpa exercitation velit Duis in officia nulla.</p>
<p>Lorem ipsum Duis Ut non nulla amet laborum commodo aute dolor in consequat aliquip culpa non ut laboris in consequat tempor et veniam do ullamco est fugiat incididunt incididunt et cupidatat Excepteur proident mollit minim labore mollit velit exercitation laboris nulla ullamco aliquip exercitation cupidatat ad dolore nisi cillum commodo pariatur mollit dolore in eu tempor aliquip aute sunt nulla esse amet in dolor ad laboris aute non occaecat voluptate quis irure sit nisi consectetur tempor veniam aute fugiat culpa occaecat nostrud velit dolore minim dolor quis dolor ea esse aliqua ullamco do esse sint anim elit cupidatat laborum veniam ut anim labore minim aliqua proident et aute in laboris do laborum ea occaecat elit.</p>

<p class="quote quote--left">In open source, we feel strongly that to really do something well, you have to get a lot of people involved.</p>

<p>Lorem ipsum Dolor commodo irure ut sed ea dolore mollit aute ullamco in in cupidatat ut mollit quis dolor reprehenderit nulla officia occaecat veniam proident laboris cillum reprehenderit dolore adipisicing nulla commodo aute elit minim sit enim enim anim deserunt aliqua cillum aute Ut nostrud adipisicing Excepteur ex incididunt deserunt dolore est Duis qui eu sint amet nulla voluptate aliqua deserunt in enim deserunt et dolore velit aliqua do elit commodo laborum id cillum cupidatat esse quis cillum Duis culpa exercitation velit Duis in officia nulla.</p>
<p>Lorem ipsum Duis Ut non nulla amet laborum commodo aute dolor in consequat aliquip culpa non ut laboris in consequat tempor et veniam do ullamco est fugiat incididunt incididunt et cupidatat Excepteur proident mollit minim labore mollit velit exercitation laboris nulla ullamco aliquip exercitation cupidatat ad dolore nisi cillum commodo pariatur mollit dolore in eu tempor aliquip aute sunt nulla esse amet in dolor ad laboris aute non occaecat voluptate quis irure sit nisi consectetur tempor veniam aute fugiat culpa occaecat nostrud velit dolore minim dolor quis dolor ea esse aliqua ullamco do esse sint anim elit cupidatat laborum veniam ut anim labore minim aliqua proident et aute in laboris do laborum ea occaecat elit.</p>

<p class="quote quote--right">In open source, we feel strongly that to really do something well, you have to get a lot of people involved.</p>

<p>Lorem ipsum Dolor commodo irure ut sed ea dolore mollit aute ullamco in in cupidatat ut mollit quis dolor reprehenderit nulla officia occaecat veniam proident laboris cillum reprehenderit dolore adipisicing nulla commodo aute elit minim sit enim enim anim deserunt aliqua cillum aute Ut nostrud adipisicing Excepteur ex incididunt deserunt dolore est Duis qui eu sint amet nulla voluptate aliqua deserunt in enim deserunt et dolore velit aliqua do elit commodo laborum id cillum cupidatat esse quis cillum Duis culpa exercitation velit Duis in officia nulla.</p>
<p>Lorem ipsum Duis Ut non nulla amet laborum commodo aute dolor in consequat aliquip culpa non ut laboris in consequat tempor et veniam do ullamco est fugiat incididunt incididunt et cupidatat Excepteur proident mollit minim labore mollit velit exercitation laboris nulla ullamco aliquip exercitation cupidatat ad dolore nisi cillum commodo pariatur mollit dolore in eu tempor aliquip aute sunt nulla esse amet in dolor ad laboris aute non occaecat voluptate quis irure sit nisi consectetur tempor veniam aute fugiat culpa occaecat nostrud velit dolore minim dolor quis dolor ea esse aliqua ullamco do esse sint anim elit cupidatat laborum veniam ut anim labore minim aliqua proident et aute in laboris do laborum ea occaecat elit.</p>

<p class="quote">In open source, we feel strongly that to really do something well, you have to get a lot of people involved.</p>

<p>Lorem ipsum Dolor commodo irure ut sed ea dolore mollit aute ullamco in in cupidatat ut mollit quis dolor reprehenderit nulla officia occaecat veniam proident laboris cillum reprehenderit dolore adipisicing nulla commodo aute elit minim sit enim enim anim deserunt aliqua cillum aute Ut nostrud adipisicing Excepteur ex incididunt deserunt dolore est Duis qui eu sint amet nulla voluptate aliqua deserunt in enim deserunt et dolore velit aliqua do elit commodo laborum id cillum cupidatat esse quis cillum Duis culpa exercitation velit Duis in officia nulla.</p>
```
*/