; CLE Local development file
core = "7.x"
api = "2"
; include the d.o. profile base
includes[] = "drupal-org.make"

projects[drupal][version] = "7.x"

; Libraries

libraries[masonry][directory_name] = "masonry"
libraries[masonry][type] = "library"
libraries[masonry][destination] = "libraries"
libraries[masonry][download][type] = "get"
libraries[masonry][download][url] = "http://masonry.desandro.com/masonry.pkgd.min.js"

; cle
libraries[cle][type] = "profile"
libraries[cle][destination] = "../../profiles"
libraries[cle][download][type] = "git"
libraries[cle][download][branch] = "7.x-1.x"
libraries[cle][directory_name] = "cle"
libraries[cle][download][url] = "https://github.com/drupalprojects/cle.git"
