/**
 * @file navbar.module-rtl.css
 *
 * RTL styling for navbar.base.css
 */

/* Override core system.menus.css */
#navbar-administration ul.menu li {
  margin-right: 0;
}
/* Present the admin navbar tabs horizontally as a default on user agents that
 * do not understand media queries or on user agents where JavaScript is
 * disabled. */
#navbar-administration .navbar-bar .navbar-tab,
#navbar-administration .navbar-tray-horizontal li {
  float: right;
}
/* Present the admin navbar tabs vertically by default on user agents that
 * that understand media queries. This will be the small screen default. */
@media only screen {
  #navbar-administration .navbar-bar .navbar-tab,
  #navbar-administration .navbar-tray-horizontal li {
    float: none;
  }
}
/* This min-width media query is meant to provide basic horizontal layout to
 * the main menu tabs when JavaScript is disabled on user agents that understand
 * media queries. */
@media (min-width:16.5em) {
  #navbar-administration .navbar-bar .navbar-tab,
  #navbar-administration .navbar-tray-horizontal li {
    float: right;
  }
}
/* Present the admin navbar tabs horizontally when the configured narrow
 * breakpoint is active. */
#navbar-administration.navbar-oriented .navbar-bar .navbar-tab,
#navbar-administration.navbar-oriented .navbar-tray-horizontal li {
  float: right;
}

/**
 * Navbar tray.
 */
#navbar-administration.navbar-oriented .navbar-tray-vertical {
  left: auto;
  right: -100%;
}
#navbar-administration .navbar-tray-vertical > .navbar-lining:before {
  left: auto;
  right: 0;
}
#navbar-administration.navbar-oriented .navbar-tray-vertical.navbar-active {
  left: auto;
  right: 0;
}
body.navbar-tray-open.navbar-vertical.navbar-fixed {
  margin-left: auto;
  margin-left: auto;
  margin-right: 240px;
}

/**
 * ToolBar tray orientation toggle.
 */
/* Show the orientation toggle when the configured narrow breakpoint is
 * active. */
#navbar-administration.navbar-oriented .navbar-tray-horizontal .navbar-toggle-orientation {
  left: 0;
  right: auto;
}
#navbar-administration.navbar-oriented .navbar-tray-vertical .navbar-toggle-orientation {
  float: left;
}
