@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";

@import "h5peditor-image-edit";
@import "h5peditor-image-edit-popup";

$i: 'H5P';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 960px;
  position: relative;
}
a {
  text-decoration: none;
}

.h5peditor {
  font-size: 16px;

  .h5p-more-libraries {
    font-size: 0.875em;
    margin-top: 0.4em;
  }

  .tree > .field:first-child {
    margin-top: 0;
  }

  .field {
    margin: 8px 0;
    font-size: 16px;
    padding: 0;
    min-width: inherit;
    &:last-child {
      margin-bottom: 0;
    }

    .h5peditor-widget-wrapper button {
      margin-top: 4px;
    }

    &.boolean .h5peditor-label {
      display: inline;
    }
    &.video, &.image, &.file, &.audio {
      position: relative;
    }

    .library {
      border: 1px solid #ccc;
      padding: 8px;
    }
  }
  .h5peditor-single > .field.library {
    border: 0;
    padding: 0;
  }

  .errors p,
  .h5p-errors {
    margin: 0 0 4px 0;
    color: #da0001;
  }
  textarea {
    resize: vertical;
  }
  textarea, .h5peditor-text, .ckeditor {
    padding: 4px 8px;
    font-size: 16px;
    border: 1px solid #a0a0a0;
    background: #f9f9f9;
    outline: none;
    min-height: 20px;
    @include border-radius(3px);
    word-wrap: break-word;
  }
  .h5peditor-text, textarea {
    width: 100%;
    box-sizing: border-box;
  }
  /* Placeholders - need to be on separate lines. If not, the browsers will invlaidate them */
  ::-webkit-input-placeholder {
    color: #bbb;
  }
  :-moz-placeholder {
    color: #bbb;
  }
  ::-moz-placeholder {
    color: #bbb;
  }
  :-ms-input-placeholder {
    color: #bbb;
  }
  .h5peditor-ckeditor-placeholder {
    color: #bbb;
  }
  select {
    padding: 2px;
  }
  a:focus {
    outline: none;
  }
  textarea:focus,
  .h5peditor-text:focus {
    outline: none;
    background-color: #fff;
    border-color: #53a0ff;
  }
  .list-item-title-bar {
    height: 2.3125em;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    overflow: hidden;

    .remove, .order {
      cursor: pointer;
      width: 1.25em;
      line-height: 1.125em;
      float: right;
      font-size: 1.75em;
      overflow: hidden;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }

    .remove:after {
      font-family: $i;
      content: "\e890";
      color: #666;
      display: inline-block;
      line-height: 1.375em;
    }

    .remove:hover:after {
      color: #c33f62;
    }

    .order {
      float: left;
      width: 0.6875em;
      text-indent: -0.0625em;
      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;

      &:after {
        font-family: $i;
        content: "\e600";
        color: #ccc;
        display: inline-block;
        line-height: 1.375em;
      }

      &:hover:after {
        color: #027AC6;
      }
    }

    & > .h5peditor-label {
      padding: 0.0625em 0 0;
      margin: 0 1.5em;
      white-space: nowrap;
      line-height: 2.25em;
      font-weight: normal;
      text-overflow: ellipsis;
    }
  }
  .moving .order {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  .h5p-ul {
    padding: 0;
    margin: 0;
    list-style: none;

    .h5p-li {
      padding: 0;
      margin: 0;
      list-style: none;
      background: #fff;
      border: 1px solid #ccc;
      border-top: 0;

      &:hover {
        text-decoration: none;
      }
      &:first-child,
      &.moving {
        border-top: 1px solid #ccc;
      }
      &.collapsed .list-item-title-bar {
        border-bottom: 0;
      }

      & > .group {
        border: 0;
        margin: 0;
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
  /*.listgroup > .group {
    .field {
      margin-right: 8px;
      &.list {
        margin-right: 0;
      }
    }
    .h5p-li {
      border-right: 0;
    }
  }*/
  .listgroup > .list-item-title-bar > .h5peditor-label {
    cursor: pointer;
  }
  .listgroup > .list-item-title-bar > .h5peditor-label:before,
  .group > .title:before  {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin: 0 6px 2px 2px;
    background: inline-image("expand.png") no-repeat;
    opacity: 0.8;
  }
  .listgroup.expanded > .list-item-title-bar > .h5peditor-label:before,
  .expanded > .title:before {
    background-image: inline-image("collapse.png");
  }
  .listgroup > .list-item-title-bar > .h5peditor-label:hover:before,
  .listgroup > .list-item-title-bar > .h5peditor-label:focus:before,
  .group > .title:hover:before,
  .group > .title:focus:before {
    opacity: 1;
  }
  .listgroup > .list-item-title-bar > .h5peditor-label:active:before,
  .group > .title:active:before {
    opacity: 0.5;
  }
  .content {
    background: #fff;
    margin: 0;
    padding: 8px;
    .field:first-child {
      margin-top: 0;
    }
    .field:last-child {
      margin-bottom: 0;
    }
  }
  .group {
    margin: -1px 0 0;
    border: 1px solid #ccc;

    & > .title {
      cursor: pointer;
      padding: 6px 8px 5px;
      overflow: hidden;
      background: #f4f4f4;
      outline: none;

      &:first-letter {
        text-transform: uppercase;
      }
    }
    & > .content {
      display: none;
    }
  }
  .expanded {
    & > .title {
      border-bottom: 1px solid #ccc;
    }
    & > .content {
      display: block;
    }
  }
  input[type="button"], button {
    width: auto;
    margin: 0;
    padding: 4px 8px;
    background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 0.875em;
    color: #333;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      border-color: #999;
    }
  }
  .dimensions input, .coordinates input, .number input {
    width: 75px;
  }
  .number input[type="range"] {
    width: 300px;
    float: left;
    margin: 7px 8px 0 0;
  }
  .h5p-errors {
    clear: both;
  }
  .h5p-add-file {
    float: left;
    position: relative;
    background: transparent;
    border: 2px dashed #dddddd;
    color: #dddddd;
    margin: 0.5em;
    width: 4em;
    height: 3em;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .h5p-add-file:focus,
  .h5p-add-file:hover {
    color: #999;
    border-color: #999;
  }
  .h5p-add-file:after {
    position: absolute;
    content: "+";
    font-size: 2em;
    line-height: 1.425em;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .h5p-add-dialog {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    left: 1em;
    right: 1em;
    top: 1em;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    @include box-shadow(0 0 8px #666);
    @include transition(visibility 0s 0.2s, opacity 0.2s);

    &.h5p-open {
      visibility: visible;
      opacity: 1;
      @include transition(visibility 0s 0s, opacity 0.2s);
    }

    .h5p-dialog-box {
      text-align: center;
      padding: 1em 0.5em;
    }

    .h5p-buttons {
      padding: 0.5em;
      border-top: 1px solid #cdcdcd;
      background: #ddd;
      text-align: right;
    }
    .h5p-cancel {
      margin-left: 0.5em;
      color: #b83c3c;
      background: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
    }
    .h5p-cancel:focus,
    .h5p-cancel:hover {
      color: #e20d0d;
    }
  }
  .h5p-or {
    border-bottom: 1px solid #cdcdcd;
    padding: 0;
    margin: 0 1em;
    text-align: center;
    height: 0.5em;
    line-height: 1em;
    & > span {
      background: #fff;
      padding: 0 0.5em;
    }
  }
  .h5p-file-url {
    text-align: center;
  }
  .h5p-thumbnail {
    margin: 0.5em;
    width: 4em;
    height: 3em;
    display: block;
    float: left;
    position: relative;
    @include box-shadow(0 0 10px 0 #666666);
    border: 1px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    .h5p-remove {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      outline: none;
      width: 1em;
      height: 1em;
      line-height: 1em;
      overflow: hidden;
      text-indent: -0.4em;
      padding: 0.065em;
      @include opacity(0.6);
    }
    .h5p-remove:hover,
    .h5p-remove:focus {
      @include opacity(1);
    }
    .h5p-remove:after {
      font-family: $i;
      font-size: 1.4em;
      color: #fff;
      content: "\e890";
      @include opacity(0.6);
    }
  }
  .h5p-type {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0.75em;
    line-height: 4em;
    display: block;
    text-align: center;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  .file {
    position: relative;
    float: left;

    .thumbnail {
      display: inline-block;
      margin: 10px 10px 10px 0;
      @include box-shadow(0 0 10px 0 #666666);
      border: 1px solid #fff;
      cursor: pointer;
    }
    .add {
      display: block;
      cursor: pointer;
      width: 44px;
      height: 44px;
      background: inline-image("add.png");
    }
    .remove {
      display: block;
      position: absolute;
      top: 7px;
      right: 7px;
      cursor: pointer;
    }
    .remove:before {
      font-family: $i;
      font-size: 1.4em;
      color: #fff;
      content: "\e890";
      @include opacity(0.6);
      @include text-shadow(rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px);
    }
    .remove:hover {
      text-decoration: none;
    }
    .remove:hover:before {
      color: #fff;
      @include opacity(1);
      @include text-shadow(rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px);
    }
    img {
      max-width: 100%;
      vertical-align: bottom;
    }
  }
  .video .file, .audio .file {
    position: static;
    overflow: visible;
    .thumbnail, .add {
      float: left;
    }
    .add {
      margin-top: 8px;
    }
    .thumbnail {
      overflow: visible;
      position: relative;
      cursor: auto;
    }
    .remove {
      top: -3px;
      right: -5px;
    }
    .type {
      padding: 16px 8px 4px;
      background: #000;
      color: #fff;
      font-size: 10px;
    }
    .h5peditor-uploading {
      float: left;
      margin: 0.5em;
    }
  }
  .libwrap {
    margin-top: 16px;
  }
  input[type="checkbox"] {
    margin: 4px 4px 4px 0;
    vertical-align: bottom;
  }
  .common {
    margin-top: 8px;
    border: 1px solid #ccc;

    & > .h5peditor-label {
      font-size: 1em;
      font-weight: normal;
      padding: 6px 8px 5px;
      background: #ddd;
      cursor: pointer;
      border-bottom: 1px solid #ccc;

      & > .icon {
        display: inline-block;
        background: inline-image("collapse.png") no-repeat left center;
        opacity: 0.8;
        vertical-align: middle;
        width: 13px;
        height: 13px;
        margin: 0 6px 2px 2px;
      }
      &:hover > .icon {
        opacity: 1;
      }
    }
    & > .fields {
      margin: 0.3125em 0.5em 0.5em;
      padding-bottom: 0.25em;
      min-height: 2em;

      & > .desc {
        margin: 0;
        font-size: 0.875em;
        color: #666;
      }
    }

    &.collapsed {
      & > .h5peditor-label {
        border-bottom: 0;

        & > .icon {
          background-image: inline-image("expand.png");
        }
      }
      & > .fields {
        display: none;
      }
    }

    &.hidden {
      display: none;
    }
  }
  .moving {
    position: absolute;
    z-index: 1;
    @include opacity(0.8);
    -webkit-transform: translateZ(0);
  }

  .h5peditor-uploading, .h5peditor-loading {
    padding-top: 10px;
    padding-bottom: 6px;
    font-size: 14px;
  }
  .h5peditor-loading {
    padding: 0.875em 0 1em 3.25em;
    font-style: italic;
  }

  a.h5p-copyright-button {
    background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 0.875em;
    color: #333;
    cursor: pointer;
    line-height: 2em;

    &:before {
      padding-left: 0.25em;
    }
  }

  .h5p-copyright-button {
    float: left;
    display: block;
    clear: both;
    padding-right: 1em;
    line-height: 1.5;
    margin-bottom: 0.5em;

    &:before {
      font-family: $i;
      content: "\e88f";
      color: #666;
      padding-right: 0.25em;
      vertical-align: middle;
      font-size: 1.5em;
      line-height: 0.9;
    }
    &:hover {
      text-decoration: none;
      border-color: #999;
    }
  }

  .h5p-editor-dialog {
    position: absolute;
    z-index: 1;
    background: #fff;
    padding: 10px 10px 0;
    margin: 5.5em 0 1em;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    @include box-shadow(0 0 8px #666);
    @include transition(visibility 0s 0.2s, height 0s 0.2s, opacity 0.2s, margin-top 0.2s);

    &.h5p-open {
      margin-top: 3.5em;
      visibility: visible;
      opacity: 1;
      height: auto;
      @include transition(visibility 0s 0s, height 0s 0s, opacity 0.2s, margin-top 0.2s);
    }

    & > .field {
      margin: 0 0 10px;
      border: 0;
      box-shadow: none;
    }

    .h5p-close {
      color: #494949;

      &:before {
        font-size: 2em;
        right: -0.125em;
        top: 0;
        position: absolute;
        font-family: "H5P";
        content: "\e894";
        line-height: 1em;
        @include transition(scale 0.2s);
      }

      &:hover:before {
        @include scale(1.1, 1.1);
      }
    }
  }

  .h5p-editing-image-button {
    line-height: 1.5;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding-right: 1em;
  }

  .h5p-editing-image-button:before {
    font-family: "H5P";
    content: "\e900";
    color: #666;
    padding-right: 0.25em;
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 0.9;
  }

  .ui-dialog .h5p-editing-image-button,
  .ui-dialog .h5p-copyright-button {
    padding-left: 0.5em;
  }

  .h5p-editing-image-button.loading:before {
    content: "\e901";
  }

  .h5p-editing-image-button.hidden {
    display: none;
  }

  .field.image .file {
    display: inline-block;
    float: none;
  }

  .h5p-editor-image-buttons {
    .h5p-editor-image-buttons {
      display: block;
    }

    .h5p-copyright-button {
      float: none;
      display: inline-block;
    }
  }

  .h5p-li > .content > .library {
    border: 0;
    padding: 0;
  }
}

.h5peditor-field-description,
.h5p-help-text {
  font-size: 12px;
  margin-bottom: 6px;
  font-weight: 500;
  color: #666;
  line-height: 15px;
  letter-spacing: 0.2px;
}

.h5peditor-form {
  position: relative;
  margin: 0.5em 0 0;
  background: #fff;
  padding: 8px;
  border: 1px solid #ccc;
}

.h5peditor-label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding-top: 4px;
}

#h5peditor-uploader {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
  border: 0;
  overflow: hidden;
}

.h5p-tutorial-url {
  font-size: 0.875em;
}

.h5p-tutorial-url:before {
  font-family: $i;
  content: "\e889";
  font-size: 1.5em;
  position: relative;
  top: .2em;
  left: .2em;
}

.h5peditor-widget-select {
  overflow: hidden;
  margin: 0 0 -1px;
  padding: 0;
  list-style: none;
}
.h5peditor-widget-option {
  float: right;
  border: 1px solid #ccc;
  border-bottom: 0;
  margin-left: 0.5em;
  padding: 0.25em 0.5em;
  color: #555;
  font-size: 0.875em;
  background: #f4f4f4;
  line-height: 1.285714286em;
  cursor: pointer;
  outline: none;
}
.h5peditor-widget-option:hover {
  color: #000;
}
.h5peditor-widget-option:active {
  color: #8e636a; /* Pink chocolate */
}
.h5peditor-widget-active {
  background: #fff;
  line-height: 1.357142857em;
}

.h5peditor-widgets > .h5peditor-widget-wrapper {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 0.25em;
  padding: 0.5em;
}
.h5peditor-widgets > .h5peditor-label {
  float: left;
}
.h5p-editor-iframe {
  margin-bottom: 1em;
}
.h5peditor-required:after {
  content: "*";
  color: #da0001;
  margin-left: 0.25em;
}

body.h5p-editor-image-popup {
  position: relative;
}

.h5p-editing-image-popup-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.8);
  padding: 3em 1em;
  box-sizing: border-box;
  z-index: 101;
}

#darkroom-icons {
  top:0;
  left:0;
}

.h5p-editing-image-popup-background.hidden {
  display: none;
}

.h5p-editing-image-popup {
  display: inline-block;
  position: relative;
  top: 0;
  left: 50%;
  height: auto;
  width: 100%;
  max-height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.h5p-editing-image-header {
  padding: 1em 0.75em;
}

.h5p-editing-image {
  max-height:100%;
  max-width:100%;
}

.h5p-editing-image.hidden {
  display: none;
}

.h5p-editing-image-popup {
  .darkroom-toolbar {
    position: relative;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    top:0;
  }

  .darkroom-toolbar:before {
    content: initial;
  }

  .darkroom-image-container {
    padding: 32px 2em;
  }

  .darkroom-image-container .canvas-container {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.6);
    margin: auto;
  }
}

.h5p-editing-image-header-title {
  display: inline-block;
  font-size: 1.25em;
}

.h5p-editing-image-header-buttons {
  display: inline-block;
  float: right;
}
.h5p-editing-image-loading {
  padding: 1em;
}

.h5p-editing-image-loading.hidden {
  display: none;
}

.h5p-editing-image-editing-container {
  background: #666;
}

.h5p-editing-image-header-buttons {
  button {
    padding: 0.5em 1.75em;
    margin: 0 0 0 1em;

    border: 1px solid #ccc;
    border-radius: 0.25em;
    color: #333;
    cursor: pointer;

    background: #f2f2f2;
    background: -webkit-linear-gradient(top,#fff 0,#f2f2f2 100%);
    background: -ms-linear-gradient(top,#fff 0,#f2f2f2 100%);
  }

  button:hover {
    background: #ededed;
  }

  .h5p-done {
    color: #fff;
    border-color: #20588F;

    background: #3673B5;
    background: -webkit-linear-gradient(top,#5A94D3 0,#3673B5 100%);
    background: -ms-linear-gradient(top,#5A94D3 0,#3673B5 100%);
  }

  .h5p-done:hover {
    background: #3275bc;
    background: -webkit-linear-gradient(top,#3275bc 0,#285585 100%);
    background: -ms-linear-gradient(top,#3275bc 0,#285585 100%);
  }

  .h5p-remove {
    background: none;
    border: none;
    color: #a00;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
  }

  .h5p-remove:hover {
    background: none;
    color: #e40000;
  }
}
