@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";

@import "variables";
@import "mixins";
@import "form-field";
@import "form-groups";
@import "h5peditor-image-edit";
@import "h5peditor-image-edit-popup";
@import "deprecated";

html, body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $font-family;
  max-width: 960px;
  position: relative;
}
a {
  text-decoration: none;
}

.h5peditor {
  font-size: 16px;

  .h5p-more-libraries {
    font-size: 0.875em;
    margin-top: 0.4em;
  }
  .h5peditor-single > .field.library {
    border: 0;
    padding: 0;
  }

  .errors p,
  .h5p-errors {
    color: #da0001;
  }
  textarea {
    resize: vertical;
  }
  textarea,
  .h5peditor-text,
  .ckeditor {
    @include box-shadow($form-input-box-shadow);
    box-sizing: border-box;
    margin: 0;
    padding: $min-padding;
    min-height: 40px;
    border: 1px solid $form-border-color;
    background: $form-input-color;
    outline: none;
    font-size: 16px;
    word-wrap: break-word;
  }
  .h5peditor-text, textarea {
    width: 100%;
    box-sizing: border-box;
  }
  /* Placeholders - need to be on separate lines. If not,
     the browsers will invalidate them */
  ::-webkit-input-placeholder {
    color: $form-input-placeholder-color;
  }
  :-moz-placeholder {
    color: $form-input-placeholder-color;
  }
  ::-moz-placeholder {
    color: $form-input-placeholder-color;
  }
  :-ms-input-placeholder {
    color: $form-input-placeholder-color;
  }
  .h5peditor-ckeditor-placeholder {
    color: $form-input-placeholder-color;
  }
  select {
    padding: 10px 30px 10px 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border: 1px solid $form-border-color;;
    background: $form-input-color inline-image('down.png') no-repeat;
    background-position: calc(100% - 10px);
    @include box-shadow($form-input-box-shadow);
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  a:focus {
    outline: none;
  }
  textarea:focus,
  .h5peditor-text:focus {
    outline: none;
    background-color: $white;
    border-color: #53a0ff;
  }
  .h5p-ul {
    padding: 0;
    margin: 0;
    list-style: none;

    .h5p-li {
      @include field-margin($min-padding);
      padding: 0;
      list-style: none;

      &.placeholder {
        box-sizing: border-box;
        background: #e8f2fa;
        border: dashed 2px #2782d1;
      }

      &:hover {
        text-decoration: none;
      }

      &:nth-child(2).moving {
        margin-top: 0;
      }

      &:nth-last-child(2).placeholder {
        margin-bottom: 0;
      }
    }
  }
  .dimensions input, .coordinates input, .number input {
    width: 75px;
  }
  .number input[type="range"] {
    width: 300px;
    float: left;
    margin: 7px 8px 0 0;
  }
  .h5p-errors {
    clear: both;
  }
  .h5p-add-file {
    float: left;
    position: relative;
    background: transparent;
    border: 2px dashed #dddddd;
    color: #dddddd;
    margin: 0.5em;
    width: 4em;
    height: 3em;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .h5p-add-file:focus,
  .h5p-add-file:hover {
    color: #999;
    border-color: #999;
  }
  .h5p-add-file:after {
    position: absolute;
    content: "+";
    font-size: 2em;
    line-height: 1.425em;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .h5p-add-dialog {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    left: 1em;
    right: 1em;
    top: 1em;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    @include box-shadow(0 0 8px #666);
    @include transition(visibility 0s 0.2s, opacity 0.2s);

    &.h5p-open {
      visibility: visible;
      opacity: 1;
      @include transition(visibility 0s 0s, opacity 0.2s);
    }

    .h5p-dialog-box {
      text-align: center;
      padding: 1em 0.5em;
    }

    .h5p-buttons {
      padding: 0.5em;
      border-top: 1px solid #cdcdcd;
      background: #ddd;
      text-align: right;
    }
    .h5p-cancel {
      margin-left: 0.5em;
      color: #b83c3c;
      background: transparent;
      border: 0;
      cursor: pointer;
    }
    .h5p-cancel:focus,
    .h5p-cancel:hover {
      color: #e20d0d;
      background: transparent;
    }
  }
  .h5p-or {
    border-bottom: 1px solid #cdcdcd;
    padding: 0;
    margin: 0 1em;
    text-align: center;
    height: 0.5em;
    line-height: 1em;
    & > span {
      background: #fff;
      padding: 0 0.5em;
    }
  }
  .h5p-file-url {
    text-align: center;
  }
  .h5p-thumbnail {
    margin: 0.5em;
    width: 4em;
    height: 3em;
    display: block;
    float: left;
    position: relative;
    @include box-shadow(0 0 10px 0 #666666);
    border: 1px solid #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    .h5p-remove {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      outline: none;
      width: 1em;
      height: 1em;
      line-height: 1em;
      overflow: hidden;
      text-indent: -0.4em;
      padding: 0.065em;
      @include opacity(0.6);
    }
    .h5p-remove:hover,
    .h5p-remove:focus {
      @include opacity(1);
    }
    .h5p-remove:after {
      font-family: $icon-font-family;
      font-size: 1.4em;
      color: #fff;
      content: "\e890";
      @include opacity(0.6);
    }
  }
  .h5p-type {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0.75em;
    line-height: 4em;
    display: block;
    text-align: center;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  .file {
    position: relative;
    float: left;

    &.field {
      float: none;
    }
    .thumbnail {
      display: inline-block;
      margin: 10px 10px 10px 0;
      @include box-shadow(0 0 10px 0 #666666);
      border: 1px solid #fff;
      cursor: pointer;
    }
    .add {
      display: inline-block;
      cursor: pointer;
      padding: 0.5em 1.5em 0.5em 1.2em;
      background: linear-gradient(to bottom, #fbfbfb 0, #f2f2f2 100%);
      border: 1px solid #d0d0d1;
      border-radius: 0.25em;
      color: #222222;
      font-weight: bold;

      &:hover {
        background: #ededed;
      }

      &:focus {
        box-shadow: 0 0 16px 0 rgba(133,188,255,0.84);
      }

      .h5peditor-field-file-upload-text:before {
        font-family: $icon-font-family;
        content: "\e902";
        color: #39c943;
        margin-right: 1em;
      }
    }
    .remove {
      display: block;
      position: absolute;
      top: 7px;
      right: 7px;
      cursor: pointer;
    }
    .remove:before {
      font-family: $icon-font-family;
      font-size: 1.4em;
      color: #fff;
      content: "\e890";
      @include opacity(0.6);
      @include text-shadow(rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px);
    }
    .remove:hover {
      text-decoration: none;
    }
    .remove:hover:before {
      color: #fff;
      @include opacity(1);
      @include text-shadow(rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px);
    }
    img {
      max-width: 100%;
      vertical-align: bottom;
    }
  }
  .video .file, .audio .file {
    position: static;
    overflow: visible;
    .thumbnail, .add {
      float: left;
    }
    .add {
      margin-top: 8px;
    }
    .thumbnail {
      overflow: visible;
      position: relative;
      cursor: auto;
    }
    .remove {
      top: -3px;
      right: -5px;
    }
    .type {
      padding: 16px 8px 4px;
      background: #000;
      color: #fff;
      font-size: 10px;
    }
    .h5peditor-uploading {
      float: left;
      margin: 0.5em;
    }
  }
  .libwrap {
    margin-top: $padding;

    &:empty {
      margin-top: 0;
    }
  }
  input[type="checkbox"] {
    margin: 4px 4px 4px 0;
    vertical-align: bottom;
  }
  .moving {
    position: absolute;
    z-index: 1;
    @include opacity(0.8);
    -webkit-transform: translateZ(0);

    .h5peditor-label {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }

  .h5peditor-uploading, .h5peditor-loading {
    padding-top: 10px;
    padding-bottom: 6px;
    font-size: 14px;
  }
  .h5peditor-loading {
    padding: 0.875em 0 1em 3.25em;
    font-style: italic;
  }

  .h5p-copyright-button {
    @include border-radius(0.25em);
    height: 30px;
    background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
    border: 1px solid $form-border-color;
    color: $black;
    font-size: $font-size-small;
    line-height: $form-item-height-small;
    padding-right: $padding;
    padding-left: 0;
    clear: both;
    font-weight: normal;

    &:before {
      font-family: $icon-font-family;
      content: "\e88f";
      color: #666;
      padding: 0 0.25em 0 0.25em;
      vertical-align: middle;
      font-size: 1.5em;
      line-height: 0.9;
    }

    &:hover:not([disabled]) {
      background: linear-gradient(to bottom, #fff 0, #d0d0d1 100%);
      text-decoration: none;
      border-color: #999;
    }
  }

  /* Copyright button for video & audio */
  .field.file > .h5p-copyright-button,
  .field.video > .h5p-copyright-button,
  .field.audio > .h5p-copyright-button {
    float: left;
  }

  .h5p-editor-dialog {
    position: absolute;
    z-index: 1;
    margin: 5.5em 0 1em;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    background: #fff;
    @include box-shadow(0 0 8px #666);
    @include transition(visibility 0s 0.2s, height 0s 0.2s, opacity 0.2s, margin-top 0.2s);

    &.h5p-open {
      margin-top: 3.5em;
      visibility: visible;
      opacity: 1;
      height: auto;
      @include transition(visibility 0s 0s, height 0s 0s, opacity 0.2s, margin-top 0.2s);
    }

    & > .field {
      margin: 0;
      border: 0;
      box-shadow: none;
    }

    .content {
      border: none;
      background: $white;

      .h5peditor-label {
        font-size: $font-size-large;
        font-weight: 600;
      }
    }

    .h5p-close {
      color: #494949;

      &:before {
        font-size: 2em;
        right: -0.125em;
        top: 0;
        position: absolute;
        font-family: $icon-font-family;
        content: "\e894";
        line-height: 1em;
        @include transition(scale 0.2s);
      }

      &:hover:before {
        @include scale(1.1, 1.1);
      }
    }
  }

  .h5p-li > .content > .library {
    border: 0;
    padding: 0;
  }
}
/* Placed this outside of .h5peditor context above. Don't want it to be more
   specific than neccessary (because of overriding) */
.h5peditor-button-textual {
  @include border-radius(0.25em);
  @include button-background(
    $form-item-importance-medium-background,
    $form-item-importance-medium-background-highlight);
  display: inline-block;
  width: auto;
  margin: $min-padding 0 0 0;
  padding: 0 $padding;
  box-sizing: border-box;
  height: $form-item-height-normal;
  border: 1px solid $form-border-color;
  font-size: $font-size-normal;
  font-family: $font-family;
  line-height: $form-item-height-normal;
  color: $white;
  cursor: pointer;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before,
  &:after {
    color: $white;
  }

  &:hover {
    @include button-background(
      $form-item-importance-medium-background-hover,
      $form-item-importance-medium-background-hover-highlight);
    text-decoration: none;
  }

  &.importance-high {
    @include button-background(
      $form-item-importance-high-background,
      $form-item-importance-high-background-highlight);
    border-color: $form-item-importance-high-border-color;
    text-transform: uppercase;
    height: $form-item-height-large;
    line-height: $form-item-height-large;

    &:hover:not([disabled]) {
      @include button-background(
        $form-item-importance-high-background-hover,
        $form-item-importance-high-background-hover-highlight);
      border-color: $form-item-importance-high-background-hover;
    }
  }

  &.importance-low {
    @include button-background(
      $form-item-importance-low-background,
      $form-item-importance-low-background-highlight);
    border-color: $form-item-importance-low-border-color;
    color: $black;

    &:before,
    &:after {
      color: $black;
    }

    &:hover:not([disabled]) {
      @include button-background(
        $form-item-importance-low-background-hover,
        $form-item-importance-low-background-hover-highlight);
      border-color: $form-item-importance-low-background-hover;
    }
  }
}
.h5peditor-field-description,
.h5p-help-text {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #434446;
  line-height: 15px;
  letter-spacing: 0.5px;
}

.h5peditor-form {
  position: relative;
  padding: 20px;
  background: $form-background;
  border: 1px solid $form-border-color;
}

.h5peditor-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: $font-size-normal;
  color: $form-label;
}

#h5peditor-uploader {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
  border: 0;
  overflow: hidden;
}

.h5p-tutorial-url {
  font-size: 0.875em;
}

.h5p-tutorial-url:before {
  font-family: $icon-font-family;
  content: "\e889";
  font-size: 1.5em;
  position: relative;
  top: .2em;
  left: .2em;
}

.h5peditor-widget-select {
  overflow: hidden;
  margin: 0 0 -1px;
  padding: 0;
  list-style: none;
}
.h5peditor-widget-option {
  float: right;
  border: 1px solid #ccc;
  border-bottom: 0;
  margin-left: 0.5em;
  padding: 0.6em 1em;
  color: #0E1A25;
  font-size: 0.875em;
  background: #f5f5f5;
  line-height: 1.285714286em;
  cursor: pointer;
  outline: none;
}
.h5peditor-widget-option:hover {
  color: #000;
}
.h5peditor-widget-option:active {
  color: #8e636a; /* Pink chocolate */
}
.h5peditor-widget-active {
  background: #fff;
  line-height: 1.357142857em;
}
.h5peditor-widgets > .h5peditor-widget-wrapper {
  border: 1px solid #ccc;
  margin: 0 0 0.25em;
  padding: 0.5em;
}
.h5peditor-widgets > .h5peditor-label {
  float: left;
  margin-top: 5px;
}
.h5p-editor-iframe {
  margin-bottom: 1em;
}
.h5peditor-required:after {
  content: "*";
  color: #da0001;
  margin-left: 0.25em;
}

/* Help CKEditor blend into the H5PEditor */
.h5peditor .cke_bottom,
.h5peditor .cke_top {
  background: #d0d0d1;
}
.h5peditor .cke_chrome {
  border: 1px solid #f5f5f5;
  background: #d0d0d1;
}
.h5peditor .cke_contents,
.h5peditor .cke_toolgroup,
.h5peditor .cke_combo_button {
  border: 1px solid #f5f5f5;
}
