.projects-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

.projects-container >>> app-project-item {
  width: 100%;
  min-width: 400px;
}

.create-project {
  font-size: 1.5em;
  padding: 2em;
  border: .2em dashed;
  display: block;
  margin: 3em auto;
  max-width: 300px;
  cursor: pointer;
}
.create-project .add {
}

.face {
  text-align: center;
  margin: auto;
  display: block;
  font-size: 5em;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #ababab;
}

.preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}