<div *ngIf="loading === true" class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<div *ngIf="(userCanEdit$ | async)"> 
  <a (click)="createNewProject('Add project')" class="create-project waves-effect waves-light btn-large"><i class="material-icons right">add</i>New project</a>
</div>

<div class="projects-container">
  <app-project-item *ngFor="let project of (projects$ | async)" [project]="project" (delete)="projectDeleted(project)"></app-project-item>
</div>

