@import "ux_styleguide";

$ratio: fifth() minor-seventh();
$color-background-medium: #3b3b3b  !default;
$line-length-normal: 85ex;

$color-icon: #999 !default;
$color-text-title: #ccc;
$color-border-reverse: #555;
