/* Ember styles for OVERLAY (not recommended for use with Ember theme) */

// Import the common includes for all files.
@import "base";

div#overlay {
  min-width: 200px;
}

#overlay-content {
  padding: 0 0 1em;
}

#overlay-titlebar {
  display: block;
}

.overlay {
  #branding {
    display: none;
  }

  #page {
    padding: 0;
  }
}