
/**
 * Built for Seven.
 */

/**
 * Modal page.
 */

.l-branding {
  display: none;
}
#header, #footer-wrapper, #footer {
  display:none;
}
.breadcrumb {
  display:none;
}
html #page {
  margin: 0 10px 0 0;
  padding: 5px;
}
#page-wrapper,
#footer-wrapper {
  background: #fff!important;
}

html .views-exposed-widgets {
  position: relative;
}
html .form-item-emb-formatter {
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px;
  background: #eee;
}

.elms-media-browser td {
  vertical-align: top;
  cursor: pointer;
}
.elms-media-browser td:hover {
  background: rgba(0, 0, 0, 0.05);
}
.elms-media-browser-5col td {
  width: 20%;
}
.elms-media-browser-4col td {
  width: 25%;
}
.elms-media-browser-3col td {
  width: 33.33%;
}
.elms-media-browser-name {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
}

html .views-exposed-form .views-exposed-widgets *,
html .view-header .fieldset-wrapper > *,
html .view-header .fieldset-wrapper .form-type-managed-file > * {
  display: inline-block;
  margin: 0;
}

html .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

html .views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
}

html .item-list ul.action-links li {
  list-style-type: none;
}
