.field.wizard > .h5peditor-label {
  display: none;
}
.field.wizard > .h5peditor-tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}
.field.wizard .h5peditor-tab-li {
  padding: 0;
  position: relative;
  display: table-cell;
}
.field.wizard .h5peditor-tab-a {
  display: block;
  position: relative;
  background: #cee5ff;
  margin-right: 20px;
  padding: 5px 0 5px 10px;
  height: 20px;
}
.field.wizard .h5peditor-tab-a:focus {
  box-shadow: none;
}
.field.wizard .h5peditor-tab-a:hover {
  text-decoration: none;
}
.field.wizard .h5peditor-tab-a:before, .field.wizard .h5peditor-tab-a:after {
  position: absolute;
  left: -10px;
  border-top: 15px solid #cee5ff;
  border-bottom: 15px solid #cee5ff;
  border-left: 10px solid transparent;
  content: "";
  width: 0;
  height: 0;
  top: 0;
}
.field.wizard .h5peditor-tab-a:after {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #cee5ff;
  right: -10px;
  left: auto;
}
.field.wizard .h5peditor-tab-li:first-child > .h5peditor-tab-a:before {
  border: 0;
}
.field.wizard .h5peditor-tab-li:last-child > .h5peditor-tab-a:after {
  border: 0;
}
.field.wizard .h5peditor-tab-li:last-child > .h5peditor-tab-a {
  margin-right: 0;
}
.field.wizard .h5peditor-tab-a.h5peditor-active {
  background: #b6cae1;
}
.field.wizard .h5peditor-tab-a.h5peditor-active:before {
  border-top-color: #b6cae1;
  border-bottom-color: #b6cae1;
}
.field.wizard .h5peditor-tab-a.h5peditor-active:after {
  border-left-color: #b6cae1;
}
.field.wizard > .h5peditor-panes > .group {
  background-color: transparent;
  box-shadow: none;
  border: 0px;
  display: block;
}
.field.wizard > .h5peditor-panes > .group > .title {
  display: none;
}
.field.wizard > .h5peditor-panes > .group > .content {
  display: block;
}