<ul class="collection">
    <li class="collection-item avatar">
      <span class="title">Title</span>
      <p>First Line <br>
          Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <span class="title">Title</span>
      <p>First Line <br>
          Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <span class="title">Title</span>
      <p>First Line <br>
          Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <span class="title">Title</span>
      <p>First Line <br>
          Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>