<div class="row layout-garage collapse">
  <div class="columns small-12 sub-target" data-draggable="target">
    <div class="row layout-group" data-draggable="item" data-equalizer>
      <div class="columns small-3 sub-target" data-draggable="target" data-equalizer-watch></div>
      <div class="columns small-3 sub-target" data-draggable="target" data-equalizer-watch></div>
      <div class="columns small-3 sub-target" data-draggable="target" data-equalizer-watch></div>
      <div class="columns small-3 sub-target" data-draggable="target" data-equalizer-watch></div>
    </div>
  </div>
</div>