; mooc make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org-core.make"
includes[] = "drupal-org.make"

projects[textbook][version] = "4.2"
projects[textbook][subdir] = "contrib"
projects[accessibility][version] = "1.x-dev"
projects[accessibility][subdir] = "contrib"
projects[accessibility][patch][] = "https://www.drupal.org/files/issues/accessibility-2221601-2-features-fix.patch"
; jQuery Joyride hack similar to the profile download
libraries[joyride][type] = "module"
libraries[joyride][destination] = "modules/contrib"
libraries[joyride][download][type] = "git"
libraries[joyride][download][branch] = "7.x-1.x"
libraries[joyride][directory_name] = "joyride"
libraries[joyride][download][url] = "http://git.drupal.org/project/joyride.git"
; +++++ Libraries +++++

; ckeditor 4.4.6 + codemirror and table resize
libraries[ckeditor][download][type] = "get"
libraries[ckeditor][download][url] = "https://github.com/psudug/ckeditor4textbook/archive/4.x.zip"
libraries[ckeditor][directory_name] = "ckeditor"
libraries[ckeditor][destination] = "libraries"

; speedreader
libraries[speedreader][download][type] = "git"
libraries[speedreader][download][branch] = "master"
libraries[speedreader][download][url] = "https://github.com/btopro/speedreader.git"
libraries[speedreader][directory_name] = "speedreader"
libraries[speedreader][destination] = "libraries"

; mooc
libraries[mooc][type] = "profile"
libraries[mooc][destination] = "../../profiles"
libraries[mooc][download][type] = "git"
libraries[mooc][download][branch] = "7.x-1.x"
libraries[mooc][directory_name] = "mooc"
libraries[mooc][download][url] = "https://github.com/drupalprojects/mooc.git"
