/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

nav {
  background-color: transparent;
  box-shadow: none;
}
nav ul a {
  color: #333333;
}
.nav-wrapper {
}

.cle-critique {
  background-color: #f9f9f9;
}

article app-root ul li {
  list-style-type: none !important;
}
article app-root ul li a {
  height: 4rem;
  line-height: 4rem;
  padding: 0;
}
article app-root ul li .assignment a {
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0;
}
app-projects-list ul {
  margin: 0 !important;
}
app-projects-list .project__title {
  margin: 0;
  padding: .25rem;
}
cle-assignment .assignment__title {
  margin: 0;
  padding: .5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}
app-root .switch label {
  background:none;
  color: #000000;
  width: unset;
  height: unset;
  text-indent:unset;
}
app-root .switch label:after {
  content: none;
}

.toast .preloader-wrapper {
  margin-left: 1em;
  font-size: .8em;
}
