/* CSS Document */
.thumbnav_zone {
  display:none;
}
.thumbnav_controller {
  width:100%;
}

#thumbnav_controller_leftright {
  top:auto;
  text-align:center;
  height:50px;
  display:none;
  bottom:0;
}
#thumbnav_controller_top {
  top:0;
  text-align:left;
  height:40px;
  display:none;
}
#thumbnav_controller_top ul {
  padding-left:8px;
  line-height:40px;
}
#thumbnav_controller_top ul li a {
  color:#373b43;
  text-decoration:none;
  font-size:12px;
}
#thumbnav_controller_top ul li a#mobile_app_name {
  font-size:18px;
}
.thumbnav_option {
  margin:auto;
}
.thumbnav_controller ul li img {
  width:35px;
  height:35px;
  vertical-align:middle;
  line-height:50px;
  padding:4px;
  margin:0px;
}
.thumbnav_controller ul{
  width:100%;
  height:50px;
}
.thumbnav_controller ul li {
  display:inline;
  margin:auto;
  line-height:50px;
}

.thumbnav_controller ul li img.book_touch_next {
  position:absolute;
  right:0;
  height:44px;
  width:44px;
}

.thumbnav_controller ul li img.book_touch_prev {
  position:absolute;
  left:0;
  height:44px;
  width:44px;
}

@media screen and (max-width: 739px) {
  #thumbnav_controller_leftright {
    display:block;
  }
  #thumbnav_controller_top {
    display:block;
  }
  #thumbnav_modal {
    margin-bottom:50px;
  }
}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {
  #thumbnav_controller_top {
    position:absolute;
  }
  #thumbnav_controller_top ul {
    height:24px;
  }
  .thumbnav_controller ul li img {
    line-height:30px;
    height:24px;
    width:24px;
  }
  #thumbnav_controller_leftright {
    height:30px;
  }
  .thumbnav_controller ul{
    height:30px;
  }
  .thumbnav_controller ul li {
    line-height:30px;
  }
  .thumbnav_controller ul li img.book_touch_next {
    height:24px;
    width:24px;
  }
  .thumbnav_controller ul li img.book_touch_prev {
    height:24px;
    width:24px;
  }
}