<template is="dom-bind">
  <style>
    #hax-layout-[[model.layout]] .clearfix {
      clear: both;
    }
    @media (min-width:[[model.breakpoint2]]) {
        #hax-layout-[[model.layout]] .cols-25-25-25-25 {
            padding: 0 -15px;
        }
        #hax-layout-[[model.layout]] .cols-25-25-25-25 .cols-25 {
            width: 50%;
            padding: 0 15px;
            min-height: 15px;
            float: left;
            position: relative;
        }
    }
    @media (min-width:[[model.breakpoint]]) {
        #hax-layout-[[model.layout]] .cols-25-25-25-25 .cols-25 {
            width: 25%;
        }
    }
  </style>
  <div class="cols-25-25-25-25">
    <div id="area1" class="cols-25">
      <slot name="area1"></slot>
    </div>
    <div id="area2" class="cols-25">
      <slot name="area2"></slot>
    </div>
    <div id="area3" class="cols-25">
      <slot name="area3"></slot>
    </div>
    <div id="area4" class="cols-25">
      <slot name="area4"></slot>
    </div>
    <div class="clearfix"></div>
  </div>
</template>
