<template is="dom-bind">
  <style>
    #hax-layout-[[model.layout]] .clearfix {
      clear: both;
    }
    @media (min-width:[[model.breakpoint]]) {
        #hax-layout-[[model.layout]] .cols-66-33 {
            padding: 0 -15px;
        }
        #hax-layout-[[model.layout]] .cols-66-33 .cols-66,
        #hax-layout-[[model.layout]] .cols-66-33 .cols-33 {
            padding: 0 15px;
            min-height: 15px;
            float: left;
            position: relative;
        }
        #hax-layout-[[model.layout]] .cols-66-33 .cols-66 {
            width: 66.66666666666666%;
        }
        #hax-layout-[[model.layout]] .cols-66-33 .cols-33 {
            width: 33.33333333333333%;
        }
    }
  </style>
  <div class="cols-66-33">
    <div id="area1" class="cols-66">
      <slot name="area1"></slot>
    </div>
    <div id="area2" class="cols-33">
      <slot name="area2"></slot>
    </div>
    <div class="clearfix"></div>
  </div>
</template>
