.dragndrop .button {
  cursor: pointer;
  position: absolute;
  text-align: center;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1.5px solid #dcdcdc;
  color: #777777;
  font-family: arial;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0px #ffffff;
}
.dragndrop .h5p-show-solution {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.dragndrop {
  position: relative;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  display: block;
  height: 300px;
  width: 100%;
}
.static {
  position: absolute;
}
.draggable {
  border-radius: 0.5em;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  text-align: center;
  padding: 0.5em 0.125em;
  line-height: 1.25em;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,0.5);
}
.h5p-connected {
  box-shadow: none;
}
.h5p-dragquestion .draggable p {
  margin: 0;
  padding: 0;
}
.draggable:hover {
  border: 1px solid #aaaaaa;
}
.draggable-correct,
.dropzone-answer {
  background: lightgreen;
  color: green;
  border: 1px solid green;
}
.draggable-wrong {
  background: pink;
  color: red;
  border: 1px solid red;
}
.draggable-correct:after,
.draggable-wrong:after {
  font-family: 'H5PFontAwesome';
  position: absolute;
  right: 0.15em;
  top: 0.15em;
}
.draggable-correct:after {
  content: "\f046";
}
.draggable-wrong:after {
  content: "\f00d";
}
.dropzone {
  border: 1.5px solid #ffffff;
  border-radius: 0.5em;
  position: absolute;
  background-color: #ffffff;
}
.dropzone-correct-answer {
  border: 2px solid green;
}
.dropzone-wrong-answer {
  border: 2px dashed red;
}
.dropzone-active {
  border: 2px dashed #666666;
  position: absolute;
}
.dragquestion-label {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.92);
  left: 0;
  line-height: 1.25em;
  padding: 0.1em 0.25em 0.7em;
  position: absolute;
  top: -1.5em;
  white-space: nowrap;
}
.dropzone-answer {
  position: absolute;
  top: 100%;
  margin-top: 0.125em;
  right: 0;
  padding: 0.25em 0.625em;
  font-size: 0.625em;
  line-height: 100%;

  border-radius: 0.5em;
}
