<h1>Assignments:</h1>
<div class="row">
  <div *ngFor="let assignment of assignments" class="col s12 m4 assignment" (click)="viewAssignment(assignment.id)">
    <md-card class="card">
      <md-icon class="icon">assignment</md-icon>
      <md-card-title>{{assignment.title}}</md-card-title>
      <md-card-content>
      </md-card-content>
      <div *ngIf="assignment.complete == 1" class="status complete">Complete</div>
      <div *ngIf="assignment.complete == 0" class="status">Incomplete</div>
    </md-card>
  </div>
</div>

<button class="add-button" md-fab md-tooltip="Create Assignment" (click)="createAssignment()">
    <md-icon class="md-24">add</md-icon>
</button>