.icon {
  float: left;
  margin-right: 1em;
}

.assignment:hover {
  cursor: pointer;
}

.status {
  float: right;
  size: .9em;
}
@media (min-width: 500px) {
  .status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
  }
}

.status.complete {
  color: green;
}

.add-button {
  position: fixed;
  top: 3.5em;
  right: 3em;
}

nav, nav .btn {
  background: transparent;
  box-shadow: none;
}
nav li a {
  color: #2196F3;
}

.assignment__header {
  position: relative;
}

.assignment__header:hover .assignment__edit-buttons {
  opacity: 1;
}

.assignment__edit-buttons {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(to right, transparent, white 30%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 2em;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
