<a (click)="createAssignment()" class="waves-effect waves-light btn"><i class="material-icons">add</i></a>

<h1>Assignments:</h1>
<div class="row">
  <h2>Lesson 1: What is design?</h2>
  <ul class="collapsible">
    <li *ngFor="let assignment of assignments" (click)="viewAssignment(assignment.id)">
      <div class="collapsible-header">
        <i class="material-icons">assignment</i>{{ assignment.title }}
        <span *ngIf="assignment.complete == 1" class="badge green-text">Complete</span>
        <span *ngIf="assignment.complete == 0" class="badge red-text">Incomplete</span>
      </div>
    </li>
  </ul>
</div>