.icon {
  float: left;
  margin-right: 1em;
}

.assignment:hover {
  cursor: pointer;
}

.status {
  float: right;
  size: .9em;
}
@media (min-width: 500px) {
  .status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
  }
}

.status.complete {
  color: green;
}

.add-button {
  position: fixed;
  bottom: 3.5em;
  right: 3em;
}