<div class="card-title center-align">
  <h1 class="thin blue-text">Assignments</h1>
</div>

<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="createAssignment()"><i class="material-icons left">assignment</i> Create Assignment</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <ul class="collapsible">
    <li *ngFor="let assignment of assignments" (click)="viewAssignment(assignment.id)">
      <div class="collapsible-header">
        <i class="material-icons">assignment</i>{{ assignment.title }}
        <span *ngIf="assignment.complete == 1" class="badge green-text">Complete</span>
        <span *ngIf="assignment.complete == 0" class="badge red-text">Incomplete</span>
        <div class="due-dates">
          <span *ngIf="assignment.startDate">{{ assignment.startDate | amDateFormat:'MM/DD/YY' }} - </span>
          {{ assignment.endDate | amDateFormat:'MM/DD/YY' }}
        </div>
      </div>
    </li>
  </ul>
</div>