.h5p-interactivevideo-editor .h5peditor-dragnbar {
  font-size: 1em;
  overflow: hidden;
  padding: 0.1em 0;
  background: #fff;
}
.h5p-interactivevideo-editor .h5p-dragnbar-ul {
  float: right;
  margin: 0;
  list-style: none;
}
.h5p-interactivevideo-editor .h5p-dragnbar-li {
  float: left;
  margin: 0;
  padding: 0;
}
.h5p-interactivevideo-editor .h5p-dragnbar-a {
  border: 0.1em dashed #a2a6a2;
  margin-right: 0.1em;
  display: block;
  padding: 0.25em 0 0;
  line-height: 1.75em;
  width: 2.25em;
  text-align: center;
  background: #e9f1f4;
  font-family: "H5PFontAwesome";
}
.h5p-interactivevideo-editor .h5p-dragnbar-a, .h5p-interactivevideo-editor .h5p-dragnbar-a:visited, .h5p-interactivevideo-editor .h5p-dragnbar-a:link {
  color: #969999;
}
.h5p-interactivevideo-editor .h5p-dragnbar-a:before {
  content: "?";
}
.h5p-interactivevideo-editor .h5p-dragnbar-a:hover {
  text-decoration: none;
}
.h5p-interactivevideo-editor .h5p-dragnbar-text-button:before {
  content: "T";
}
.h5p-interactivevideo-editor .h5p-dragnbar-table-button:before {
  content: "\f0ce";
}
.h5p-interactivevideo-editor .h5p-dragnbar-image-button {
  background: #dce7d6;
}
.h5p-interactivevideo-editor .h5p-dragnbar-image-button:before {
  content: "\f03e";
}
.h5p-interactivevideo-editor .h5p-dragnbar-summary-button, .h5p-interactivevideo-editor .h5p-dragnbar-multichoice-button, .h5p-interactivevideo-editor .h5p-dragnbar-blanks-button, .h5p-interactivevideo-editor .h5p-dragnbar-dragquestion-button {
  background: #ebebeb;
}
.h5p-interactivevideo-editor .h5p-dragnbar-summary-button:before {
  content: "\f0ca";
}
.h5p-interactivevideo-editor .h5p-dragnbar-multichoice-button:before {
  content: "\f046";
}
.h5p-interactivevideo-editor .h5p-dragnbar-blanks-button:before {
  content: "\f0ae";
}
.h5p-interactivevideo-editor .h5p-dragnbar-dragquestion-button:before {
  content: "\f126";
}

.h5p-interactivevideo-editor .h5p-dialog-buttons {
  overflow: hidden;
}
.h5p-interactivevideo-editor .h5p-button {
  display: block;
  margin: 0.625em 0 0 0.625em;
  padding: 0 1em;
  background: #e6e6e6;
  border: 1px solid #dcdcdc;
  border-radius: 0.5em;
  float: right;
}
.h5p-interactivevideo-editor a.h5p-button:link, .h5p-interactivevideo-editor a.h5p-button:visited {
  color: #595655;
}
.h5p-interactivevideo-editor .h5p-button:hover {
  text-decoration: none;
}
.h5p-interactivevideo-editor .h5p-button.h5p-remove {
  background: #e6c9c9;
}
.h5p-interactivevideo-editor .h5p-interactive-video a:focus {
  box-shadow: none;
}

.h5p-interactivevideo-editor .tree > .field.wizard > div.h5peditor-label {
  display: block;
  background: #e9e9e9;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 0.75em;
}
.h5p-interactivevideo-editor .tree > .field.wizard > div.h5peditor-label:before {
  font-family: "H5PFontAwesome";
  margin: 0 0.5em 0 0;
  content: "\f01d";
}
.h5p-interactivevideo-editor .h5peditor-form {
  border-radius: 0;
  padding: 0;
  background: transparent;
}

.h5p-interactivevideo-editor .tree, .h5p-interactivevideo-editor .common {
  background: #fff;
  border: 1px solid #dedede;
}

.h5p-interactivevideo-editor div.field.wizard > .h5peditor-tabs {
  margin: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.h5p-interactivevideo-editor .field.wizard .h5peditor-tab-a {
  background: #efefef;
  margin: 0;
  color: #666666;
  border-top: 3px solid #efefef;
  border-bottom: 3px solid #efefef;
  border-right: 1px #dedede solid;
  text-align: center;
}
.h5p-interactivevideo-editor .field.wizard .h5peditor-tab-a:last-child {
  border-right: 0;
}
.h5p-interactivevideo-editor .field.wizard .h5peditor-tab-a:before, .h5p-interactivevideo-editor .field.wizard .h5peditor-tab-a:after {
  border: 0;
  position: inherit;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  font-family: "H5PFontAwesome";
  margin: 0 0.5em 0 0;
}
.h5p-interactivevideo-editor .field.wizard .h5peditor-tab-a.h5peditor-active {
  background: #f9f9f9;
  border-top-color: #f9f9f9;
  border-bottom-color: #dddddd;
}
.h5p-interactivevideo-editor .common {
  background: #fff;
  border-radius: 0;
  margin: 2em 0 0 0;
}
.h5p-interactivevideo-editor .common > .h5peditor-label {
  background: #e9e9e9;
  border-radius: 0;
  border-bottom: 1px solid #dedede;
}
.h5p-interactivevideo-editor .h5peditor-panes > .field {
  margin: 0;
  padding: 0.5em;
}
.h5p-interactivevideo-editor .field.interactiveVideo {
  margin: 0;
  padding: 0;
}

.h5p-interactivevideo-editor .field.wizard .h5peditor-tab-video:before {
  content: "\f093";
}
.h5p-interactivevideo-editor .field.wizard .h5peditor-tab-interactions:before {
  content: "\f08d";
}
.h5p-interactivevideo-editor .field.wizard .h5peditor-tab-summary:before {
  content: "\f0ca";
}

.h5p-interactivevideo-editor textarea, .h5p-interactivevideo-editor input[type="text"], .h5p-interactivevideo-editor .ckeditor {
  border: 1px solid #dbdbdb;
  border-radius: 0;
  background: #fff;
}
.h5p-interactivevideo-editor textarea:focus, .h5p-interactivevideo-editor input[type="text"]:focus {
  background: transparent;
  border-color: #dbdbdb;
  box-shadow: 0 0 0.25em #dbdbdb inset;
}
.h5p-interactivevideo-editor .h5peditor-field-description {
  color: #9d9d9d;
}
.h5p-interactivevideo-editor .h5peditor-label {
  font-weight: normal;
}
.h5p-interactivevideo-editor span.h5peditor-label:after {
  content: ":";
}
.h5p-interactivevideo-editor .group {
  border-radius: 0;
  border-color: #dedede;
  box-shadow: none;
  background: #f9f9f9;
}
.h5p-interactivevideo-editor .group .group {
  background: #f9f9f9;
}
.h5p-interactivevideo-editor .title {
  background: #efefef;
}
.h5p-interactivevideo-editor .expanded > .title {
  border-color: #dedede;
}
.h5p-interactivevideo-editor .h5p-ul .h5p-li {
  border-radius: 0;
  border: 1px solid #dedede;
  background: #efefef;
}
.h5p-interactivevideo-editor .h5p-ul .h5p-li:hover {
  background: #f9f9f9;
}

.h5p-interactivevideo-editor .h5p-ul .h5p-li > .order, .h5p-interactivevideo-editor .h5p-ul .h5p-li > .remove {
  background: transparent;
  border: 0;
  width: auto;
  height: auto;
}
.h5p-interactivevideo-editor .h5p-ul .h5p-li > .order:before {
  font-family: "H5PFontAwesome";
  content: "\f0dc";
}
.h5p-interactivevideo-editor .h5p-ul .h5p-li > .remove:before {
  font-family: "H5PFontAwesome";
  content: "\f00d";
  color: #d35f5e;
}
.h5p-interactivevideo-editor .h5p-ul .h5p-li > .order:hover, .h5p-interactivevideo-editor .h5p-ul .h5p-li > .remove:hover {
  text-decoration: none;
}
.h5p-interactivevideo-editor table.h5p-table, .h5p-interactivevideo-editor .h5p-table td, .h5p-interactivevideo-editor .h5p-table th {
  border: 1px dashed #999;
}

.h5p-interactivevideo-editor .library .wizard {
  border: 1px solid #dedede;
  margin: 1em 1em 1em 0;
}
.h5p-interactivevideo-editor .library div.field.wizard .h5peditor-tabs {
  border-top: 0;
  line-height: 100%;
}