.h5peditor-dragquestion-wrapper {
  position: relative;
}
.dragQuestion .h5peditor-dragnbar {
  font-size: 1em;
  overflow: hidden;
}
.dragQuestion .h5p-dragnbar-ul {
  float: right;
  margin: 0;
  list-style: none;
}
.dragQuestion .h5p-dragnbar-li {
  float: left;
  margin: 0;
  padding: 0;
  background: transparent;
}
.dragQuestion .h5p-dragnbar-a {
  width: 1em;
  line-height: 1.5em;
  text-align: center;
  border: 0.0625em solid #027AC6;
  margin: 0.25em;
  border-radius: 0.5em;
  display: block;
  padding: 0.25em 0.75em;
  background: #CEE5FF;
  color: #000;
}
.dragQuestion .h5p-dragnbar-a:link, .dragQuestion .h5p-dragnbar-a:visited  {
  color: #000;
}
.dragQuestion .h5p-dragnbar-a:before {
  font-family: "H5PFontAwesome";
  content: "?";
}
.dragQuestion .h5p-dragnbar-a:hover {
  text-decoration: none;
}
.dragQuestion .h5p-dragnbar-text-button:before {
  font-size: 1.125em;
  font-weight: bold;
  content: "T";
}
.dragQuestion .h5p-dragnbar-image-button:before {
  content: "\f03e";
}
.dragQuestion .h5p-dragnbar-dropzone-button:before {
  content: "\f140";
}

.h5peditor-dragquestion {
  padding: 0.5em 1em;
}
.h5peditor-dragquestion.h5p-ready {
  padding: 0;
  background-size: 100% 100%;
  background-color: #FFFFFF;
  position: relative;
  border: 1px solid #73b897;
  border-radius: 0.25em;
  overflow: hidden;
}
.h5p-dq-element {
  position: absolute;
  overflow: hidden;
  line-height: 1.25em;
  border-radius: 0.5em;
  border: 0.0625em solid #dcdcdc;
  cursor: pointer;
  text-align: center;
  padding: 0.5em 0.125em;
}
.h5p-draggable {
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,0.5);
}
.h5p-dq-element:hover {
  border: 0.0625em solid #aaaaaa;
}
.h5p-dq-element p {
  margin: 0;
  padding: 0;
}
.h5p-dq-dz {
  position: absolute;
  border: 0.125em solid #f5f5f5;
  background-color: #ffffff;
  border-radius: 0.5em;
}

.h5peditor-dragquestion .h5p-moving {
  opacity: 0.75;
}

.h5p-dq-label {
  position: absolute;
  bottom: 100%;
  font-size: 0.75em;
}

.h5peditor-fluid-dialog {
  display: none;
  background: #e5fff2;
  border-radius: 0.25em;
}
.h5peditor-fd-inner {
  padding: 0.5em;
}
.h5peditor-fd-buttons {
  overflow: hidden;
}
a.h5peditor-fd-button {
  float: right;
  background: #156f3d;
  color:  #fff;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  margin: 0.5em;
}
a.h5peditor-fd-button:hover {
  text-decoration: none;
}
.h5p-dq-dz-label {
  background-color: rgba(255, 255, 255, 0.92);
  font-size: 0.8em;
  left: 0;
  line-height: 1.25em;
  padding: 0.1em 0.25em 0.7em;
  position: absolute;
  top: -1.5em;
}