table td div.quiz_choice_answer_correct {
  background-color: lightgreen;
}

.image_target_question-target,
.imagetarget-target-identifier {
  color: yellow;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.imagetarget-region-identifier {
  color: orange;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-left: 2px;
}
