<div class="submission" *ngIf="submission">

  <div class="submission__info" *ngIf="submission.field_assignment">
    <a class="submission__assignment" href="/node/{{ submission.field_assignment.nid }}"><i class="material-icons">assignment</i> Assignment: {{ submission.field_assignment.title }}</a>
    <div class="submission__author" *ngIf="submission.author">
      Author: {{ submission.author.name }}
    </div>
    <div class="submission__postdate">
      Date: {{ submission.created }}
    </div>
  </div>

  <div class="card-title center-align"><h2 class="thin blue-text">Direct Response</h2></div>
  <div class="divider"></div>
  <div class="col s12">
  </div>
  <div class="divider"></div>

  <div class="row">
    <div class="col s12 m6">

      <h1 class="submission__title">{{ submission.title }}</h1>
      <div class="submission__body" [innerHTML]="submission.body.value">{{ submission.body.value }}</div>

    </div>
    <div class="col s12 m6">

      <md-tab-group>
        <md-tab>
          <template md-tab-label> Give Feedback </template>
          <template md-tab-content>
            <h4><i class="material-icons">info_outline</i>Directions</h4>
              <ol>
                <li>Step 1. Describe</li>
                <li>Step 2. Analyze</li>
                <li>Step 3. Interpret</li>
                <li>Step 4. Judge</li>
              </ol>
            <h4><i class="material-icons">comment</i>Feedback</h4>
            <cle-critique-form [submission]="submission"></cle-critique-form>
          </template>
        </md-tab>

        <md-tab>
          <template md-tab-label> All Feedback </template>
          <template md-tab-content>
            <cle-critique-list [submission]="submission"></cle-critique-list>
          </template>
        </md-tab>
      </md-tab-group>

    </div>
  </div>

</div>
