/* This file will hold styles that are loaded using the same media query as the wide grid. */

/*
.front .node-teaser {
  width: 49%;
  float: left;
  margin-right: 2%;
}
.front .node-teaser:nth-child(2n+2) {
  margin-right: 0;
}
*/