.flashcard {
  position: relative;
  padding: 20px 0;
  background-color: #F5F5F5;
  padding-bottom: 20px;
}
.flashcard .fasit-container {
  display: none;
  position: absolute;
  top: -55px;
  text-align: center;
  width: inherit;
  height: 30px;
}
.flashcard .fasit {
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  background-color: white;
  border: 2px solid #333333;
  border-radius: 6px;
  width: 200px;
}
.flashcard .flashcard-inner-panel {
  position: relative;
  margin-top: 20px;
  width: 400px;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
}
.flashcard-image {
  position: relative;
  background-color: black;
}
.flashcard-image-text {
  color: black;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  opacity: 0.9;
  background-color: #ffffff;
}
.flashcard-image img {
  border: 0px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align: center;
}
.flashcard-label {
  padding-left: 10px;
  float: left;
}
.flashcard-input {
  padding-left: 20px;
  padding-right: 5px;
  float: right;
}
.flashcard-input input {
  width: 100px;
}
.flashcard .flashcards,.flashcard-question {
  font-size: 14px;
  width: 400px;
  position: absolute;
}
.flashcard-inner-panel .h5p-flashcards-nav {
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 400px;
  z-index: 1;
}
.flashcard-text {
  font-size: 18px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border: 2px solid #CCCCCC;
}
#previous-flashcard {
  display: none;
  left: 0px;
}
#next-flashcard {
  right: 0px;
}
.flashcard-navigation-button {
  position: absolute;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-right: 10px;
  padding-left: 10px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}
.flashcard-navigation-button:hover {
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e3f5ab 47%, #c2ef6e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#e3f5ab), color-stop(100%,#c2ef6e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2ef6e',GradientType=0 ); /* IE6-9 */
}
.flashcard-show-answer {
  margin-right: 10px;
  position: inherit;
  float: right;
}
.flashcard-question .input-container {
  position: relative;
  padding-top: 10px;
  height: 30px;
  text-align: center;
  width: inherit;
  background-color: #CCCCCC;
}
.flashcard-question span {
  padding-left: 30px;
  padding-right: 30px;
}
.flashcard .correct-answer {
  background: url(img/tick.png) no-repeat center left;
}
.flashcard .wrong-answer {
  background: url(img/cross.png) no-repeat center left;
}
.flashcard .panel {
  position: relative;
}
.flashcard .flashcard-title {
  text-align: center;
  font-size: 24px;
}
.flashcard .flashcard-description {
  text-align: center;
  font-size: 14px;
}
.flashcard .question, .answer-question {
  padding-top: 20px;
  font-size: 14px;
}
.flashcard .button {
  position: absolute;
  cursor: pointer;
  color: #2d2c28;
  font-size: 16px;
  padding: 11px 16px;
  text-align: center;
  border: 1px solid #808080;
  border-radius: 4px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}
.h5p-content .button:hover {
  background: #dddddd; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e3f5ab 47%, #c2ef6e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#e3f5ab), color-stop(100%,#c2ef6e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e3f5ab 47%,#c2ef6e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2ef6e',GradientType=0 ); /* IE6-9 */
}

.flashcard .correct-answer .h5p-input, .flashcard .wrong-answer .h5p-input {
  background-color: #ebebeb;
}