/**
 * @file
 * Styles for the media library.
 *
 * The display and layout of the Media browser assumes Drupal's Seven theme as
 * the theme active when this is displayed.
 */

/* jQuery UI Resets */
.ui-tabs {
  padding: 0;
}

.ui-dialog.media-wrapper .ui-dialog-content {
  padding: 0;
}

.ui-dialog.media-wrapper .ui-dialog-buttonpane {
  display: none;
}

#media-browser-tabset .ui-widget-header {
  background: none;
}

/* Remove the default border */
.ui-widget-content {
  border: none;
}

/* *********************************************************** */
/* Browser layout themeing */

/* Size the branding header appropriately */
#media-browser-tabset #branding {
  padding: 10px 10px 0px 10px;
}

#media-browser-tabset #branding h1 {
  float: left;
  height: 16px;
  margin-top: 0px;
}

/* Float the tabs right to keep the UI consistent across themes */
#media-tabs-wrapper {
  float: right;
}

#media-browser-tabset ul.tabs {
  padding: 0;
  border: none;
}

/* Reset the height to match the browser */
#media-browser-tabset ul.tabs.primary li a:link {
  font-weight: bold;
  margin-right: 0;
}

.media-browser-tab.ui-tabs-panel {
  border: 1px solid #cccccc;
}

/* *********************************************************** */
/* Media item display */

.media-item {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 5px;
   position: relative;
}

.media-item img {
  margin-bottom: 10px;
}

.media-item .label-wrapper {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.media-item .label-wrapper label {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Media item lists */

#media-browser-library-list {
  margin: 0;
  padding: 0;
}

.media-list-thumbnails li {
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
}

.media-list-thumbnails li a {
  text-decoration: none;
}

.media-list-thumbnails .media-item.selected {
  background: #F4ECC7;
  border-color: #058AC5;
}

.media-list-thumbnails .media-item:hover {
  border-color: #058AC5;
  cursor: pointer;
}

.media-list-thumbnails .media-item .label-wrapper label {
  color: #058AC5;
}

.media-list-thumbnails .media-item .label-wrapper label:hover {
  cursor: pointer;
}

.media-list-thumbnails .form-type-checkbox {
  bottom: 135px;
  left: 8px;
  margin: 0;
  padding: 0;
  position: relative;
}

/* Format form */

#media-format-form {
  margin: 20px;
}

#media-format-form .media-item {
  float: left;
  margin-right: 10px;
}

#media-format-form .form-item-format label {
  display: inline;
}

/* File field */

.media-widget .preview {
  display: inline-block;
  vertical-align: middle;
}

.media-widget .preview a {
  text-decoration: none;
}

.media-widget .preview .media-item {
  margin-right: 10px;
}

.media-widget .preview .media-item:hover {
  border-color: #058AC5;
  cursor: pointer;
}

.media-widget .preview .media-item .label-wrapper label {
  color: #058AC5;
}

.media-widget .preview .media-item .label-wrapper label:hover {
  cursor: pointer;
}

/* Plupload */

body.page-media-format-form #media-browser-page .plupload_start {
  display: none;
}

/* Multiedit */

.media-multiedit-form .media-edit-form {
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 1em;
  margin-top: 1.5em;
}
