<form *ngIf="form" [formGroup]="form" class="submission-form">
  <input formControlName="title" placeholder="title" [ngClass]="{'invalid': form.controls['title'].status === 'INVALID' && saveAttempted}">
  <wysiwygjs 
    *ngIf="submissionType === 'submission'"
    formControlName="body"
    (onWysiwygInit)="onWysiwygInit()"
    (onImageAdded)="onWysiwygImageAdded($event)"
    (onImageSave)="onImageSave($event)">
  </wysiwygjs>

  <app-submission-critique 
    *ngIf="submissionType === 'critique'"
    [submission]="submission" editMode="true">
      <wysiwygjs class="submission-content"
        formControlName="body"
        (onWysiwygInit)="onWysiwygInit()"
        (onImageAdded)="onWysiwygImageAdded($event)"
        (onImageSave)="onImageSave($event)">
      </wysiwygjs>
  </app-submission-critique>

  <div class="actions">
    <button type="submit" class="btn" (click)="submit()" [ngClass]="{'disabled': (savingImage$ | async)}">Save</button>
    <a class="btn" (click)="cancel()" [ngClass]="{'disabled': (savingImage$ | async)}">Cancel</a>
  </div>
</form>