<form *ngIf="form" [formGroup]="form" class="submission-form">
  <input formControlName="title" placeholder="title" [ngClass]="{'invalid': form.controls['title'].status === 'INVALID' && saveAttempted}">
  <wysiwygjs formControlName="body" (onWysiwygInit)="onWysiwygInit()" (onImageAdded)="onWysiwygImageAdded($event)"></wysiwygjs>

  <div class="actions">
    <button type="submit" class="btn" (click)="submit()">Save</button>
    <button type="button" class="btn" (click)="cancel()">Cancel</button>
  </div>
</form>
