/* Basic styles for the window size debugger */

.window-size-indicator {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #222;
  padding: 5px 12px;
  font: 1em sans-serif;
  z-index: 999999;
}
