.critique {
  &__wrapper {
    margin: auto calc(-50vw + 50%);
    display: flex;

    > * {
      padding: 1em;
      width: 100%;
    }

    > * > * {
      max-width: 55;
      width: 100%;
      display: block;
    }
  }

  &__window {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #f8fdff;

    // need to add the /deep/ tag because the selector isn't loaded yet.
    /deep/ img {
      max-width: 100%;
      height: auto;
    }
  }
}