html.js {
  background:transparent !important;
  overflow-y:scroll;
  overflow-x:hidden;
  }

html.js body {
  background: transparent !important;
  padding:20px 40px;
  }

#overlay {
  display:block;
  position:relative;
  }

#overlay-titlebar {
  position:relative;
  z-index:100;
  }

#overlay-title { display:none; }

#overlay-close-wrapper {
  position:absolute;
  right:0px;
  width:30px;
  }

#overlay-close,
#overlay-close:hover {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;

  background:#444 url(images/buttons.png) -4000px 50% no-repeat;
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  margin: 5px;
  padding: 0px;
  }

  #overlay-close:active { background:#333 url(images/buttons.png) -4400px 50% no-repeat; }

#overlay-content {
  background:#fff;
  position:relative;
  padding:0px 0px 10px;
  min-height:400px;

  border-radius:6px 6px 5px 5px;
  box-shadow:#111 0px 0px 10px;
  -moz-border-radius:6px 6px 5px 5px;
  -moz-box-shadow:#111 0px 0px 10px;
  -webkit-border-radius:6px 6px 5px 5px;
  -webkit-box-shadow:#111 0px 0px 10px;
  }

#overlay-content .limiter { margin:0px 20px; }

#branding {
  border-radius:5px 5px 0px 0px;
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-radius:5px 5px 0px 0px;
  }

  #branding .limiter { margin-left:0px; }

  #branding .breadcrumb-depth-0 a,
  #branding .breadcrumb-depth-0 span {
    border-radius:5px 0px 0px 0px;
    -moz-border-radius:5px 0px 0px 0px;
    -webkit-border-radius:5px 0px 0px 0px;
    }

/**
 * Tabs on the overlay.
 */
#overlay-tabs { display:none; }

/**
 * Shortcut integration.
 */
#overlay-titlebar .add-or-remove-shortcuts {
  position:absolute;
  top:5px;
  right:25px;
  padding:0px;
  }

#overlay-titlebar .add-or-remove-shortcuts a { background-color:#444; }

#overlay-titlebar .add-or-remove-shortcuts a:active {
  background-color:#333;
  text-shadow:#555 0px 1px 0px;
  }

