.add-or-remove-shortcuts a {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;

  float:left;
  display:block;

  margin:0px 5px 0px 0px;
  padding:0px;
  background:#999 url(images/buttons.png) -800px 50% no-repeat;
  color:#fff;
  text-shadow:#666 0px 1px 0px;
  }

  .remove-shortcut a { background-position:-1600px 50%; }

.add-or-remove-shortcuts a:active {
  color:#222;
  background-color:#666;
  background-position:-1200px 50%;
  text-shadow:#999 0px 1px 0px;
  }

  .remove-shortcut a:active { background-position:-2000px 50%; }

.add-or-remove-shortcuts a span.icon {
  width:20px;
  height:20px;
  float:left;
  }

.add-or-remove-shortcuts a span.text {
  float:left;
  display:none;
  padding:0px 5px;
  }

.add-or-remove-shortcuts a:focus span.text,
.add-or-remove-shortcuts a:hover span.text { display:block; }

/**
 * Toolbar styles =====================================================
 * Unchanged from core shortcut.css styles.
 */
div#toolbar a#edit-shortcuts {
  float:right;
  padding:5px 10px 5px 5px;
  line-height:24px;
  color:#bbb;
  }

div#toolbar a#edit-shortcuts:focus,
div#toolbar a#edit-shortcuts:hover,
div#toolbar a#edit-shortcuts.active {
  color: #fff;
  }

div#toolbar div.toolbar-shortcuts ul {
  padding:5px 0px 2px 0px;
  height:28px;
  line-height:24px;
  float:left;
  margin-left:5px;
  }

div#toolbar div.toolbar-shortcuts ul li a {
  padding:0px 5px;
  margin-right:5px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

div#toolbar div.toolbar-shortcuts ul li a:focus,
div#toolbar div.toolbar-shortcuts ul li a:hover,
div#toolbar div.toolbar-shortcuts ul li a.active:focus {
  background:#555;
  }

div#toolbar div.toolbar-shortcuts ul li a.active:hover,
div#toolbar div.toolbar-shortcuts ul li a.active {
  background:#000;
  }

div#toolbar div.toolbar-shortcuts span.icon {
  float:left;
  background:#444;
  width:30px;
  height:30px;
  margin-right:5px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }
