<div *ngFor="let assignment of (assignments$| async)">
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          <li><a routerLink="/projects"><i class="material-icons left">&#xE5C4;</i> projects</a></li>
        </ul>
        <ul id="nav-mobile" class="right">
          <li *ngIf="(userCanEdit$ | async)"><a (click)="onEditAssignment(assignment)" title="Edit this assignment"><i class="material-icons left">edit</i></a></li>
        </ul>
      </div>
    </nav>

    <div class="assignment" *ngIf="assignment">
      <h1 class="assignment__title">{{ assignment.title }}</h1>
      <div class="assignment__meta">
        <div class="assignment__dates">
          <span *ngIf="assignment.startDate">{{ assignment.startDate | amDateFormat:'LL hh:mmA' }} - </span>
          {{ assignment.endDate | amDateFormat:'LL hh:mmA' }}
        </div>
      </div>
      <div class="assignment__description" [innerHTML]="assignment.body"> </div>
    </div>

  <div *ngIf="assignment" class="assignment__actions">
    <div *ngIf="assignment.metadata.submissionActive">
      <a *ngIf="!assignmentService.assignmentIsCritique(assignment)" (click)="onCreateSubmission(assignment)" class="btn-large">Submit assignment</a>
      <a *ngIf="assignmentService.assignmentIsCritique(assignment)" (click)="onStartCritique(assignment)" class="btn-large">Start Critique</a>
    </div>
    <div *ngIf="!assignment.metadata.submissionActive" class="assignment__rationale">
      <p *ngIf="assignment.metadata.rationale && assignment.metadata.rationale.text" [innerHTML]="assignment.metadata.rationale.text"></p>
    </div>
  </div>


  <app-submission-list *ngIf="(submissions$ | async).length > 0" title="Submissions" [submissions]="submissions$ | async"></app-submission-list>

</div>