.assignment-form {
  max-width: 55em;
  margin: auto;
}

.assignment-form > * {
  margin-top: 2em;
}

.privacy .label {
  display: block;
}

.privacy .detail {
  padding-top: .5em;
}

.due-date .display {
  font-size: 1.2em;
  text-align: center;
  margin: 1em;
  color: gray;
}

.due-date .separator {
  margin: 0 .5em;
}

:host >>> .wysiwyg-editor {
  min-height: 10em;
}

select {
  display: block;
}

.fieldset {
  padding: 1em;
  padding-top: 2em;
  background: rgba(0,0,0, 0.07);
  position: relative;
}
.fieldset > * {
  padding-bottom: 1em;
}
.fieldset > label:first-of-type {
  position: absolute;
  top: .5em;
  left: .5em;
}