<form [formGroup]="form">
  <input formControlName="title" placeholder="Title">
  <wysiwygjs (onChange)="bodyChanged($event)"></wysiwygjs>

  <div class="start-date">
    <label>Start Date</label>
    <datetime formControlName="startDate" [(ngModel)]="startDate"></datetime>
  </div>

  <div class="due-date">
    <label>Due Date</label>
    <datetime formControlName="endDate" [(ngModel)]="endDate"></datetime>
  </div>

  <button (click)="submitAssignment()" md-raised-button color="primary">Create Assignment</button>
</form>

{{ form.value | json }}