<form [formGroup]="form" class="assignment-form">
  <input formControlName="title" placeholder="Title">
  <wysiwygjs formControlName="body"></wysiwygjs>

  <div class="submissions-settings fieldset">
    <label>Submission settings</label>
    <div class="privacy switch">
      <label class="label">Privacy Settings</label>
      <label>
        Public
        <input type="checkbox" formControlName="type">
        <span class="lever"></span>
        Private
      </label>
      <div class="detail" *ngIf="form.value.type">
        Only instructors will be able to see student submissions.
      </div>
      <div class="detail" *ngIf="!form.value.type">
        Students will be able to see each other's posts.
      </div>
    </div>
  </div>

  <div class="critique-settings fieldset">
    <label>Critique settings</label>
    <div class="critique-method">
      <label>Method</label>
      <select formControlName="critiqueMethod">
        <option *ngFor="let option of assignmentOptions.critiqueMethod" [value]="option.value">{{ option.display }}</option>
      </select>
    </div>

    <div class="critique-subsettings" *ngIf="form.value.critiqueMethod !== 'none'">
      <div class="critique-style">
        <label>Critique style</label>
        <select formControlName="critiqueStyle">
          <option *ngFor="let option of assignmentOptions.critiqueStyle" [value]="option.value">{{ option.display }}</option>
        </select>
        <div class="detail" *ngIf="form.value.critiqueStyle == 'blind'">After work is submitted, it is open for feedback by a person or group. There is no dialogue, this is a one-way conversation.</div>
      </div>

      <div class="critique-privacy switch">
        <label>
          Private
          <input type="checkbox" formControlName="critiquePrivacy">
          <span class="lever"></span>
          Public
        </label>
      </div>
    </div>
  </div>

  <div class="due-date">
    <div class="display" *ngIf="form.value.endDate !==null">
      Due date:
      <span *ngIf="form.value.startDate !== null" class="start-date">
        {{ form.value.startDate | amDateFormat:'LL hh:mma' }} 
        <span class="separator">
          to
        </span>
      </span>
      <span class="end-date">
        {{ form.value.endDate | amDateFormat:'LL hh:mma' }}
      </span>
    </div>
    
    <div *ngIf="form.value.endDate !== null" class="start-date">
      <label>Start Date</label>
      <app-datetime-input formControlName="startDate"></app-datetime-input>
    </div>

    <div class="due-date">
      <label>Due Date</label>
      <app-datetime-input formControlName="endDate"></app-datetime-input>
    </div>
  </div>
</form>