<form [formGroup]="form" class="assignment-form">
  <input formControlName="title" placeholder="Title">
  <wysiwygjs formControlName="body"></wysiwygjs>

  <div class="submissions-settings fieldset">
    <label>Submission settings</label>
    <div class="type">
      <label>Type</label>
      <select formControlName="type">
        <option *ngFor="let type of assignmentOptions.type" [value]="type.value">{{ type.display }}</option>
      </select>
      <div class="detail" *ngIf="form.value.type === 'open'">Students will be able to see all submissions.</div>
      <div class="detail" *ngIf="form.value.type === 'open_after_submission'">Students will be able to see all submissions AFTER they have made a submission to this assignment.</div>
      <div class="detail" *ngIf="form.value.type === 'closed'">Students will NOT be able to see each other's submissions.</div>
    </div>

    <div class="late-submissions switch">
      <label>
        No late Submissions
        <input type="checkbox" formControlName="allowLateSubmissions">
        <span class="lever"></span>
        Allow Late Submissions
      </label>
    </div>
  </div>

  <div class="critique-settings fieldset">
    <label>Critique settings</label>
    <div class="critique-method">
      <label>Method</label>
      <select formControlName="critiqueMethod">
        <option *ngFor="let option of assignmentOptions.critiqueMethod" [value]="option.value">{{ option.display }}</option>
      </select>
    </div>

    <div class="critique-subsettings" *ngIf="form.value.critiqueMethod !== 'none'">
      <div class="critique-privacy switch">
        <label>
          Double-blind
          <input type="checkbox" formControlName="critiquePrivacy">
          <span class="lever"></span>
          Open
        </label>
        <div class="detail" *ngIf="!form.value.critiquePrivacy">Submissions will NOT see the author information on submissions or critiques.</div>
        <div class="detail" *ngIf="form.value.critiquePrivacy">Submissions will see the author information on submissions and critiques.</div>
      </div>
    </div>
  </div>

  <div class="due-date">
    <div class="display" *ngIf="form.value.endDate !==null">
      Due date:
      <span *ngIf="form.value.startDate !== null" class="start-date">
        {{ form.value.startDate | amDateFormat:'LL hh:mma' }} 
        <span class="separator">
          to
        </span>
      </span>
      <span class="end-date">
        {{ form.value.endDate | amDateFormat:'LL hh:mma' }}
      </span>
    </div>
    
    <div *ngIf="form.value.endDate !== null" class="start-date">
      <label>Start Date</label>
      <app-datetime-input formControlName="startDate"></app-datetime-input>
    </div>

    <div class="due-date">
      <label>Due Date</label>
      <app-datetime-input formControlName="endDate"></app-datetime-input>
    </div>
  </div>
</form>