.caps {
  font-size: .9em;
}

.dquo {
  margin-left: -.5em;
}

.abbr {
  white-space: nowrap;
}

.number {
  white-space: nowrap;
}

/* Only use the fancy ampersand in <h#> tags */
h1 .amp,
h2 .amp,
h3 .amp,
h4 .amp,
h5 .amp,
h6 .amp {
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 1.0em;
  font-style: italic;
}
