.cis-filter-activity-item {
  float: none;
  margin: 2rem auto;
  padding: 1.25rem .25rem 0rem 7rem;
  font-size: 1rem;
  line-height: 4.75em;
  border: 1px solid rgba(0, 0, 0, 0.52);
}

#modal-content .modal-iframe-container {
  padding-top: 90%;
  width: 100%;
  height: 0;
}
#modal-content .modal-iframe-container iframe.cis_filter_modal_frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
div.ctools-modal-content .modal-content {
  padding: .1rem;
  overflow: inherit;
}

.elmsln-action-finished {
  background-color: #bbffbb;
}

.elmsln-action-unfinished {
  background-color: #ffbbbb;
}

.elmsln-action-required {
  background-color: #ffcc66;
}

.cis_filter_modal_frame {
  border:none;
}

.cis-filter-activity-item ul.submit-widget-links {
  margin: 0;
  padding: .5rem;
  font-size: 1rem;
}
.cis-filter-activity-item ul.submit-widget-links li{
  display: inline-block;
  padding: .1rem 1rem;
  margin: 0 .5rem;
}
