.cis-filter-activity-item {
  position: absolute;
  top: 0;
  right: 0;
}

#modal-content .modal-iframe-container {
  padding-top: 90%;
  width: 100%;
  height: 0;
}
#modal-content .modal-iframe-container iframe.cis_filter_modal_frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
div.ctools-modal-content .modal-content {
  overflow: inherit;
  position: initial;
}
div.ctools-modal-content .popups-close {
  position: relative;
  z-index: 100;
}

.elmsln-action-finished {
  background-color: #bbffbb;
}

.elmsln-action-unfinished {
  background-color: #ffbbbb;
}

.elmsln-action-required {
  background-color: #ffcc66;
}

.cis_filter_modal_frame {
  border:none;
}
