/* Tablet Styles - You can edit the media query from the theme settings page. */
html body .overflow-fix {
  overflow: auto;
}

html body .ctools-dropbutton-processed {
  position: relative;
}

/* Sidebars */
#main-content {
  width: 100%;
  clear: both;
  display: block;
}

#sidebar-left .region-sidebar-left, #sidebar-right .region-sidebar-right {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#sidebar-left .region-sidebar-left {
  padding-right: 0px;
}

#sidebar-right .region-sidebar-right {
  padding-left: 0px;
}
