.h5p-eta {
  padding-top: 2em;
  overflow: visible !important;
}
.h5p-eta .h5p-eta-input {
  width: 100%;
  height: 100%;
  resize: none !important;
  font-size: 100%;
  padding: 0;
}
.h5p-eta-label {
  position: relative;
  margin-top: -2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

