#client-order tr .form-item {
  padding: 0.5em 0 0 3em;
  white-space: normal;
}
#client-order tr .form-type-checkbox .description {
  padding: 0 0 0 2.5em;
}

td.p13n-markup-substitution-group {
  font-weight: bold;
}

td.p13n-markup-substitution-message {
  font-style: italic;
}

td.p13n-markup-substitution-message,
td.p13n-markup-substitution-title {
  padding-left: 1.5em;
}
