.dialogcard-title {
  font-size: 1.5em;
  margin: 0.5em 0.5em 0.25em;
}
.dialogcard-description {
  margin: 0.25em 0.75em;
}
.dialogcontainer {
  margin: 3em auto;
  max-width: 40%;
}
.dialogcard {
  width: 100%;
  line-height: 1.5em;
  position: relative;
  border: 0.125em solid black;
  border-radius: 0.3125em;
}
.dialogcard-question {
  background-color: #ffffcc;
}
.dialogcard-answer {
  background-color: #74c6fd;
}
.dialogcard-text {
  font-weight: bold;
  text-align: center;
  padding: 3em 1em;
}
.dialogcard-navigation-button div {
  margin: 0.0832em;
  background-color: #159ef8;
  width: 6em;
  height: 2em;
  line-height: 2em;
  border: 0.0832em solid #FFFFFF;
  border-radius: 0.32em;
}
.dialogcard-navigation-button div:hover {
  background-color: #0280d4;
}
.dialogcard-navigation {
  position: relative;
  width: 17.72em;
  margin-left: auto;
  margin-right: auto;
}
.dialogcard-navigation-button {
  top: -5.25em;
  right: -2.5em;
  color: white;
  font-weight: bold;
  position: absolute;
  text-align: center;
  cursor: pointer;
  font-size: 0.75em;
  border: 0.0832em solid #e2e2e2;
  border-radius: 0.32em;
  background-color: #FFFFFF;
}
.answer-dialog {
  display: none;
}
.next-dialog {
  display: none;
}
