; meedjum_blog make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; meedjum_blog
libraries[meedjum_blog][type] = "profile"
libraries[meedjum_blog][destination] = "../../profiles"
libraries[meedjum_blog][download][type] = "git"
libraries[meedjum_blog][download][branch] = "7.x-1.x"
libraries[meedjum_blog][directory_name] = "meedjum_blog"
libraries[meedjum_blog][download][url] = "https://github.com/drupalprojects/meedjum_blog.git"
