/* CSS Document */

#regions_admin_left ul.menu {
  margin-left:0em;
}
#regions_admin_left h2.left-heading {
  font-size:1.2em;
}
#regions_admin_left #block-menu-menu-cis-toolkit h2{
  text-transform:uppercase;
  font-size:1em;
}

#regions_admin_left #block-cis-service-connection-section-context-changer h2{
  text-transform:uppercase;
  font-size:1em;
}
#regions_admin_left #block-masquerade-masquerade h2 {
  font-size:1em;
}

#regions_admin_left #tabs {
  display:block;
}

.nav-tabs {
  /*display:none;*/
}
#tabs {
  /*display:none;*/
}

#regions_admin_left a {
  font-size: .8em;
}

#regions_admin_left .nav-tabs {
  display:block;
}

#regions_admin_left ul.tabs {
  float:none;
  border:none;
  background-color:#5fbff3;
}
#regions_admin_left ul.tabs li{
  display: block;
  text-align: right;
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 14px;
  background-color:#5fbff3;
}
#regions_admin_left ul.tabs li a{
  text-align: right;
  color: #fff;
  font-size: .8em;
  padding: 2px 10px 0px 0px;
  margin: 0px;
  width: 50px;
  height: 14px;
  border:none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-color:#5fbff3;
}

#regions_admin_left ul.tabs li a:hover{
  color: #5fbff3;
  background-color:#fff;
  font-weight:bold;
}

#regions_admin_left form {
  margin: 0px 0px 10px;
}

#regions_admin_left .form-item {
  margin-top: 10px;
  margin-bottom: 10px;
}