.media-recorder-wrapper {
  position: relative;
}

/* Media recorder */
.media-recorder {
  position: relative;
  padding: 0;
  background: #323232;
  border-radius: 3px;
  display: inline-block;
  vertical-align: bottom;
}

.media-recorder.HTML5 .controls {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 25%;
  height: 80%;
  display: inline-block;
  z-index: 1;
  color: #fff;
  opacity: 1;
  border-radius: 5px;
  background: #222;
  box-shadow: inset 0px 0px 50px #000;
}

/* Styling applicable to all buttons */
.media-recorder.HTML5 .controls .media-recorder-record {
  background-image: url('../images/mic.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  text-indent: -9999px;
  cursor: pointer;
}

/* Styling for when the record button hasn't been pressed. */
.media-recorder.HTML5 .record-off {
  opacity: 1;
}

/* Styling for when the record button has been pressed. */
.media-recorder.HTML5 .record-on {
  background: #552020;
  border-radius: 50%;
}

.media-recorder.HTML5 .media-recorder-analyser {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 55%;
  height: 80%;
  background: #222;
  box-shadow: inset 0px 0px 50px #000;
  opacity: .7;
  border-radius: 5px 5px 5px 0;
}

.media-recorder.HTML5 .volume {
  position: absolute;
  top: 10%;
  left: 4%;
  height: 80%;
}

.media-recorder.HTML5 .progressbar {
  width: 100%;
}

.media-recorder.HTML5 .media-recorder-status {
  position: absolute;
  bottom: 10%;
  left: 40%;
  width: 51%;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  font-size: 1em;
  background: #000;
  color: #fff;
  opacity: .5;
  border-radius: 0 5px 0 0;
  padding: 2%;
}

.media-recorder.flash .controls {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 25%;
  height: 80%;
  display: inline-block;
  z-index: 1;
  color: #fff;
  opacity: 1;
  border-radius: 5px;
  background: #222;
  box-shadow: inset 0px 0px 50px #000;
}

.media-recorder-wrapper .flashRecorder {
  background: transparent;
  display: inline-block;
}

/* Styling applicable to all buttons */
.media-recorder.flash .controls .media-recorder-record {
  background-image: url('../images/mic.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  width: 80%;
  vertical-align: middle;
  padding: 0;
  margin: 10%;
  text-indent: -9999px;
  cursor: pointer;
}

/* Styling for when the record button hasn't been pressed. */
.media-recorder.flash .record-off {
  opacity: 1;
}

/* Styling for when the record button has been pressed. */
.media-recorder.flash .record-on {
  background: #552020;
  border-radius: 50%;
}

.media-recorder.flash .media-recorder-analyser {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 60%;
  height: 80%;
  background: #222;
  box-shadow: inset 0px 0px 50px #000;
  opacity: .7;
  border-radius: 5px 5px 5px 0;
}

.media-recorder.flash .volume {
  position: absolute;
  top: 10%;
  left: 4%;
  height: 80%;
}

.media-recorder.flash .media-recorder-status {
  position: absolute;
  bottom: 10%;
  left: 35%;
  max-width: 56%;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  font-size: 1em;
  background: #000;
  color: #fff;
  opacity: .5;
  border-radius: 0 5px 0 0;
  padding: 2%;
}

.media-recorder.flash .media-recorder-mic-settings {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 10%;
  height: 25%;
  background: #000;
  opacity: .5;
  border-radius: 0 0 0 5px;
  background-image: url('../images/settings.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  cursor: pointer;
}

/* A single meter bar - animation is created by subtracting margin on all bars every 50ms  */
.media-recorder.flash .meter-bar {
  width: 1%;
  height: 100%;
  float: left;
  vertical-align: middle;
}

/* Recording styles for a single meter bar. */
.media-recorder.flash .meter-bar .inner.record {
  background: #ff0000;
  vertical-align: middle;
}

/* Playing styles for a single meter bar. */
.media-recorder.flash .meter-bar .inner.play {
  background: #33cc33;
  vertical-align: middle;
}

@-webkit-keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.media-recorder.flash .media-recorder-analyser p {
	text-align: center;
	color: #fff;
	vertical-align: middle;
}

.media-recorder.flash .media-recorder-analyser p  span {
	-webkit-animation-name: opacity;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: opacity;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
}

.media-recorder.flash .media-recorder-analyser p  span:nth-child(2) {
	-webkit-animation-delay: 100ms;
	-moz-animation-delay: 100ms;
}

.media-recorder.flash .media-recorder-analyser p  span:nth-child(3) {
	-webkit-animation-delay: 300ms;
	-moz-animation-delay: 300ms;
}

div.media-recorder-toggle .form-item {
  margin: 0;
  padding: 0;
  display: inline-block;
}

div.media-recorder-toggle input {
  display: none;
}

div.media-recorder-toggle input:checked + label.option {
  background: #323232;
}

div.media-recorder-toggle label.option {
  background: #555555;
  border: #ccc;
  border-radius: 3px 3px 0px 0px;
  color: #ffffff;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  cursor: pointer;
}
