/**
 * Base styles.
 * Provides sensible defaults for everything to save you time. Override
 * with an empty stylesheet to start over from scratch.
 */

/**
 * Skip navigation ====================================================
 */
#skip-link {
  position:absolute;
  display:block;
  }

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  position:absolute;
  display:block;
  left:-10000px;
  width:1px;
  height:1px;
  }

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position:static;
  width:auto;
  height:auto;
  }

/**
 * Page width limiter =================================================
 *
 * Can be nested within major structural elements to allow full-width
 * bleeds combined with a fixed page width. Set a width on this in your
 * theme to get a consistent page width on major elements.
 */
.limiter { margin:0px auto; }

/**
 * Links ==============================================================
 *
 * Any ul.links are given a horizontal tab-like formatting.
 */
ul.links li,
ul.links li a { float:left; }

ul.links.inline,
ul.links.inline li,
ul.links.inline li a {
  float:none;
  display:inline;
  }

/**
 * Prose ==============================================================
 *
 * By default, any text which is suspected to have gone through an
 * input filter is given the 'prose' class. We want to format it with
 * readability and nice defaults in mind.
 */
.prose { line-height:20px; }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose p,
.prose ul,
.prose ol,
.prose pre,
.prose div.codeblock,
.prose blockquote { margin: 0px 0px 20px; }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 { font-weight:bold; }
.prose h1 { font-size:18px; }
.prose h2 { font-size:15px; }

.prose pre,
.prose code,
.prose div.codeblock {
  font-size:11px;
  font-family: monospace;
  }

.prose pre,
.prose blockquote,
.prose div.codeblock {
  line-height:20px;
  background:#f8f8f8;
  padding:4px 9px;
  border:1px solid #eee;
  border-left:5px solid #eee;
  }

.prose ol li,
.prose ul li {
  display:list-item;
  margin:0px 0px 0px 30px;
  padding:0px;
  }

.prose ol li { list-style:decimal; }

.prose ul li { list-style:disc; }

.prose img { display:block; }

/* Excluding Drupal structures */
.prose .links,
.prose .links li,
.prose .item-list ul,
.prose .item-list li {
  margin:0px;
  padding:0px;
  list-style:none;
  }

/**
 * Tables =============================================================
 */
table {
  width:100%;
  margin:0px 0px 20px;
  }

table th,
table td { vertical-align:middle; }

/**
 * Forms ==============================================================
 */
input.form-text,
select,
textarea { border:1px solid #ccc; }

input.form-submit,
label { font-weight:bold; }

input.form-submit { cursor:pointer; }

input.form-radio,
input.form-checkbox { vertical-align:middle; }

.form-item .description,
.description {
  color:#666;
  font-size:11px;
  }

fieldset.collapsible .fieldset-title { cursor:pointer; }
html.js fieldset.collapsed .fieldset-content { display:none; }

/**
 * Views ==============================================================
 */
table.grid-2 td { width:50%; }
table.grid-3 td { width:33.3%; }
table.grid-4 td { width:25%; }
table.grid-5 td { width:20%; }
table.grid-6 td { width:16.6%; }
table.grid-7 td { width:14.2%; }
table.grid-8 td { width:12.5%; }
