/**
 * system/system.css ==================================================
 */
.more-link,
.more-help-link { text-align:left; }

dl.multiselect dt,
dl.multiselect dd { float:right; }

html.js input.throbbing { background-position:0% 50%; }

div.teaser-button-wrapper {
  float:left;
  padding-right:0px;
  padding-left:5px;
  }

.teaser-checkbox div.form-item {
  float:left;
  margin-right:0px;
  margin-left:5px;
  }

.progress .percentage { float:left; }
.progess-disabled { float:right; }
.ahah-progress { float:right; }
.ahah-progress .throbber { float:right; }

.draggable a.tabledrag-handle {
  float: right;
  margin-right:auto;
  margin-left:10px;
  }

/**
 * update/update.css ==================================================
 */
.update .version-status { float:left; }
.update .version-status .icon {
  padding-left:auto;
  padding-right:10px;
  }

/**
 * user/user.css ======================================================
 */
#permissions td.permission {
  padding-left:auto;
  padding-right:20px;
  }
