.icon-about-black { background-image: url('png/about-black.png'); background-repeat: no-repeat; }

.icon-access-black { background-image: url('png/access-black.png'); background-repeat: no-repeat; }

.icon-add-black { background-image: url('png/add-black.png'); background-repeat: no-repeat; }

.icon-add { background-image: url('png/add.png'); background-repeat: no-repeat; }

.icon-apps-black { background-image: url('png/apps-black.png'); background-repeat: no-repeat; }

.icon-apps-white { background-image: url('png/apps-white.png'); background-repeat: no-repeat; }

.icon-arrow-left-black { background-image: url('png/arrow-left-black.png'); background-repeat: no-repeat; }

.icon-arrow-right-black { background-image: url('png/arrow-right-black.png'); background-repeat: no-repeat; }

.icon-assignment-black { background-image: url('png/assignment-black.png'); background-repeat: no-repeat; }

.icon-assignments-black { background-image: url('png/assignments-black.png'); background-repeat: no-repeat; }

.icon-beaker-black { background-image: url('png/beaker-black.png'); background-repeat: no-repeat; }

.icon-blog-black { background-image: url('png/blog-black.png'); background-repeat: no-repeat; }

.icon-bookmark-black { background-image: url('png/bookmark-black.png'); background-repeat: no-repeat; }

.icon-bookmark-outline-black { background-image: url('png/bookmark-outline-black.png'); background-repeat: no-repeat; }

.icon-calendar-black { background-image: url('png/calendar-black.png'); background-repeat: no-repeat; }

.icon-chevron-down-black { background-image: url('png/chevron-down-black.png'); background-repeat: no-repeat; }

.icon-cis-black { background-image: url('png/cis-black.png'); background-repeat: no-repeat; }

.icon-cle-black { background-image: url('png/cle-black.png'); background-repeat: no-repeat; }

.icon-close-black { background-image: url('png/close-black.png'); background-repeat: no-repeat; }

.icon-close-white { background-image: url('png/close-white.png'); background-repeat: no-repeat; }

.icon-collab-black { background-image: url('png/collab-black.png'); background-repeat: no-repeat; }

.icon-comment-black { background-image: url('png/comment-black.png'); background-repeat: no-repeat; }

.icon-comply-black { background-image: url('png/comply-black.png'); background-repeat: no-repeat; }

.icon-comply-white { background-image: url('png/comply-white.png'); background-repeat: no-repeat; }

.icon-content-black { background-image: url('png/content-black.png'); background-repeat: no-repeat; }

.icon-content-outline-black { background-image: url('png/content-outline-black.png'); background-repeat: no-repeat; }

.icon-courses-black { background-image: url('png/courses-black.png'); background-repeat: no-repeat; }

.icon-dino-black { background-image: url('png/dino-black.png'); background-repeat: no-repeat; }

.icon-discuss-black { background-image: url('png/discuss-black.png'); background-repeat: no-repeat; }

.icon-dotgrid-black { background-image: url('png/dotgrid-black.png'); background-repeat: no-repeat; }

.icon-download-black { background-image: url('png/download-black.png'); background-repeat: no-repeat; }

.icon-easle-black { background-image: url('png/easle-black.png'); background-repeat: no-repeat; }

.icon-ecd-black { background-image: url('png/ecd-black.png'); background-repeat: no-repeat; }

.icon-ecd-white { background-image: url('png/ecd-white.png'); background-repeat: no-repeat; }

.icon-edit-black { background-image: url('png/edit-black.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.icon-editorial-black { background-image: url('png/editorial-black.png'); background-repeat: no-repeat; }

.icon-elmsmedia-black { background-image: url('png/elmsmedia-black.png'); background-repeat: no-repeat; }

.icon-gear-outline { background-image: url('png/gear-outline.png'); background-repeat: no-repeat; }

.icon-gear { background-image: url('png/gear.png'); background-repeat: no-repeat; }

.icon-grades-black { background-image: url('png/grades-black.png'); background-repeat: no-repeat; }

.icon-help-black { background-image: url('png/help-black.png'); background-repeat: no-repeat; }

.icon-hidden-black { background-image: url('png/hidden-black.png'); background-repeat: no-repeat; }

.icon-icor-black { background-image: url('png/icor-black.png'); background-repeat: no-repeat; }

.icon-inbox-black { background-image: url('png/inbox-black.png'); background-repeat: no-repeat; }

.icon-info-black { background-image: url('png/info-black.png'); background-repeat: no-repeat; }

.icon-innovate-black { background-image: url('png/innovate-black.png'); background-repeat: no-repeat; }

.icon-interact-black { background-image: url('png/interact-black.png'); background-repeat: no-repeat; }

.icon-labs-black { background-image: url('png/labs-black.png'); background-repeat: no-repeat; }

.icon-media-black { background-image: url('png/media-black.png'); background-repeat: no-repeat; }

.icon-mooc-black { background-image: url('png/mooc-black.png'); background-repeat: no-repeat; }

.icon-online-black { background-image: url('png/online-black.png'); background-repeat: no-repeat; }

.icon-page-black { background-image: url('png/page-black.png'); background-repeat: no-repeat; }

.icon-pdf-black { background-image: url('png/pdf-black.png'); background-repeat: no-repeat; }

.icon-people-black { background-image: url('png/people-black.png'); background-repeat: no-repeat; }

.icon-play-black { background-image: url('png/play-black.png'); background-repeat: no-repeat; }

.icon-plus-black { background-image: url('png/plus-black.png'); background-repeat: no-repeat; }

.icon-plus-white { background-image: url('png/plus-white.png'); background-repeat: no-repeat; }

.icon-quiz-black { background-image: url('png/quiz-black.png'); background-repeat: no-repeat; }

.icon-speechballoons-black { background-image: url('png/speechballoons-black.png'); background-repeat: no-repeat; }

.icon-studio-black { background-image: url('png/studio-black.png'); background-repeat: no-repeat; }

.icon-support-black { background-image: url('png/support-black.png'); background-repeat: no-repeat; }

.icon-teacher-black { background-image: url('png/teacher-black.png'); background-repeat: no-repeat; }

.icon-tour-black { background-image: url('png/tour-black.png'); background-repeat: no-repeat; }

.icon-ulmus-black { background-image: url('png/ulmus-black.png'); background-repeat: no-repeat; }

.icon-user-black { background-image: url('png/user-black.png'); background-repeat: no-repeat; }

.icon-view-black { background-image: url('png/view-black.png'); background-repeat: no-repeat; }

.icon-view-off-black { background-image: url('png/view-off-black.png'); background-repeat: no-repeat; }

.icon-visible-black { background-image: url('png/visible-black.png'); background-repeat: no-repeat; }

.icon-write-black { background-image: url('png/write-black.png'); background-repeat: no-repeat; }

