span.autocomplete-deluxe-value-delete {
  float: left;
}
div.autocomplete-deluxe-multiple {
 padding: 4px 5px;
}

input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  margin-left: 0;
  margin-right: 5px;
  float: right;
}

div.autocomplete-deluxe-throbber {
  float: left;
}

.autocomplete-deluxe-closed {
  background-position: 0 6px;
}

.autocomplete-deluxe-open {
  background-position: 0 -14px;
}

.autocomplete-deluxe-item {
  float: right;
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 20px;
}

.autocomplete-deluxe-item-delete {
  position: absolute;
  right: auto;
  left: 3px;
}
