/**
 * Outline designer hacks
 */
#loadingoutline {
  width: 100%;
  z-index: 1000;
  opacity: .9;
  padding: 4em 0 0 0;
  text-align: center;
  align-content: center;
  justify-content: center;
  position:fixed;
  top: 20vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
.outline-designer-page-operations {
  list-style: none;
  padding: 0;
  margin: -3em 0 0 0;
}
.outline-designer-page-operations li {
  list-style: none;
  display: inline-block;
}
#disable-outline-designer-auto {
}
table tbody td .outline_designer_edit_button a {
  padding: 0;
  margin: 0;
}

#ajax_table_replacement div.indentation {
  float: left;
  height: .5em;
  width: 20px;
  background-color: #EEEEEE;
  padding: 0;
  margin: 1.5em 2px 0 2px;
}
#ajax_table_replacement tr.od-hover div.indentation {
  background-color: #0AA;
}
#book-outline tr {
  width: unset;
}
#book-outline thead {
  display: none;
}
.tabledrag-handle {
  margin-top: 1em;
  float: left;
}
.od-toggle-open {
  margin-top: 1em;
}

.outline_designer_edit_button {
  padding: 0;
  margin: 0;
}
.outline_designer_edit_button paper-button {
  width: 3em;
  height: 3em;
  padding: 0;
  margin: 0;
}
.outline_designer_edit_button iron-icon {
  width: 1.5em !important;
  height: 1.5em !important;
}