/* CSS Document */

.node .content ul,
.node .content ol {
  margin-left: 40px;
}

.node .content ul.footnotes {
  float: left;
  margin: 2em;
}

.node .content ul.footnotes .footnote-label {
  margin-left: 0em;
}

.node .content ul.footnotes li.footnote{
  min-height: 1.6em;
  font-size:.8em;
  margin-left:-3em;
}

.page-welcome-page #region-content .content ul,
.page-syllabus #region-content .content ul,
.page-course-help #region-content .content ul,
.page-resources #region-content .content ul,
.page-welcome-page #region-content .content ol,
.page-syllabus #region-content .content ol,
.page-course-help #region-content .content ol,
.page-resources #region-content .content ol {
  margin-left: 40px;
  font-size: 1.25em;
  line-height: 1.6em;
}

#toc {
  float:right;
  position:relative;
  margin:-10px 0px 0px 0px;
  padding:15px;
}

#toc span.toc-number {
  display: block;
  margin: 0px 5px 0px -5px;
  float: left;
}

.book-navigation {
  float: left;
  width: 100%;
}

.book-navigation div.page-links {
  bottom: auto;
  left: auto;
  position: relative;
  width: auto;
  background-color: transparent;
  z-index: auto;
  padding: 0px;
}

.book-navigation ol li, .book-navigation  ul li{margin:0px;}

.book-navigation div.page-links a{
  padding:5px;
}

.book-navigation .page-next {
  text-align: right;
  width: 42%;
  display: block;
  float: right;
}

.book-navigation .page-prev {
  text-align: left;
  width: 42%;
  display: block;
  float: left;
}
@media screen and (max-width:1524px) {
  h1#page-title {
    font-size:2em !important;
  }
}
@media screen and (max-width: 1224px) {
  h1#page-title {
    font-size:1.75em !important;
  }
  #block-cis-service-connection-active-outline ul li a{
    font-size:.8em;
    line-height:0em;
  }
  #block-cis-service-connection-active-outline ul.menu li {
    margin:0em;
    padding:0em;
    letter-spacing:-.02em;
    word-spacing:-.02em;
    line-height: initial;
  }
  #block-cis-service-connection-active-outline ul.menu {
    margin:0em;
    padding:0em;
  }
  #block-cis-service-connection-active-outline ul.menu {
    margin-left: .5em !important;
  }
}

@media screen and (max-width: 739px) {
  #toc {
    float:none;
  }
  #thumbnav_modal ul li a{
    font-size:.8em;
    line-height:0em;
  }
  #thumbnav_modal ul.menu li {
    margin:0em;
    padding:0em;
  }
  #thumbnav_modal ul.menu {
    margin:0em;
    padding:0em;
  }
  #thumbnav_modal ul.menu {
    margin-left: .5em !important;
  }
}
