/*doc
---
title: Imagelightbox
name: imagelightbox
category:
  - Javascript ImageLightbox
---

This is a responsive lightbox for view images.  To use this plugin, you need to define an `a` tag 
with a `src` attribute that points a larger version of the image as well as a `data-imagelightbox` 
tag that initiates the lightbox.

```html_example

<a data-imagelightbox href="https://unsplash.it/1200/600/"><img src="https://unsplash.it/1200/600"></a>

```
*/


/*
 * Variables
 */
$lightbox--image-open-length: .5s;
$lightbox--overlay-fade-in: .8s;


/*
 * Styles
 */
.imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}

.imagelightbox__overlay {
  background-color: transparent;
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: none;

  .lightbox--is-open & {
    opacity: 1;
    transition: all .8s ease;
    transition-delay: $lightbox--image-open-length;
    background-color: rgba(255, 255, 255, 0.9);
    display: block;
    opacity: 1;
  }
}

.imagelightbox__close {
  width: 2.5em;
  height: 2.5em;
  text-align: left;
  text-indent: -9999px;
  background-color: #666;
  position: fixed;
  z-index: -1;
  right: 5%;
  top: 5%;
  border-radius: 50%;
  opacity: 0;

  .lightbox--is-open & {
    z-index: 10002;
    opacity: 1;
    transition: opacity $lightbox--overlay-fade-in ease;
    transition-delay: $lightbox--image-open-length;
  }

  &:hover {
    background-color: shade(#666, 20);
  }

  &:before {
    width: 2px;
    background-color: #FFF;
    content: '';
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 50%;
    margin-left: -1px;
    transform: rotate(90deg);

    .lightbox--is-open & {
      transform: rotate(45deg);
      transition: all .3s ease;
      transition-delay: $lightbox--image-open-length + .4s;
    }
  }

  &:after {
    @extend :before;
    transform: rotate(-90deg);

    .lightbox--is-open & {
      transform: rotate(-45deg);
    }
  }
}
