/*doc
---
title: Image
name: 1image
category:
  - Components - Image
---

This is an inline image that can be used in any rich text area.

```html_example
<p>Lorem ipsum Adipisicing laborum sint mollit qui irure eiusmod aute ad proident aliqua amet dolor dolore culpa est amet cillum ex aute cupidatat officia ullamco culpa sunt velit ullamco labore Duis magna id dolor qui tempor ea dolore in commodo velit nostrud ex laboris nulla nisi aliquip ut elit Duis Duis laborum irure sit reprehenderit consequat ut ut pariatur non dolor in sint dolor labore et laborum nisi fugiat dolor cupidatat aute reprehenderit sed fugiat dolor ex eu deserunt irure sed qui elit aliquip sint aliqua et amet enim aliquip enim do elit dolor elit incididunt sed pariatur eu dolore qui consequat amet minim irure Excepteur dolore anim anim laborum dolor quis nulla officia non eiusmod non tempor culpa id voluptate consequat nostrud dolor Excepteur veniam esse laboris eu Ut consectetur dolor aute magna est ex nulla nisi non cupidatat aliqua amet irure dolore Duis amet ad anim pariatur occaecat exercitation officia ullamco eu nulla commodo et est incididunt mollit pariatur exercitation veniam eu labore fugiat cupidatat nostrud deserunt eu.</p>
<figure class="image">
  <img alt="This is the images alt info." class="image__img" src="https://unsplash.it/1200/600">
  <cite class="image__cite">Here is the citation or photo credit for the image.</cite>
	<figcaption class="image__caption">
		<p>This is the caption for the image.</p>
	</figcaption>
</figure>
<p>Lorem ipsum Minim do adipisicing veniam consectetur fugiat aliqua eu quis esse irure tempor est eu ex officia minim reprehenderit in laborum cillum pariatur consequat quis culpa in amet Excepteur in sit laborum exercitation Ut laboris labore est aliquip nulla do quis eu est labore quis aliqua ea sint ea pariatur non Excepteur mollit id mollit Excepteur veniam do anim irure elit sint officia adipisicing dolore reprehenderit elit cillum ad amet tempor veniam id ut consequat quis do proident ut nostrud dolor sunt magna non qui dolore eiusmod ullamco exercitation ex eiusmod dolore Duis anim mollit anim esse mollit quis officia adipisicing dolore mollit ad commodo occaecat sed in ut elit minim Duis nostrud in elit id consequat Excepteur ex aliquip est sint dolore eiusmod in dolore consequat Ut proident consectetur ut dolore laborum tempor magna magna dolor ex quis veniam aliquip dolore enim non minim laboris quis amet quis dolore anim irure ad Excepteur Excepteur consectetur do sed deserunt occaecat qui eu anim veniam dolore ex aute consequat veniam qui nulla nisi eiusmod velit ad ut quis esse Ut officia irure enim exercitation aute non culpa Duis consequat magna cupidatat minim minim elit laboris.</p>
```
*/

/*doc
---
title: Image Left
name: 2image_left
category:
  - Components - Image
---

```html_example
<p>Lorem ipsum Adipisicing laborum sint mollit qui irure eiusmod aute ad proident aliqua amet dolor dolore culpa est amet cillum ex aute cupidatat officia ullamco culpa sunt velit ullamco labore Duis magna id dolor qui tempor ea dolore in commodo velit nostrud ex laboris nulla nisi aliquip ut elit Duis Duis laborum irure sit reprehenderit consequat ut ut pariatur non dolor in sint dolor labore et laborum nisi fugiat dolor cupidatat aute reprehenderit sed fugiat dolor ex eu deserunt irure sed qui elit aliquip sint aliqua et amet enim aliquip enim do elit dolor elit incididunt sed pariatur eu dolore qui consequat amet minim irure Excepteur dolore anim anim laborum dolor quis nulla officia non eiusmod non tempor culpa id voluptate consequat nostrud dolor Excepteur veniam esse laboris eu Ut consectetur dolor aute magna est ex nulla nisi non cupidatat aliqua amet irure dolore Duis amet ad anim pariatur occaecat exercitation officia ullamco eu nulla commodo et est incididunt mollit pariatur exercitation veniam eu labore fugiat cupidatat nostrud deserunt eu.</p>
<figure class="image image--left">
  <img alt="This is the images alt info." class="image__img" src="https://unsplash.it/1200/600">
  <cite class="image__cite">Here is the citation or photo credit for the image.</cite>
	<figcaption class="image__caption">
		<p>This is the caption for the image.</p>
	</figcaption>
</figure>
<p>Lorem ipsum Minim do adipisicing veniam consectetur fugiat aliqua eu quis esse irure tempor est eu ex officia minim reprehenderit in laborum cillum pariatur consequat quis culpa in amet Excepteur in sit laborum exercitation Ut laboris labore est aliquip nulla do quis eu est labore quis aliqua ea sint ea pariatur non Excepteur mollit id mollit Excepteur veniam do anim irure elit sint officia adipisicing dolore reprehenderit elit cillum ad amet tempor veniam id ut consequat quis do proident ut nostrud dolor sunt magna non qui dolore eiusmod ullamco exercitation ex eiusmod dolore Duis anim mollit anim esse mollit quis officia adipisicing dolore mollit ad commodo occaecat sed in ut elit minim Duis nostrud in elit id consequat Excepteur ex aliquip est sint dolore eiusmod in dolore consequat Ut proident consectetur ut dolore laborum tempor magna magna dolor ex quis veniam aliquip dolore enim non minim laboris quis amet quis dolore anim irure ad Excepteur Excepteur consectetur do sed deserunt occaecat qui eu anim veniam dolore ex aute consequat veniam qui nulla nisi eiusmod velit ad ut quis esse Ut officia irure enim exercitation aute non culpa Duis consequat magna cupidatat minim minim elit laboris.</p>
```
*/

/*doc
---
title: Image Right
name: 3image_right
category:
  - Components - Image
---

```html_example
<p>Lorem ipsum Adipisicing laborum sint mollit qui irure eiusmod aute ad proident aliqua amet dolor dolore culpa est amet cillum ex aute cupidatat officia ullamco culpa sunt velit ullamco labore Duis magna id dolor qui tempor ea dolore in commodo velit nostrud ex laboris nulla nisi aliquip ut elit Duis Duis laborum irure sit reprehenderit consequat ut ut pariatur non dolor in sint dolor labore et laborum nisi fugiat dolor cupidatat aute reprehenderit sed fugiat dolor ex eu deserunt irure sed qui elit aliquip sint aliqua et amet enim aliquip enim do elit dolor elit incididunt sed pariatur eu dolore qui consequat amet minim irure Excepteur dolore anim anim laborum dolor quis nulla officia non eiusmod non tempor culpa id voluptate consequat nostrud dolor Excepteur veniam esse laboris eu Ut consectetur dolor aute magna est ex nulla nisi non cupidatat aliqua amet irure dolore Duis amet ad anim pariatur occaecat exercitation officia ullamco eu nulla commodo et est incididunt mollit pariatur exercitation veniam eu labore fugiat cupidatat nostrud deserunt eu.</p>
<figure class="image image--right">
  <img alt="This is the images alt info." class="image__img" src="https://unsplash.it/600/1200/">
  <cite class="image__cite">Here is the citation or photo credit for the image.</cite>
	<figcaption class="image__caption">
		<p>This is the caption for the image.</p>
	</figcaption>
</figure>
<p>Lorem ipsum Minim do adipisicing veniam consectetur fugiat aliqua eu quis esse irure tempor est eu ex officia minim reprehenderit in laborum cillum pariatur consequat quis culpa in amet Excepteur in sit laborum exercitation Ut laboris labore est aliquip nulla do quis eu est labore quis aliqua ea sint ea pariatur non Excepteur mollit id mollit Excepteur veniam do anim irure elit sint officia adipisicing dolore reprehenderit elit cillum ad amet tempor veniam id ut consequat quis do proident ut nostrud dolor sunt magna non qui dolore eiusmod ullamco exercitation ex eiusmod dolore Duis anim mollit anim esse mollit quis officia adipisicing dolore mollit ad commodo occaecat sed in ut elit minim Duis nostrud in elit id consequat Excepteur ex aliquip est sint dolore eiusmod in dolore consequat Ut proident consectetur ut dolore laborum tempor magna magna dolor ex quis veniam aliquip dolore enim non minim laboris quis amet quis dolore anim irure ad Excepteur Excepteur consectetur do sed deserunt occaecat qui eu anim veniam dolore ex aute consequat veniam qui nulla nisi eiusmod velit ad ut quis esse Ut officia irure enim exercitation aute non culpa Duis consequat magna cupidatat minim minim elit laboris.</p>
```
*/

/*doc
---
title: Image Boxed
name: 4image_boxed
category:
  - Components - Image
---

```html_example
<p>Lorem ipsum Adipisicing laborum sint mollit qui irure eiusmod aute ad proident aliqua amet dolor dolore culpa est amet cillum ex aute cupidatat officia ullamco culpa sunt velit ullamco labore Duis magna id dolor qui tempor ea dolore in commodo velit nostrud ex laboris nulla nisi aliquip ut elit Duis Duis laborum irure sit reprehenderit consequat ut ut pariatur non dolor in sint dolor labore et laborum nisi fugiat dolor cupidatat aute reprehenderit sed fugiat dolor ex eu deserunt irure sed qui elit aliquip sint aliqua et amet enim aliquip enim do elit dolor elit incididunt sed pariatur eu dolore qui consequat amet minim irure Excepteur dolore anim anim laborum dolor quis nulla officia non eiusmod non tempor culpa id voluptate consequat nostrud dolor Excepteur veniam esse laboris eu Ut consectetur dolor aute magna est ex nulla nisi non cupidatat aliqua amet irure dolore Duis amet ad anim pariatur occaecat exercitation officia ullamco eu nulla commodo et est incididunt mollit pariatur exercitation veniam eu labore fugiat cupidatat nostrud deserunt eu.</p>
<figure class="image image--boxed">
  <img alt="This is the images alt info." class="image__img" src="https://unsplash.it/1200/800/">
  <cite class="image__cite">Here is the citation or photo credit for the image.</cite>
	<figcaption class="image__caption">
		<p>This is the caption for the image.</p>
	</figcaption>
</figure>
<p>Lorem ipsum Minim do adipisicing veniam consectetur fugiat aliqua eu quis esse irure tempor est eu ex officia minim reprehenderit in laborum cillum pariatur consequat quis culpa in amet Excepteur in sit laborum exercitation Ut laboris labore est aliquip nulla do quis eu est labore quis aliqua ea sint ea pariatur non Excepteur mollit id mollit Excepteur veniam do anim irure elit sint officia adipisicing dolore reprehenderit elit cillum ad amet tempor veniam id ut consequat quis do proident ut nostrud dolor sunt magna non qui dolore eiusmod ullamco exercitation ex eiusmod dolore Duis anim mollit anim esse mollit quis officia adipisicing dolore mollit ad commodo occaecat sed in ut elit minim Duis nostrud in elit id consequat Excepteur ex aliquip est sint dolore eiusmod in dolore consequat Ut proident consectetur ut dolore laborum tempor magna magna dolor ex quis veniam aliquip dolore enim non minim laboris quis amet quis dolore anim irure ad Excepteur Excepteur consectetur do sed deserunt occaecat qui eu anim veniam dolore ex aute consequat veniam qui nulla nisi eiusmod velit ad ut quis esse Ut officia irure enim exercitation aute non culpa Duis consequat magna cupidatat minim minim elit laboris.</p>
```
*/

/*doc
---
title: Image Lightboxed
name: 5image_lightboxed
category:
  - Components - Image
---

This is an example of how to use the [imagelightbox widget](widgets_imagelightbox.html) in conjuction with the image component.

```html_example
<p>Lorem ipsum Adipisicing laborum sint mollit qui irure eiusmod aute ad proident aliqua amet dolor dolore culpa est amet cillum ex aute cupidatat officia ullamco culpa sunt velit ullamco labore Duis magna id dolor qui tempor ea dolore in commodo velit nostrud ex laboris nulla nisi aliquip ut elit Duis Duis laborum irure sit reprehenderit consequat ut ut pariatur non dolor in sint dolor labore et laborum nisi fugiat dolor cupidatat aute reprehenderit sed fugiat dolor ex eu deserunt irure sed qui elit aliquip sint aliqua et amet enim aliquip enim do elit dolor elit incididunt sed pariatur eu dolore qui consequat amet minim irure Excepteur dolore anim anim laborum dolor quis nulla officia non eiusmod non tempor culpa id voluptate consequat nostrud dolor Excepteur veniam esse laboris eu Ut consectetur dolor aute magna est ex nulla nisi non cupidatat aliqua amet irure dolore Duis amet ad anim pariatur occaecat exercitation officia ullamco eu nulla commodo et est incididunt mollit pariatur exercitation veniam eu labore fugiat cupidatat nostrud deserunt eu.</p>
<figure class="image image--left">
  <a data-imagelightbox href="https://unsplash.it/1200/800/"><img alt="This is the images alt info." class="image__img" src="https://unsplash.it/1200/800/"></a>
  <cite class="image__cite">Here is the citation or photo credit for the image.</cite>
	<figcaption class="image__caption">
		<p>This is the caption for the image.</p>
	</figcaption>
</figure>
<p>Lorem ipsum Minim do adipisicing veniam consectetur fugiat aliqua eu quis esse irure tempor est eu ex officia minim reprehenderit in laborum cillum pariatur consequat quis culpa in amet Excepteur in sit laborum exercitation Ut laboris labore est aliquip nulla do quis eu est labore quis aliqua ea sint ea pariatur non Excepteur mollit id mollit Excepteur veniam do anim irure elit sint officia adipisicing dolore reprehenderit elit cillum ad amet tempor veniam id ut consequat quis do proident ut nostrud dolor sunt magna non qui dolore eiusmod ullamco exercitation ex eiusmod dolore Duis anim mollit anim esse mollit quis officia adipisicing dolore mollit ad commodo occaecat sed in ut elit minim Duis nostrud in elit id consequat Excepteur ex aliquip est sint dolore eiusmod in dolore consequat Ut proident consectetur ut dolore laborum tempor magna magna dolor ex quis veniam aliquip dolore enim non minim laboris quis amet quis dolore anim irure ad Excepteur Excepteur consectetur do sed deserunt occaecat qui eu anim veniam dolore ex aute consequat veniam qui nulla nisi eiusmod velit ad ut quis esse Ut officia irure enim exercitation aute non culpa Duis consequat magna cupidatat minim minim elit laboris.</p>
```
*/

/**
 * Variables
 */

$image--margin: 1em;

/**
 * Styles
 */

.image,
.image--lightboxed {
	border-bottom: 2px dashed lightgray;
	display: flex;
	flex-direction: column;
	margin: $image--margin ($image--margin * 1.5);
	padding-bottom: $image--margin;
	align-items: flex-start;

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		flex: auto;
	}

	&__cite {
		font-size: .8em;
		color: gray;
	}

	&__caption {
		font-size: 1em;
		> p:last-of-type {
			margin-bottom: 0;
		}
	}
}

.image--left,
.image--left--lightboxed {
	@media #{$medium-up} {
		max-width: 50%;
		margin-left: 0;
		float: left;
		// Mimic line height so it lines up with text
		margin-top: .5em;
	}

	.image__img {
		max-height: 40em;
	}
}

.image--left--small,
.image--left--small--lightboxed {
	@media #{$medium-up} {
		max-width: 30%;
		margin-left: 0;
		float: left;
		// Mimic line height so it lines up with text
		margin-top: .5em;
	}

	.image__img {
		max-height: 40em;
	}
}

.image--right,
.image--right--lightboxed {
	@media #{$medium-up} {
		max-width: 50%;
		margin-right: 0;
		float: right;
		// Mimic line height so it lines up with text
		margin-top: .5em;
	}	

	.image__img {
		max-height: 40em;
	}
}

.image--boxed,
.image--boxed--lightboxed {
	margin: 0;
	background: #F7F6EF;
	margin-bottom: $image--margin;
	padding: $image--margin;

	.image__img {
		align-self: center;

		& + * {
			margin-top: 1em;
		}
	}

	[data-imagelightbox] {
		display: flex;
		align-self: center;
	}
}

















