////
// FOUNDATION ACCESS COLOR SETTINGS
////

// General Styles
$bright-color:#fff;
$background-color: #f4f4f4; // body, .l-main, lmsless-bar
$dark-background-color:#333;
$accent-color: #cccccc;
$accent-border-color: #d8d8d8;

// Text Content 
$text-color: #313131;
$pullquote-color:#333;
$link-color: #008cba;

// Active Outline Navigation
$ao-button-lev1-color: #54a901;
$ao-button-lev1-hover-color: #54a901;
$ao-button-lev1-border-bottom-color: #007295;
$ao-button-lev2-color: #54a901;
$ao-button-lev2-hover-color: #54a901;
$ao-button-lev3-color: #54a901;
$ao-button-lev3-hover-color: #54a901;
$ao-border-main-color:#ccc;
$ao-border-sec-color:#efefef;

// Administraion
$admin-color: #54a901;


// Buttons
$admin-button-color: #54a901;
$admin-button-hover-color: #333;
$admin-button-link-color: #fff;
$admin-button-link-active-color: #ccc;
$admin-button-link-hover-color: #fff;

// Top Nav Bar
$topbar-color: $bright-color;
$topbar-hover-color: #f4f4f4;
$topbar-link-color: #54a901;