#block-mooc-nav-block-mooc-nav-nav.block-mooc-nav-block-mooc-nav ul li {
  padding: 0;
}

#block-mooc-nav-block-mooc-nav-nav.block-mooc-nav-block-mooc-nav ul li:hover {
  background-color: #dddddd;
}

#block-mooc-nav-block-mooc-nav-nav.block-mooc-nav-block-mooc-nav ul li a {
  display: block;
  width: 100%;
}

#block-mooc-nav-block-mooc-nav-nav {
  border:1px solid #cccccc;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#block-mooc-nav-block-mooc-nav-nav ul{
  margin: 0;
  list-style: none;
}

#block-mooc-nav-block-mooc-nav-nav li {
  clear: both;
  padding: .25rem;
}

#block-mooc-nav-block-mooc-nav-nav li.active-trail {
  background-color: #eeeeee;
}

.mooc-nav-block-left {
  float: left;
  margin-right: 1rem;
}
.mooc-nav-block-right {
  float: right;
  margin-left: 1rem;
}

.page-mooc-book-toc ul.menu {
  list-style-type: none;
}

.page-mooc-book-toc ul.menu li,
.page-mooc-book-toc ul.menu a {
  width:100%;
}

.page-mooc-book-toc ul.menu a:hover {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
}

a.mooc-helper-toc {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  line-height: 150%;
  font-size: .8rem;
  text-align: center;
  color: #222222;
  padding: 0.5rem 0.2rem;
  line-height: inherit;
  height: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

a.mooc-helper-toc span {
  padding: 0.3rem .25rem;
  font-weight: bold;
}

#block-mooc-helper-mooc-helper-toc-nav-modal a.mooc-home-button {
  float:left;
  height: 2.5rem;
  margin-right:1rem;
}

#block-mooc-helper-mooc-helper-toc-nav-modal h2 {
  margin-bottom: 2rem
}

.sub-nav dt, .sub-nav dd, .sub-nav li {
  display: inline-block;
  float: none;
}

ul.book-navigation-wrapper {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.book-menu-item-active {
  background-color: #eeeeee;
}
.book-navigation-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.book-sibling-parent-pagination-wrapper {
  margin-left: auto;
  margin-right: 3rem;
}

.book-sibling-nav-container {
  margin: 0;
  font-size: 0.8rem;
}

.book-sibling-parent-pagination-wrapper {
  float: right;
}

.book-pagination-button-text {
  display: inline-block;
}
.book-navigation-footer {
  margin: 3rem 0;
  clear:both;
}

.book-navigation-footer .book-sibling-parent-pagination-previous {
  float: left;
}

.book-navigation-footer .book-sibling-parent-pagination-next {
  float: right;
}

.book-sibling-children a {
  line-height: 2rem;
}

/* Scroll bar for breadcrumb nav that's really really long */
.book-sibling-nav-container .f-dropdown.content {
  max-width: 20rem;
  max-height: 20rem;
}
/* end scroll bar styling */

.book-sibling-nav-container .f-dropdown.content ul {
  margin: 0;
}

.book-sibling-nav-container .f-dropdown.content ul li a {
  margin: 0;
  font-size: .75rem;
  line-height: 1.5rem;
}

.book-sibling-parent-pagination a {
  border: 1px solid #aaaaaa;
  border-radius: .25rem;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #222222;
  text-align: center;
  padding: .25rem 1rem;
}

.book-sibling-parent-pagination a:hover {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
}

.book-sibling-spacer {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  padding-top: 1.5em;
  width: 1.5em;
  vertical-align: text-top;
}

.book-sibling-parent a {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  line-height: 150%;
  font-size: .8rem;
  text-align: center;
  color: #8a8a8a;
  padding: 0 .5rem;
  line-height: inherit;
  height: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.book-sibling-parent a:hover {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
}

.book-sibling-parent-text {
  color: #4c4c4c;
  max-width: 7rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  text-decoration: none;
}

.mooc-helper-toc-icon{
  width: 2.5em;
  height: 2.5em;
  margin: 0 .5rem;
}

#block-mooc-helper-mooc-helper-toc-nav-modal {
  margin:5rem auto;
  width: 80%;
  height: 80%;
}
#block-mooc-helper-mooc-helper-toc-nav-modal a {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  line-height: 150%;
  font-size: 1rem;
  color: #222222;
  text-align: center;
  color: #222222;
  padding: 0 .5rem;
  line-height: inherit;
  height: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#block-mooc-helper-mooc-helper-toc-nav-modal a:hover {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
}
#block-mooc-helper-mooc-helper-toc-nav-modal a.active-trail {
  font-weight: bold;
  background-color: #eeeeee;
}
#block-mooc-helper-mooc-helper-toc-nav-modal a.active-trail.active {
  background-color: #cccccc;
}
#block-mooc-helper-mooc-helper-toc-nav-modal a.has-children {
  font-weight: bold;
}
#block-mooc-helper-mooc-helper-toc-nav-modal ul {
  margin-left: 0;
}
#block-mooc-helper-mooc-helper-toc-nav-modal ul li ul {
  margin-left: 2rem;
}

@media all and (min-width: 960px) {
  .book-sibling-parent-1 a.active .book-sibling-parent-text {
    max-width: none;
  }
}
.book-sibling-parent-arrow {
  margin: 0 0;
  padding: 0;
  width: 0;
  height: 0;
  width: 1.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.book-sibling-parent-arrow:after {
  margin-left: 7px;
  -webkit-transform: translateY(-13%);
      -ms-transform: translateY(-13%);
          transform: translateY(-13%);
}

.book-sibling-parent-icon {
  height: 25px;
  width: 25px;
  height: 1.6rem;
  width: 1.6rem;
  margin-left: .5rem;
  margin-right: 0;
}

.book-sibling-nav-item,
.book-parent-nav-item {
  margin-right: 1rem;
}

.etb-book h3.book-parent-nav-item {
  font-size: 1rem;
}

.etb-book li {
  line-height: 2.25rem;
}

.etb-book hr.book-parent-container {
  margin: 1rem 0rem 1rem;
}

.etb-book .content-element-region {
  padding-top: .5rem;
}


@media all and (max-width: 480px) {
    .sub-nav dt, .sub-nav dd, .sub-nav li {
    display: block;
    float: none;
  }
}

@media all and (max-width: 720px) {
  .book-sibling-parent,
  .book-sibling-parent a {
    clear: both;
    width: 100%;
    max-width: none;
    text-align: left;
  }

  .book-sibling-parent a {
    padding: .5rem 0;
  }

  .book-navigation-header .book-sibling-parent-pagination {
    display: none;
  }

  .book-sibling-parent-icon {
    float: none;
    display: inline-block;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  .book-sibling-parent-arrow {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-right: .5rem;
  }

  .book-sibling-parent-text {
    max-width: none;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media all and (max-width: 720px) {
  #block-mooc-helper-mooc-helper-toc-nav-modal {
    font-size: .75rem;
  }
  .reveal-modal.etb-nav-modal, .reveal-modal.open.etb-nav-modal {
    width: 100%;
    right:0;
    padding-right: .1rem;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal {
    margin: 1.25rem auto;
    width: 95%;
    height: 95%
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal ul {
    margin-left: 0rem;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal ul li ul {
    margin-left: 1rem;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal li {
    min-width: 400px;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal a {
    height: inherit;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal a.close-reveal-modal {
    height: 1rem;
  }
  .reveal-modal {
    padding: .1rem;
  }
}

@media all and (min-width: 720px) {
  .book-sibling-parent-1 a.active {
    border-color: transparent;
    border-bottom: 3px solid #3570bf;
  }

  .book-sibling-parent-1 a.active .book-sibling-parent-text {
    color: #3570bf;
  }

  .book-sibling-parent-1 a.active:hover {
    background: transparent;
  }
  .book-sibling-parent-1 .book-sibling-parent-text {
    max-width:10rem;
  }
  .book-sibling-parent-2 .book-sibling-parent-text {
    max-width:8rem;
  }
  .book-sibling-parent-3 .book-sibling-parent-text {
    max-width:6rem;
  }
  .book-sibling-parent-4 .book-sibling-parent-text {
    max-width:4rem;
  }
  .book-sibling-parent-5 .book-sibling-parent-text {
    max-width:2rem;
  }
  .book-sibling-parent-5 .book-sibling-parent-text {
    max-width:1.5rem;
  }
  .book-sibling-parent-6 .book-sibling-parent-text {
    max-width:1.5rem;
  }
  .book-sibling-parent-7 .book-sibling-parent-text {
    max-width:1rem;
  }
  .book-sibling-parent-8 .book-sibling-parent-text {
    max-width:1rem;
  }
  .book-sibling-parent-9 .book-sibling-parent-text {
    max-width:1rem;
  }
}
