.elmsln-learning-pathway-wrapper {
  margin-top: 4rem;
  padding: 2rem;
}

.elmsln-learning-pathway-badge-wrapper {
  height: 9rem;
}
.elmsln-system-badge.elmsln-learning-pathway-badge {
 position: relative;
 top: unset;
 right: unset !important;
 height: 5.5rem;
 width: 4.5rem;
 transform: scale(2, 2) rotate(-30deg) rotateX(30deg);
 z-index: 1;
}
.elmsln-system-badge.elmsln-learning-pathway-badge:hover {
 transform: scale(2.25, 2.25);
 z-index: 100;
}
.elmsln-learning-pathway-badge .elmsln-badge {
  width: 2.5rem;
}
.elmsln-learning-pathway-badge .elmsln-badge-inner {
  width: 4rem;
}

.outline-nav-icon {
  opacity: .8;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}


#block-mooc-nav-block-mooc-nav-nav {
  padding: .5em;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: .75rem;
  background-color: #F5F5F5;
  padding: 0;
  float: none;
  margin-bottom: 2em; }
  #block-mooc-nav-block-mooc-nav-nav h3 {
    font-size: 1.2em;
    padding: .5em; }
  #block-mooc-nav-block-mooc-nav-nav ul {
    margin: 0;
    padding: 0; }
    #block-mooc-nav-block-mooc-nav-nav ul li {
      margin: 0;
      padding: 0; }
      #block-mooc-nav-block-mooc-nav-nav ul li:hover {
        background-color: transparent; }

#block-mooc-nav-block-mooc-nav-nav ul li a {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
  font-size: 1rem;
}

#block-mooc-nav-block-mooc-nav-nav lrnsys-button paper-button iron-icon,
#block-mooc-nav-block-mooc-nav-nav lrnsys-button paper-button lrn-icon {
  margin: 0;
}

#block-mooc-nav-block-mooc-nav-nav li.elmsln-book-item paper-button{
  padding-left: 1.75rem;
}
#block-mooc-nav-block-mooc-nav-nav li.elmsln-book-item.elmsln-icon paper-button,
#block-mooc-nav-block-mooc-nav-nav li.elmsln-book-item lrnsys-button.has-children paper-button{
  padding-left: .25rem;
}
.elmsln-book-item.elmsln-icon:before {
  position: absolute;
  font-size: 1.3rem;
  line-height: 2.4rem;
  margin: 0 0 0 -.4rem;
  padding: 0 0 0 0.1rem;
  height: 2.4rem;
  width: 1rem;
  vertical-align: middle;
}
#block-mooc-nav-block-mooc-nav-nav ul li a.active {
  font-weight: bold;
}
#block-mooc-nav-block-mooc-nav-nav ul li {
  background-color: #E5E5E5;
}
#block-mooc-nav-block-mooc-nav-nav ul#scrollspy-nav li {
  background-color: #FFFFFF;
}
#scrollspy-nav li {
    padding: 0;
}
#block-mooc-nav-block-mooc-nav-nav ul li.past-page {
  background-color: #F5F5F5;
}
#block-mooc-nav-block-mooc-nav-nav ul li.active-trail {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  margin: 0 -1px;
}
#block-mooc-nav-block-mooc-nav-nav ul li.last.active-trail {
  border-bottom: none;
}
#block-mooc-nav-block-mooc-nav-nav ul li:hover,
#block-mooc-nav-block-mooc-nav-nav ul li.past-page:hover {
  background-color: #FFFFFF;
}
#block-mooc-nav-block-mooc-nav-nav .block-mooc-nav-block-mooc-title {
  border-bottom: .1rem solid #000000;
  text-transform: uppercase;
  margin: 0;
  line-height: 2.5rem;
  height: 2.5rem;
  font-size: .75rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 1.25rem;
}

#scrollspy-nav .scrollspy-label {
  display: none;
  font-size: 1rem;
  font-weight: bold;
  padding-top: .5rem !important;
  margin: -3rem 0 0 0 !important;
}
#scrollspy-nav .scrollspy-link {
  padding: 0 .5rem;
  margin: 0 0 0 .25rem;
  width: calc(100% - .5rem);
}

.scrollspy-depth-3 a {
  padding-left: 1rem !important;
}
.scrollspy-depth-4 a {
  padding-left: 1.5rem !important;
}

#scrollspy-nav.pinned .scrollspy-label {
  display: block;
}
#scrollspy-nav.pinned .scrollspy-label a {
  font-weight: bold;
  font-size: 1.1rem;
}
#scrollspy-nav.pinned {
  left: 0;
  width: calc(44vw - 27%);
  z-index: 2;
}

@media only screen and (max-width: 1300px) {
  #scrollspy-nav.pinned {
    width: calc(45vw - 27%);
  }
}

@media only screen and (max-width: 990px) {
  #scrollspy-nav.pinned {
    width: calc(44vw - 18%);
  }
}

@media only screen and (max-width: 601px) {
  #scrollspy-nav.pinned {
    display:none;
  }
}

#block-mooc-nav-block-mooc-nav-nav {
  border: .1rem solid #000000;
  border-top: none;
}

#block-mooc-nav-block-mooc-nav-nav ul{
  margin: 0;
  list-style: none;
}

#block-mooc-nav-block-mooc-nav-nav li {
  clear: both;
  padding: .25rem;
}

#block-mooc-nav-block-mooc-nav-nav li.active-trail {
  background-color: #eceff1;
}

/* structure in media */
.scrollspy-toc .table-of-contents {
  max-height: 65vh;
  min-width: 10rem;
  overflow-y: scroll;
  width: calc(50vw - 52%);
  max-width: 30em;
  margin: 0;
}
/* structure in mooc */
.scrollspy-toc.table-of-contents {
  list-style-type: none;
}

.mooc-nav-block-left {
  float: left;
  margin-right: 1rem;
}
.mooc-nav-block-right {
  float: right;
  margin-left: 1rem;
}

.page-mooc-book-toc ul.menu {
  list-style-type: none;
}

.page-mooc-book-toc ul.menu a {
  width:100%;
  float: left;
  color: #222222;
  border:0;
  padding-left:1rem;
  font-weight: normal;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.page-mooc-book-toc .elmsln-content-wrap ul.menu a:hover, .page-mooc-book-toc .elmsln-content-wrap ul.menu a:focus {
  background:#efefef;
  text-decoration:underline;
}

a.mooc-helper-toc {
  font-size: .8rem;
  border-bottom: 2px solid black;
  text-align: center;
  padding: 0 0.5rem;
  line-height: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sticky-wrapper.is-sticky a.mooc-helper-toc {
  border-bottom-color: white;
}

a.mooc-helper-toc paper-button {
  padding: .0;
  min-width: 2rem;
  margin: 0;
}

.mooc-home-button {
  position: absolute;
  padding: 0 1rem;
  margin-left: 1rem;
}
.mooc-home-button i {
  margin: 0 .5rem;
  line-height: 2.5rem;
}

.sub-nav dt, .sub-nav dd, .sub-nav li {
  display: inline-block;
  float: none;
}

ul.book-navigation-wrapper {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.book-menu-item-active {
  background-color: #eceff1;
}
.book-navigation-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.book-sibling-parent-pagination-wrapper {
  margin-left: auto;
  margin-right: 3rem;
}

.book-sibling-nav-container {
  margin: 0;
  font-size: 0.8rem;
}

.book-sibling-parent-pagination-wrapper {
  float: right;
}

.book-pagination-button-text {
  display: inline-block;
}
.row .row.book-navigation-footer {
  margin: 2rem 0;
  clear:both;
}

.book-navigation-footer .book-sibling-parent-pagination-previous {
  float: left;
  font-size: .8rem;
  padding: 0;
  word-wrap: break-word;
}

.book-navigation-footer .book-sibling-parent-pagination-next {
  float: right;
  font-size: .8rem;
  padding: 0;
  word-wrap: break-word;
}

.book-sibling-children a {
  line-height: 2rem;
}

/* Scroll bar for breadcrumb nav that's really really long */
.book-sibling-nav-container .f-dropdown.content {
  max-width: 20rem;
  max-height: 20rem;
}
/* end scroll bar styling */

.book-sibling-nav-container .f-dropdown.content ul {
  margin: 0;
}

.book-sibling-nav-container .f-dropdown.content ul li a {
  margin: 0;
  font-size: .75rem;
  line-height: 1.5rem;
}

a.book-sibling-parent-pagination {
  padding: 0 .5rem;
}

.book-sibling-parent {
  display: inline-flex;
  height: 3rem;
  line-height: 3rem;
}

.book-sibling-children a,
.book-sibling-parent a {
  height: 3rem;
  line-height: 3rem;
  line-height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.book-sibling-parent a.elmsln-dropdown-button {
  border-bottom: black solid 2px;
  color: #222222;
}
.sticky-wrapper.is-sticky .book-sibling-parent a.elmsln-dropdown-button {
  border-bottom-color:white;
}

.book-sibling-parent a.elmsln-dropdown-button paper-button {
  margin: 0;
}

.book-sibling-spacer {
  vertical-align: text-top;
  font-size: 2rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 .25rem;
  margin: 0 .5rem;
}

.book-sibling-parent-text {
  max-width: 7rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  font-size: .8rem;
  font-weight: bold;
}

.mooc-helper-toc-icon{
  width: 2.5em;
  height: 2.5em;
  margin: 0 .5rem;
}

#block-mooc-helper-mooc-helper-toc-nav-modal {
  margin:2rem auto;
  width: 80%;
  height: 80%;
  padding: 0;
}
#block-mooc-helper-mooc-helper-toc-nav-modal .elmsln-book-item.elmsln-icon:before {
  margin: 0;
}
.mooc-outline-modal-content {
  padding: 2rem 2rem 0;
  overflow: scroll;
}
.page-mooc-book-toc article ul li a,
#block-mooc-helper-mooc-helper-toc-nav-modal .mooc-outline-modal-content a {
  border: .1rem solid #eceff1;
  font-size: 1rem;
  color: #222222;
  padding: 0 0 0 .25rem;
  line-height: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-mooc-book-toc article ul li a:hover,
#block-mooc-helper-mooc-helper-toc-nav-modal .mooc-outline-modal-content a:hover {
  border: 1px solid #cfd8dc;
  background-color: #eceff1;
}
#block-mooc-helper-mooc-helper-toc-nav-modal .mooc-outline-modal-content a.active-trail {
  font-weight: bold;
  background-color: #eceff1;
}
#block-mooc-helper-mooc-helper-toc-nav-modal .mooc-outline-modal-content a.active-trail.active {
  background-color: #cccccc;
}

.page-mooc-book-toc article ul,
#block-mooc-helper-mooc-helper-toc-nav-modal .mooc-outline-modal-content ul {
  margin-left: 0;
}
.page-mooc-book-toc article ul li ul,
#block-mooc-helper-mooc-helper-toc-nav-modal .mooc-outline-modal-content ul li ul {
  margin-left: 2rem;
}

.book-sibling-parent-arrow {
  margin: 0 0;
  padding: 0;
  width: 0;
  height: 0;
  width: 1.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.book-sibling-parent-arrow:after {
  margin-left: 7px;
  -webkit-transform: translateY(-13%);
      -ms-transform: translateY(-13%);
          transform: translateY(-13%);
}

.book-sibling-parent-icon {
  height: 25px;
  width: 25px;
  height: 1.6rem;
  width: 1.6rem;
  margin-left: .5rem;
  margin-right: 0;
}

.book-parent-tree {
  line-height: 3rem;
  padding: 0;
}

.book-sibling-nav-item,
.book-parent-nav-item {
  margin-right: 1rem;
}

.etb-book h3.book-parent-nav-item {
  font-size: 1rem;
}

.etb-book hr.book-parent-container {
  margin: 1rem 0rem 1rem;
}

.etb-book .content-element-region {
  padding-top: .5rem;
}

section.main-section.etb-book a.elmsln-outline-button {
    margin-left: 1rem;
}


@media all and (max-width: 480px) {
    .sub-nav dt, .sub-nav dd, .sub-nav li {
    display: block;
    float: none;
  }
}

@media all and (max-width: 720px) {

  .book-sibling-parent-icon {
    float: none;
    display: inline-block;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  .book-sibling-parent-arrow {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-right: .5rem;
  }

  .book-sibling-parent-text {
    max-width: none;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media all and (max-width: 720px) {
  #block-mooc-helper-mooc-helper-toc-nav-modal {
    font-size: .75rem;
  }
  .reveal-modal.etb-nav-modal, .reveal-modal.open.etb-nav-modal {
    width: 100%;
    right:0;
    padding-right: .1rem;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal {
    margin: 1.25rem auto;
    width: 95%;
    height: 95%
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal ul {
    margin-left: 0rem;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal ul li ul {
    margin-left: 1rem;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal li {
    min-width: 400px;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal a {
    height: inherit;
  }
  #block-mooc-helper-mooc-helper-toc-nav-modal a.close-reveal-modal {
    height: 1rem;
  }
  .reveal-modal {
    padding: .1rem;
  }
}

@media all and (min-width: 720px) {

  .book-sibling-parent-1 a.active-trail .book-sibling-parent-text {
    color: #3570bf;
  }

  .book-sibling-parent-1 a.active-trail:hover {
    background: transparent;
  }
  .book-sibling-parent-1 .book-sibling-parent-text {
    max-width:12rem;
  }
  .book-sibling-parent-2 .book-sibling-parent-text {
    max-width:10rem;
  }
  .book-sibling-parent-3 .book-sibling-parent-text {
    max-width:8rem;
  }
  .book-sibling-parent-4 .book-sibling-parent-text {
    max-width:6rem;
  }
  .book-sibling-parent-5 .book-sibling-parent-text {
    max-width:4rem;
  }
  .book-sibling-parent-5 .book-sibling-parent-text {
    max-width:2rem;
  }
  .book-sibling-parent-6 .book-sibling-parent-text {
    max-width:2rem;
  }
  .book-sibling-parent-7 .book-sibling-parent-text {
    max-width:1rem;
  }
  .book-sibling-parent-8 .book-sibling-parent-text {
    max-width:1rem;
  }
  .book-sibling-parent-9 .book-sibling-parent-text {
    max-width:1rem;
  }
}
