.book-menu-item-active {
  background-color: #eeeeee;
}
.book-navigation-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.book-sibling-parent-pagination-wrapper {
  margin-left: auto;
}

.book-sibling-nav-container {
  margin-bottom: 1rem;
}

.book-sibling-parent-pagination-wrapper {
  float: right;
}

.book-navigation-footer {
  margin: 3rem 0;
}

.book-navigation-footer .book-sibling-parent-pagination-previous {
  float: left;
}

.book-navigation-footer .book-sibling-parent-pagination-next {
  float: right;
}

.book-sibling-children a {
  line-height: 2rem;
}

.book-sibling-nav-container .f-dropdown.content {
  max-width: 300px;
}

.book-sibling-nav-container .f-dropdown.content ul {
  margin: 0;
}

.book-sibling-nav-container .f-dropdown.content ul li a {
  margin: 0;
  font-size: .75rem;
  line-height: 1.5rem;
}

.book-sibling-parent-pagination a {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  line-height: 150%;
  font-size: 1rem;
  color: #222222;
  text-align: center;
  color: #222222;
  padding: .4rem 1rem;
}

.book-sibling-parent-pagination a:hover {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
}

.book-sibling-spacer {
  color: #222;
  vertical-align: top;
  margin-top: 0.5rem;
  margin-left: .5rem;
  margin-right: .5rem;
  display: inline-block;
}

.book-sibling-parent a {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  line-height: 150%;
  font-size: .8rem;
  color: #222222;
  text-align: center;
  color: #222222;
  padding: 0 .5rem;
  line-height: inherit;
  height: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.book-sibling-parent a:hover {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
}

.book-sibling-parent-text {
  max-width: 7rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  text-decoration: none;
}

a.mooc-helper-toc {
  margin: -.75rem 1rem;
  height: 3rem;
  width: 3rem;
}
.mooc-helper-toc-icon{
  height: 3rem;
  width: 3rem;
}

#block-mooc-helper-mooc-helper-toc-nav-modal {
  margin:5rem auto;
  width: 80%;
  height: 80%;
}
#block-mooc-helper-mooc-helper-toc-nav-modal a {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  line-height: 150%;
  font-size: 1rem;
  color: #222222;
  text-align: center;
  color: #222222;
  padding: 0 .5rem;
  line-height: inherit;
  height: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#block-mooc-helper-mooc-helper-toc-nav-modal a:hover {
  border: 1px solid #dddddd;
  background-color: #eeeeee;
}
#block-mooc-helper-mooc-helper-toc-nav-modal a.active-trail {
  font-weight: bold;
  background-color: #eeeeee;
}
#block-mooc-helper-mooc-helper-toc-nav-modal a.active-trail.active {
  background-color: #cccccc;
}
#block-mooc-helper-mooc-helper-toc-nav-modal a.has-children {
  font-weight: bold;
}
#block-mooc-helper-mooc-helper-toc-nav-modal ul {
  margin-left: 0;
}
#block-mooc-helper-mooc-helper-toc-nav-modal ul li ul {
  margin-left: 2rem;
}

@media all and (min-width: 960px) {
  .book-sibling-parent-1 a.active .book-sibling-parent-text {
    max-width: none;
  }
}
.book-sibling-parent-arrow {
  margin: 0 0rem -.2rem;
  padding: .8rem;
  width: 0;
  height: 0;
}

.book-sibling-parent-icon {
  height: 25px;
  width: 25px;
  height: 1.6rem;
  width: 1.6rem;
  margin-right: .3rem;
}

.book-sibling-nav-item,
.book-parent-nav-item {
  margin-right: 1rem;
}

.etb-book h3.book-parent-nav-item {
  font-size: 1rem;
}

.book-sibling-nav-item .outline-nav-icon {
  opacity: .5;
  filter: alpha(opacity=50);
}

.book-sibling-nav-past-page .outline-nav-icon {
}

.book-sibling-nav-current-page .outline-nav-icon {
  background-color: #FFCCCC !important;
  opacity: 1;
  filter: alpha(opacity=1);
}

.book-sibling-nav-future-page .outline-nav-icon {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.etb-book hr.book-parent-container {
  margin: 1rem 0rem 1rem;
}

.etb-book .content-element-region {
  padding-top: .5rem;
}
.left-off-canvas-toggle.menu-icon {
  display: none;
}

@media all and (max-width: 720px) {
  .left-off-canvas-toggle.menu-icon {
    display: block;
  }
  .book-navigation-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }

  .book-sibling-parent,
  .book-sibling-parent a {
    clear: both;
    width: 100%;
    max-width: none;
    text-align: left;
  }

  .book-sibling-parent a {
    padding: .5rem 0;
  }

  .book-navigation-header .book-sibling-parent-pagination {
    display: none;
  }

  .book-sibling-spacer {
    display: none;
  }

  .book-sibling-parent-icon {
    float: none;
    display: inline-block;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  .book-sibling-parent-arrow {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-right: .5rem;
  }

  .book-sibling-parent-text {
    max-width: none;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media all and (min-width: 720px) {
  .book-sibling-parent-1 a.active {
    border-color: transparent;
    padding-left: 0;
    color: #008CBA;
  }

  .book-sibling-parent-1 a.active:hover {
    border-color: transparent;
    background: transparent;
  }
  .book-sibling-parent-1 .book-sibling-parent-text {
    max-width:10rem;
  }
  .book-sibling-parent-2 .book-sibling-parent-text {
    max-width:8rem;
  }
  .book-sibling-parent-3 .book-sibling-parent-text {
    max-width:6rem;
  }
  .book-sibling-parent-4 .book-sibling-parent-text {
    max-width:4rem;
  }
  .book-sibling-parent-5 .book-sibling-parent-text {
    max-width:2rem;
  }
  .book-sibling-parent-5 .book-sibling-parent-text {
    max-width:1.5rem;
  }
  .book-sibling-parent-6 .book-sibling-parent-text {
    max-width:1.5rem;
  }
  .book-sibling-parent-7 .book-sibling-parent-text {
    max-width:1rem;
  }
  .book-sibling-parent-8 .book-sibling-parent-text {
    max-width:1rem;
  }
  .book-sibling-parent-9 .book-sibling-parent-text {
    max-width:1rem;
  }
}
