; remote_watchdog make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; remote_watchdog
libraries[remote_watchdog][directory_name] = "remote_watchdog"
libraries[remote_watchdog][type] = "profile"
libraries[remote_watchdog][destination] = "../../profiles"
libraries[remote_watchdog][download][type] = "get"
libraries[remote_watchdog][download][url] = "http://ftp.drupal.org/files/projects/remote_watchdog-7.x-1.x-dev.tar.gz"
; profiler
libraries[profiler][directory_name] = "profiler"
libraries[profiler][type] = "library"
libraries[profiler][destination] = "../../profiles/remote_watchdog/libraries"
libraries[profiler][download][type] = "get"
libraries[profiler][download][url] = "http://ftp.drupal.org/files/projects/profiler-7.x-2.x-dev.tar.gz"