/*
  Textbook Style Guide
*/

/* Required list template */
div.textbook_box {
  display: block;
  margin: 1em 0px 2em 0px;
  padding: .5em;
}
div.textbook_box h3 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  float: right;
  margin-top: -10px !important;
  margin-right: -10px;
  margin-bottom: 8px;
  margin-left: 0px;
  padding: 0px 0px 8px 8px;
  background-color: #fafafa;
  border-bottom: 2px solid;
  border-left: 2px solid;
  letter-spacing: .06em;
  line-height: 1;
}
div.textbook_box_required {
  border:#f88 2px solid;
}
div.textbook_box_required h3{
  color:#f88;
}
div.textbook_box_required li:before{
  background: #f88;
}
div.textbook_box_required li:hover:before{
 font-weight:bold;
 border: .3em solid #f88;
 background: #fff;
}
/* Optional list color shift */
div.textbook_box_optional {
  border:#80c0e0 2px solid;
}
div.textbook_box_optional h3{
  color: #80c0e0;
}
div.textbook_box_optional li:before{
  background: #80c0e0;
}
div.textbook_box_optional li:hover:before{
 font-weight:bold;
 border: .3em solid #80c0e0;
 background: #fff;
}

div.textbook_box ol, div.textbook_box ul{
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0px 0px 0px 14px;
  margin: 30px 20px 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

div.textbook_box li{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .7em 0 !important;
  background: #eee;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}

div.textbook_box li:hover{
  background: #e0e0e0;
}

div.textbook_box li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1rem;
  top: 50%;
  margin-top: -1.25rem;
  height: 2rem;
  width: 2rem;
  line-height: 1.5rem;
  border: .3rem solid #fff;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem; /* future proofing */
  -khtml-border-radius: 2rem; /* for old Konqueror browsers */
  transition: all .3s ease-out;
  font-size: 1rem;
}