<h4 *ngIf="title">{{title}}</h4>

<div class="row">
  <div *ngFor="let submission of submissions" (click)="onSubmissionClick(submission)" class="col s12 m6">
   <div class="card">
    <div class="card-image">
      <img *ngIf="submission.evidence && submission.evidence.images[0] && submission.evidence.images[0].url" [src]="submission.evidence.images[0].url">
    </div>
    <div class="card-content">
      <h3>{{ submission.title }}</h3>
    </div>
    <div class="card-action">
      <div *ngIf="submission.uid === currentUserId" class="chip"> <span class="material-icons left">person</span> my submission</div>
      <div *ngIf="submission.state === 'submission_in_progress'" class="chip submission-in-progress"> <span class="material-icons left">autorenew</span> in progress </div>
      <div *ngIf="submission.state === 'submission_ready'" class="chip submission-ready"> <span class="material-icons left">done</span> complete </div>
    </div>
  </div>
</div>