.card {
  cursor: pointer;
}

.card-content .chip {
  font-size: 10px;
}

.card-action .material-icons {
  font-size: 1.4em;
  margin-top: .35em;
  margin-right: .3em;
}

.card-image {
  max-height: 15em;
  overflow: hidden;
}