; icor make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"
includes[] = "drupal-org-core.make"

; +++++ Libraries +++++

; FitVids
libraries[fitvids][directory_name] = "fitvids"
libraries[fitvids][type] = "library"
libraries[fitvids][destination] = "libraries"
libraries[fitvids][download][type] = "get"
libraries[fitvids][download][url] = "https://raw.github.com/davatron5000/FitVids.js/master/jquery.fitvids.js"

; ckeditor 4.2 + codemirror and table resize
libraries[ckeditor][download][type] = "get"
libraries[ckeditor][download][url] = "http://github.com/btopro/ckeditor4textbook/archive/2.1.zip"
libraries[ckeditor][directory_name] = "ckeditor"
libraries[ckeditor][destination] = "libraries"

; timeline
libraries[timeline][directory_name] = "timeline"
libraries[timeline][type] = "library"
libraries[timeline][destination] = "libraries"
libraries[timeline][download][type] = "get"
libraries[timeline][download][url] = "https://github.com/VeriteCo/TimelineJS/archive/master.zip"

; icor
libraries[icor][type] = "profile"
libraries[icor][destination] = "../../profiles"
libraries[icor][download][type] = "git"
libraries[icor][download][branch] = "7.x-1.x"
libraries[icor][directory_name] = "icor"
libraries[icor][download][url] = "https://github.com/drupalprojects/icor.git"
