; icor make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; Patch to allow install profile enabling to enable dependencies correctly.
projects[drupal][patch][1093420] = http://drupal.org/files/1093420-22.patch
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; FitVids
libraries[fitvids][directory_name] = "fitvids"
libraries[fitvids][type] = "library"
libraries[fitvids][destination] = "libraries"
libraries[fitvids][download][type] = "get"
libraries[fitvids][download][url] = "https://raw.github.com/davatron5000/FitVids.js/master/jquery.fitvids.js"

; timeline
libraries[timeline][directory_name] = "timeline"
libraries[timeline][type] = "library"
libraries[timeline][destination] = "libraries"
libraries[timeline][download][type] = "get"
libraries[timeline][download][url] = "https://github.com/VeriteCo/TimelineJS/archive/master.zip"
