.hax-toolbar {
  top:30%;
  bottom:30%;
  right: 0;
  position: fixed;
  z-index: 88;
  width: 20%;
  background-color: #CCCCCC;
  padding: 1rem;
}

.hax-toolbar .form-item-hax-body{
  display:none;
}

.hax-toolbar-groupname {
  font-size: .75rem;
  font-weight: bold;
  width: 100%;
  clear: both;
  text-align: center;
  float: left;
  background-color: #CCCCCC;
}

.hax-toolbar-tool {
  width: 50%;
  float: left;
  height:2rem;
  padding:.5rem .5rem .5rem 2rem;
  font-size: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
.hax-toolbar-tool:hover {
  background-color: #FF0000;
  cursor: pointer;
}