.hax-body {
  min-width: 75%;
  min-height: 10rem;
  outline: 1px solid #EEEEEE;
  margin: 2rem;
}

.hax-accessible .hax-row [data-draggable="target"], .hax-accessible .hax-row [data-draggable="item"] {
  -webkit-transition: background-color 700ms cubic-bezier(0, 0.655, 0.205, 0.995);
  -moz-transition: background-color 700ms cubic-bezier(0, 0.655, 0.205, 0.995);
  -o-transition: background-color 700ms cubic-bezier(0, 0.655, 0.205, 0.995);
  transition: background-color 700ms cubic-bezier(0, 0.655, 0.205, 0.995);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0, 0.655, 0.205, 0.995);
  -moz-transition-timing-function: cubic-bezier(0, 0.655, 0.205, 0.995);
  -o-transition-timing-function: cubic-bezier(0, 0.655, 0.205, 0.995);
  transition-timing-function: cubic-bezier(0, 0.655, 0.205, 0.995);
  /* custom */
}

/* draggable targets */
[data-draggable="target"] {
  padding: 0.5rem 0.5rem 0.5rem;
  border: 2px solid #efefef;
  border-radius: 12px;
  background: #fff;
  color: #555;
  min-height: 2.75rem;
  margin-top: 0.5rem;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"] {
  border-color: #68b;
  background: #fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover {
  outline: none;
  border: 4px solid #68b;
  color: #a4bde4;
  background: #68b;
  min-height: 2.75rem;
}
[data-draggable="target"][aria-dropeffect="move"]:focus:before,
[data-draggable="target"][aria-dropeffect="move"].dragover:before {
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  z-index: 1;
  font-size: 1rem;
  color: #fff;
  line-height: 1rem;
  content: "ENTER TO MOVE";
  display: block;
  padding: 0.25rem 0.5rem;
  height: 1.5rem;
  margin: auto auto;
  text-align: center;
  background: #333;
  border-radius: 3px;
  opacity: 0.9;
}

[data-draggable="target"][aria-dropeffect="move"]:focus [data-draggable="item"],
[data-draggable="target"][aria-dropeffect="move"].dragover [data-draggable="item"] {
  border: 2px solid #68b;
}

/* draggable items */
[data-draggable="item"] {
  padding: 1rem;
  border-radius: 0.2em;
  border: 2px dashed #efefef;
  margin: 1rem 0 1rem 0;
  /*&:last-child {
    margin:0 0 0 0;
    padding:0;
  }*/
}

/* items focus state */
[data-draggable="item"]:focus {
  outline: none;
  background: #fff;
  border: 2px solid #68b;
}
[data-draggable="item"]:focus:before {
  position: absolute;
  font-size: 1rem;
  color: #fff;
  line-height: 1rem;
  content: "SPACEBAR TO SELECT";
  display: block;
  padding: 0.25rem 0.5rem;
  height: 1.5rem;
  margin: -2.8rem auto 0;
  text-align: center;
  background: #68b;
  border-radius: 3px;
  opacity: 1;
  z-index: 1;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"] {
  background: #8ad;
  color: #fff;
  border: 2px solid #68b;
}
[data-draggable="item"][aria-grabbed="true"]:before {
  position: relative;
  font-family: "foundation-icons";
  font-size: 1rem;
  color: #68b;
  line-height: 1rem;
  content: "\f10c";
  display: block;
  padding: 0;
  height: 1rem;
  width: 1rem;
  margin: -2rem auto 1rem;
  text-align: center;
  opacity: 1;
  background: transparent;
}
[data-draggable="item"][aria-grabbed="true"]:after {
  font-family: "foundation-icons";
  font-size: 1rem;
  color: #68b;
  line-height: 1rem;
  content: "\f109";
  display: block;
  height: 1rem;
  width: 1rem;
  margin: 1rem auto -2rem;
  text-align: center;
}

[data-draggable="target"].hax-sub-target {
  padding: 1rem;
}

.hax-layout-garage [data-draggable="target"] {
  border-color: #fff;
}

.hax-layout-garage [data-draggable="item"].hax-layout-group [data-draggable="target"].hax-sub-target {
  background: #fff;
  border-color: #ececec;
  border-style: solid;
  border-radius: 0;
  border-width: 2px 1px 2px 1px;
}
.hax-layout-garage [data-draggable="item"].hax-layout-group [data-draggable="target"].hax-sub-target:first-child {
  border-radius: 4px 0px 0px 4px;
  border-width: 2px 1px 2px 2px;
}
.hax-layout-garage [data-draggable="item"].hax-layout-group [data-draggable="target"].hax-sub-target:last-child {
  border-radius: 0px 4px 4px 0px;
  border-width: 2px 2px 2px 1px;
}
.hax-layout-garage [data-draggable="item"].hax-layout-group [data-draggable="target"].hax-sub-target:only-child {
  border-radius: 4px 4px 4px 4px;
  border-width: 2px 2px 2px 2px;
}

[data-draggable="item"].hax-row.hax-layout-group {
  border: 4px solid #ececec;
  background: #ececec;
  border-radius: 12px;
  padding: 0.25rem 0.5rem;
  min-height: 3rem;
  margin-bottom: 0.5rem;
}
[data-draggable="item"].hax-row.hax-layout-group .hax-layout-group {
  border-radius: 0px;
  border: 4px solid #ececec;
  margin-bottom: 0rem;
}

[data-draggable="item"].hax-row.hax-layout-group:focus {
  border: 4px solid #68b;
  background: #ccc;
}
[data-draggable="item"].hax-row.hax-layout-group:focus:before {
  position: absolute;
  font-size: 1rem;
  color: #fff;
  line-height: 1rem;
  content: "SPACEBAR TO SELECT";
  display: inline-block;
  padding: 0.25rem 0.5rem;
  height: 1.5rem;
  margin: -1.85rem auto 0;
  text-align: center;
  background: #68b;
  border-radius: 3px;
  opacity: 1;
  z-index: 3;
}

[data-draggable="item"].hax-row.hax-layout-group[aria-grabbed="true"] {
  border: 4px solid #68b;
  padding: 0.75rem 0.5rem;
  min-height: 3rem;
  background: #8ad;
}
[data-draggable="item"].hax-row.hax-layout-group[aria-grabbed="true"]:before {
  position: relative;
  font-family: "foundation-icons";
  font-size: 1rem;
  color: #68b;
  line-height: 0.5rem;
  content: "\f10c";
  display: block;
  padding: 0;
  height: 1rem;
  width: 1rem;
  margin: -1.5rem auto 0rem;
  text-align: center;
  opacity: 1;
  background: transparent;
}
[data-draggable="item"].hax-row.hax-layout-group[aria-grabbed="true"]:after {
  font-family: "foundation-icons";
  font-size: 1rem;
  color: #68b;
  line-height: 1.5rem;
  content: "\f109";
  display: block;
  height: 1rem;
  width: 1rem;
  margin: 0rem auto -1.5rem;
  text-align: center;
}

[data-draggable="target"] [data-draggable="target"].hax-sub-target {
  margin: 0.25rem 0;
}
