.minimal-edit-buttons.in-modal {
  float:right;
  a {
    padding:0;
    margin:0;
    height:auto;
    float: left;

    .off-canvas-toolbar-item-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

// Modal Animation Settings
.reveal-modal {
  border:none;
  // @include transition(opacity,0.7s,cubic-bezier(0.01, 0.94, 0.46, 1));
  // &.open {
  //   @include transition(opacity,0.5s,cubic-bezier(0.01, 0.94, 0.46, 1));
  // }

}


.reveal-modal.etb-nav-modal {
left: -27em;
@include transition(all,0.7s,cubic-bezier(0.01, 0.94, 0.46, 1));
//opacity:0 !important;
}
.reveal-modal.open.etb-nav-modal {
left: 0;
@include transition(all,0.5s,cubic-bezier(0.01, 0.94, 0.46, 1));
}
.reveal-modal.etb-nav-modal, .reveal-modal.open.etb-nav-modal {
  width: 23.000em;//368px
  max-width: 100%;
  height:100%;
  right: 0;
  margin: 0 ;
  top:0 !important;
  overflow-y: auto;
  overflow-x: hidden;
  right: -2.500em;
  padding-right:2.500em;
  border-radius: 0;
  border: none;
  position: fixed;
  box-shadow: none;
  border-right: 1px solid darken($etb-nav-bg-color,10%);
}
.reveal-modal-bg {
    position: fixed;
    background:rgba(200,200,200,0.5);
}
.etb-nav_reveal {
  @include reveal-modal-style(
    // Sets background color of reveal modal. Default: $reveal-modal-bg or #fff
    $bg:$reveal-modal-bg,
    // Set reveal border style. Default: $reveal-border-style or solid
    $border:true,
    // Width of border (i.e. 1px). Default: $reveal-border-width.
    $border-style:$reveal-border-style,
    // Color of border. Default: $reveal-border-color.
    $border-width:$reveal-border-width,
    // Color of border. Default: $reveal-border-color.
    $border-color:$reveal-border-color,
    // Choose whether or not to include the default box-shadow. Default: true, Options: false
    $box-shadow:false,
    // Default: $reveal-position-top or 50px
    $top-offset:$reveal-position-top
  );
}
.etb-nav-modal {
  a {
    &:hover, &:active, &.active-trail, &:focus {
      font-color:$black;
      span, div {
        font-color:$black;
      }
    }
  }
  h1 {
    color:$modal-headings-color;
    font-size: rem-calc(22);
    text-align: center;
    }
  h2 {
    color:lighten($modal-headings-color, 30%);
    font-size: rem-calc(14);
    .section-id {
      color:$dark-color;
      font-size: rem-calc(12);
    }
  }
  hr {
    margin: 1rem 0 0;
    &.pad-1 {
      margin: 1rem 0 1rem;
    }
  }
  ul li {
    list-style:none;
  }
}
.account-logout {
  display:block;
}