//
// @file
// Color variables.
//

//
// Default colors
//

// Text
$color-text: #333 !default;
$color-text-light:   			tint($color-text, 50) !default;
$color-text-reverse: 			#fff !default;
$color-text-code:    			#96ff73 !default;

// Status
$color-highlight: 				#29aae2 !default;
$color-unsaved:   				#ffded0 !default;
$color-dragging:  				#feffd5 !default;
$color-success:   				#82bb41 !default;
$color-warning:   				#f79521 !default;
$color-error:     				#cb2026 !default;
$color-selected: 				#ffe !default;

// Links
$color-link:                   	#2fa6e5 !default;
$color-link-visited:           	saturate(shade($color-link, 20), 50) !default;
$color-link-hover:             	saturate(shade($color-link, 30), 60) !default;
$color-link-alternate:         	#f05724 !default;
$color-link-alternate-visited: 	saturate(shade($color-link-alternate, 20), 50) !default;
$color-link-alternate-hover:   	saturate(tint($color-link-alternate, 20), 50) !default;

// Backgrounds
$color-background:   			#fff !default;
$color-background-alternate: 	#f9f9f9 !default;
$color-background-dark: 		#303030 !default;
$color-background-highlight: 	tint($color-highlight, 90) !default;
$color-background-reverse: 		#000 !default;
$color-background-light: 		#e5e5e5;
$color-background-lighter: 		#eee;
$color-background-lightest: 	#fafafa;

// Borders
$color-border: 					#ddd !default;
$color-border-highlight: 		tint($color-highlight, 70) !default;

// Forms
$color-input-background: 		#fff !default;
$color-placeholder: 			$color-border !default;
