
<div class="row">
  <div *ngFor="let assignment of assignments" class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <div class="card-title">{{ assignment.title }}</div>
        <div class="assignment__body" [innerHTML]="assignment.body.value">
      </div>
      <div class="card-action">
        <a routerLink="/assignments/{{assignment.nid}}">View assignment</a>
      </div>
    </div>
  </div>
</div>


<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">JSON</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Raw JSON</h4>
    {{ assignments | json }}
  </div>
</div>
