<div class="submission-states">
  <ul *ngIf="states">
    <li 
      *ngFor="let item of states"
      [ngClass]="{active: item.active, canEdit: submission.metadata.canUpdate}"
      [ngStyle]="item.styles"
      (click)="onStateClick(item)"
      >
        <div class="submission-item__container">
          <i class="material-icons left">{{item.icon}}</i>
          {{item.display}}
          </div>
      </li>
  </ul>
</div>
<app-dialog [content]="dialogContent" (action)="onDialogAction($event)"></app-dialog>
<!--{{ submission | json }}-->